<div class="row">
    <div class="col xs12 sm5 md4 lg3 xl3">
        <div class="form">
            <h1>Registro</h1>
            <app-registry-form></app-registry-form>
        </div>
    </div>
    <div class="col xs0 sm7 md8 lg9 xl9">
        <div class="welcome-page">
            <div class="logo">
                <div class="title">i333</div>
                <div class="subtitle">Investment Network</div>
                <div class="description">
                    <h3>¡Ya casi!</h3>
                    Sólo faltan unos datos más para empezar a crecer
                </div>
            </div>
            <div class="background-home-image">
                <img src="assets/images/register.jpg"/>
            </div>
        </div>
    </div>
</div>
