<div class="row">
    <div class="col xs12 sm5 md4 lg3 xl3">
        <div class="form">
            <h1>Ingresar</h1>
            <app-login-form></app-login-form>
        </div>
    </div>
    <div class="col xs0 sm7 md8 lg9 xl9">
        <div class="welcome-page">
            <div class="logo">
                <div class="title">i333</div>
                <div class="subtitle">Idea - Innova - Invierte</div>
                <div class="description">
                    ¿Tienes grandes ideas o proyectos de emprendimiento pero necesitas recursos?<br>
                    ¿Sientes que las plataformas de crownfunding no son suficientes?<br>
                    ¿Y si pudierás negociar no sólo por recursos económicos, sino que también pudierás negociar recursos
                    intelectuales?<br>
                </div>
            </div>
            <div class="background-home-image">
                <img src="assets/images/home.jpg" />
            </div>
        </div>
    </div>
</div>