@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

.message {
    margin: 0px 0px 9px;
    border-radius: 3px;
    color: #f44336;
}
.form {
    position: relative;
    height: 96vh;
    background-color: #fff;
    padding-left: 9%;
    padding-top: 3.9vh;
    padding-right: 9%;
    box-shadow: 6px 0px 9px rgba($black, 0.3);
    @media only screen and (max-width: $xs) {
        height: 100vh;
        padding-top: 10%;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        height: 100vh;
        padding-top: 10%;
    }
}
.welcome-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.logo {
    text-align: center;
    width: 99%;
    margin-top: 15%;
    color: $white;
    position: absolute;
    z-index: 0;
}
.logo .title {
    font-size: 9em;
}
.logo .subtitle {
    font-size: 21px;
    margin-top: -21px;
}
.background-home-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.15;
    z-index: -1;
}
.background-home-image img {
    position: absolute;
    width: auto;
    height: 160%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.description {
    padding: 21px 60px;
    z-index: 1;
}
.link {
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.link:hover {
    color: $tertiary-color;
}
