@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

.menu {
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 6px 0px 9px rgba(0, 0, 0, 0.3);
}
.panel {
  position: relative;
  overflow-y: auto;
  width: calc(100% - 42px);
  height: 100vh;
  background: white;
  margin-left: 21px;
  margin-right: 21px;
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
  @media only screen and (max-width: $xs) {
    width: 100%;
    margin: 0px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 100%;
    margin: 0px;
  }
}
.logo-home-mobile {
  display: none;
  @media only screen and (max-width: $xs) {
    position: relative;
    display: block;
    color: $white;
    font-size: 3em;
    text-align: center;
    background-color: $primary-color;
    cursor: pointer;
    width: 100%;
    float: left;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    position: relative;
    display: block;
    color: $white;
    font-size: 3em;
    text-align: center;
    background-color: $primary-color;
    cursor: pointer;
    width: 100%;
    float: left;
  }
}
.logo-home {
  color: $white;
  font-size: 3em;
  text-align: center;
  background-color: $primary-color;
  cursor: pointer;
}
.menu-header {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 9px;
  cursor: pointer;
  transition: all 0.6s linear;
}
.menu-header fa-icon {
  color: $tertiary-color;
  font-size: 27px;
  margin-right: 6px;
}
.menu-header fa-icon:hover {
  color: $secondary-color;
  font-size: 27px;
  margin-right: 6px;
  cursor: pointer;
}
.menu-mobile {
  background: white;
  position: absolute;
  width: 81%;
  height: 100vh;
  z-index: 102;
  color: white;
  box-shadow: 0px 0px 60px black;
}
.menu-mobile ul {
  list-style: none;
  margin-top: 60px;
  padding: 0;
}
.menu-icon-mobile-retract {
  cursor: pointer;
  color: $primary-color;
  position: absolute;
  right: 15px;
  font-size: 33px;
  top: 15px;
}
li.menu-mobile-link {
  text-align: right;
  font-size: 27px;
  padding: 6px 21px;
  color: rgba(51, 51, 51, 0.9);
  cursor: pointer;
}
.menu-icon-mobile {
  top: 0;
  bottom: 0;
  left: 15px;
  position: absolute;
  z-index: 12;
  font-size: 33px;
  margin: auto;
  height: 36px;
}
.user-image {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-right: 0px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
  float: right;
  position: relative;
  outline: none;
}
.user-image img {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img.horizontal-format {
  width: auto;
  height: 100%;
}
img.vertical-format {
  width: 100%;
  height: auto;
}
.username {
  line-height: 60px;
  font-size: 21px;
  float: right;
  width: calc(100% - 78px);
  text-align: right;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
}
.tooltip-config-profile {
  outline: none;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  height: 18px;
  line-height: 18px;
  text-align: right;
  width: 100%;
  transition: all 0.3s linear;
  color: rgba($primary-color, 0.6);
}
.menu-header:hover .tooltip-config-profile {
  color: $primary-color;
}
.button-menu-mobile {
  display: none;
  @media only screen and (max-width: $xs) {
    display: block;
    position: fixed;
    width: 100%;
    height: 75px;
    background: #333333;
    color: white;
    bottom: 0;
    font-size: 33px;
    text-align: center;
    line-height: 90px;
    z-index: 102;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    display: block;
    position: fixed;
    width: 100%;
    height: 75px;
    background: #333333;
    color: white;
    bottom: 0;
    font-size: 33px;
    text-align: center;
    line-height: 90px;
    z-index: 102;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 102;
  background: rgba(255, 255, 255, 0.9);
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.menu-show {
  height: 100vh;
}

.menu-hidden {
  height: 0;
}
ul.menu-list-items {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 24px;
}
li.link {
  padding: 6px 0px;
}
.menu-section {
  position: absolute;
  width: 100%;
  height: 426px;
  margin: auto;
  top: 0;
  bottom: 0;
  font-size: 27px;
}
h2.menu-title-mobile {
  text-align: center;
  margin: 21px 0px;
}
li.link:focus,
li.link.selected {
  outline: none;
  background: #2196f3;
  color: white;
}
