<div class="row">
    <div class="col xs0 sm0 md2 lg2 xl2">
        <div class="menu">
            <div class="logo-home">i333</div>
            <div class="menu-header">
                <div class="user-image" *ngIf="userImage" [routerLink]="['/profile/user']">
                    <img [src]="userImage" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle" />
                </div>
                <div class="user-image" *ngIf="!userImage">
                    <app-loading-resource [loading]="!userImage"></app-loading-resource>
                </div>
                <div class="username" [routerLink]="['/profile/user']">
                    {{currentUser.first_name}}
                    <div class="tooltip-config-profile">Configurar Perfil</div>
                </div>
            </div>
            <!--MENÚ PARA LAPTOPS Y PANTALLAS GRANDES-->
            <app-menu [notification]="notification"></app-menu>
        </div>
    </div>

    <!--MENÚ SÓLO PARA MÓVILES-->
    <div class="col xs12 sm12 md10 lg10 xl10">
        <div class="panel">
            <div class="logo-home-mobile">
                i333
            </div>
            <router-outlet></router-outlet>
            <div class="mobile-menu" [ngClass]="showMenu?'mobile-menu menu-show':'mobile-menu menu-hidden'">
                <div class="menu-section">
                    <h2 class="menu-title-mobile">Menú</h2>
                    <ul class="menu-list-items">
                        <li class="link" [class.selected]="section==='/news'" [routerLink]="['/news']" (click)="mobileMenu()"> Inicio</li>
                        <li class="link" [class.selected]="section==='/projects'" [routerLink]="['/projects']" (click)="mobileMenu()">Proyectos</li>
                        <li class="link" [class.selected]="section==='/messages'" [routerLink]="['/messages']" (click)="mobileMenu()">Mensajes</li>
                        <li class="link" [class.selected]="section==='/shopping'" [routerLink]="['/shopping']" (click)="mobileMenu()">Comprar</li>
                        <li class="link" [class.selected]="section==='/help'" [routerLink]="['/help']" (click)="mobileMenu()">Ayuda</li>
                        <li class="link" (click)="logout()">Cerrar Sesión</li>
                    </ul>
                </div>
            </div>
            <div class="button-menu-mobile" (click)="mobileMenu()">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</div>