<div class="row">
    <div class="col xs0 sm5 md4 lg3 xl3">
        <div class="form">
            <h1>Registro</h1>
            <app-registry-form></app-registry-form>
        </div>
    </div>
    <div class="col xs12 sm7 md8 lg9 xl9">
        <div class="terms-page">
            <div class="md0 lg0 return" [routerLink]="['/registry']"><i class="fas fa-chevron-left"></i> Registrate</div>
            <h1 class="title">Términos y condiciones</h1>
            <div class="content">
                <b>Introducción</b><br>
                Bienvenido a i333.co. Este sitio web pertenece y es operado por I333 S.A.S. Al visitar nuestro sitio web y acceder a la información, recursos, servicios, productos y herramientas que ofrecemos, entiendes y aceptas adherir a los siguientes términos y condiciones, tal como figuran en estas políticas (de aquí en adelante citadas como “Acuerdo de Usuario”), además de los términos y condiciones incluidos en nuestra Política de Privacidad (para más información, por favor dirigirse a la sección Política de Privacidad que figura debajo)
                <br><br>
                <b>Este acuerdo tiene validez a partir del 14 de febrero de 2020.</b>
                <br>
                Nos reservamos el derecho a modificar este Acuerdo de Usuario ocasionalmente, sin previo aviso. Tú reconoces y aceptas que es tu responsabilidad revisar este Acuerdo de Usuario periódicamente para familiarizarte con cualquier cambio. El hecho de que continúes utilizando este sitio luego de efectuadas tales modificaciones valdrá como reconocimiento y aceptación de los términos y condiciones reformados.
                <br><br>
                <b>Uso Responsable y Conducta</b><br>
                Al visitar nuestro sitio web y acceder a la información, recursos, servicios, productos y herramientas que ofrecemos, ya sea directa o indirectamente (de aquí en adelante citados como “Recursos”), aceptas utilizar estos Recursos únicamente para los propósitos buscados, tal como lo permiten (a) los términos de este Acuerdo de Usuario, y (b) las leyes aplicables, regulaciones, pautas y prácticas online generalmente aceptadas.
                <br>
                Por lo tanto entiendes que:
                <ol>
                    <li class="li-lower-alpha">Para poder acceder a nuestros Recursos, es posible que tengas que proporcionar cierta información sobre tu persona (como identificación, detalles, de contacto, etc.) como parte del proceso de registro, o como parte de tu aptitud para utilizar tales Recursos. Aceptas que toda la información que proporciones siempre será exacta, correcta y estará actualizada. No podrá suplantar la identidad de otra persona, ni elegir nombres ofensivos o que infrinjan derechos de terceros. El hecho de no atenerse a estas normas, podría suponer la cancelación de su cuenta.</li>
                    <li class="li-lower-alpha">Eres responsable por mantener la confidencialidad de los datos de registro asociados a cualquier cuenta que utilices para acceder a nuestros Recursos. En consecuencia, eres responsable por todas las actividades que se sucedan dentro de tu cuenta/s.</li>
                    <li class="li-lower-alpha">Para crear una cuenta, deberás que tener al menos 18 años, o haber cumplido la edad legal para formalizar un contrato vinculante en su lugar de residencia. Si lo consideramos necesario, podríamos solicitarle que acredite su edad.</li>
                    <li class="li-lower-alpha">No deberas ofrecer artículos prohibidos, que violen cualquiera de las políticas, normas o directrices de i333.co, o que incumplan leyes o reglamentos en vigor.</li>
                    <li class="li-lower-alpha">No debes publicar información que conste sea falsa, engañosa o inexacta. Abstente de llevar a cabo cualquier actuación que resulte engañosa o fraudulenta.</li>
                    <li class="li-lower-alpha">El acceso (o intento de acceso) a cualquiera de nuestros Recursos por otros medios que no sean los que nosotros proveemos está terminantemente prohibido. Específicamente aceptas no acceder (o intentar acceder) a cualquiera de nuestros Recursos a través de cualquier medio automático, inmoral o no convencional.</li>
                    <li class="li-lower-alpha">Involucrarse en cualquier actividad que perturbe o interfiera con nuestros Recursos, incluyendo los servidores y/o las redes en las que nuestros Recursos están alojados o conectados, está terminantemente prohibido.</li>
                    <li class="li-lower-alpha">Cualquier intento de copiar, duplicar, reproducir, vender, comercializar o revender nuestros Recursos está terminantemente prohibido.</li>
                    <li class="li-lower-alpha">Eres el único responsable por cualquier consecuencia, pérdida o daño que podamos sufrir o en el que podamos incurrir, directa o indirectamente, como consecuencia de cualquier actividad no autorizada que realices, tal como se explicó previamente, y por ello podrás acarrear responsabilidad penal o civil.</li>
                    <li class="li-lower-alpha">
                        Podemos ofrecer diversas herramientas de comunicación abierta en nuestro sitio web, tales como comentarios en una publicación, artículos en una publicación, chat de negociaciones, foros, tableros de mensajes, grupos de discusión, diferentes servicios de social media, etc. Entiendes que generalmente no pre-visualizamos ni monitoreamos los contenidos publicados por los usuarios de estas herramientas de comunicación, lo cual implica que si eliges utilizar estas herramientas para publicar cualquier tipo de contenido en el sitio web es tu absoluta responsabilidad utilizarlas de una forma responsable y ética. Al publicar información o al utilizar cualquier herramienta de comunicación abierta, tal como se menciona previamente, te comprometes a no subir, publicar, compartir o distribuir ningún contenido que:
                        <br>
                        <ol>
                            <li class="li-lower-roman">Sea ilegal, amenazador, difamatorio, insultante, acosador, degradante, intimidatorio, fraudulento, engañoso, invasivo, racista, o que contenga cualquier tipo de lenguaje provocador, inapropiado o explícito;</li>
                            <li class="li-lower-roman">Infrinja cualquier marca registrada, patente, secreto comercial, derecho de autor, o cualquier otro derecho de propiedad de cualquiera de las partes;</li>
                            <li class="li-lower-roman">Contenga cualquier tipo de publicidad no autorizada o no solicitada;</li>
                            <li class="li-lower-roman">Se haga pasar por cualquier persona o entidad, incluyendo cualquier empleado o representante de i333.co</li>
                        </ol>
                        Tenemos el derecho, a nuestro exclusivo criterio, de eliminar cualquier contenido que consideremos que no cumple con este Acuerdo de Usuario, además de cualquier otro contenido que creamos que es ofensivo, perjudicial, soez, inexacto, o que viole cualquier derecho de autor o marca registrada de un tercero. No somos responsables por ninguna demora o falla en la remoción de tal contenido. Si publicas contenido que nosotros decidimos eliminar, estás consintiendo tal remoción, y además aceptas no presentar ningún reclamo contra nosotros.
                    </li>
                    <li class="li-lower-alpha">
                        No asumimos ninguna responsabilidad por ningún contenido publicado por ti o por un tercero en nuestro sitio web. Sin embargo, cualquier contenido que publiques utilizando cualquier herramienta de comunicación abierta en nuestro sitio web, siempre y cuando no viole o infrinja derechos o marcas registradas de terceros, es propiedad de I333 S.A.S, y como tal, nos otorga una licencia perpetua, irrevocable, internacional, libre de derechos de autor y exclusiva, para reproducir, modificar, adaptar, traducir, publicar, mostrar públicamente y/o distribuir dicho material como lo creamos conveniente. Esto únicamente se refiere y aplica para contenido publicado a través de las herramientas de comunicación abierta tal como lo describimos, y no se refiere a información proporcionada como parte del proceso de registro, necesaria para poder utilizar nuestros Recursos. Toda la información proporcionada como parte de nuestro proceso de registro se rige por nuestra Política de Privacidad.
                        <br>
                        <ol>
                            <li class="li-lower-roman">Aceptas indemnizar y eximir de toda responsabilidad a I333 S.A.S, su casa matriz y filiales, y a sus directores, funcionarios, gerentes, empleados, donantes, agentes y licenciatarios, de y ante pérdidas, gastos, daños y costos, incluyendo gastos de abogado que sean razonables, provenientes de cualquier violación de este Acuerdo de Usuario, o de la imposibilidad de cumplir con cualquier obligación vinculada a tu cuenta, en la que hayas incurrido tú o cualquier otra persona que utilice tu cuenta. Nos reservamos el derecho a defendernos de cualquier reclamo por el cual tengamos derecho a indemnización según este Acuerdo de Usuario. En ese caso, deberás proporcionarnos tal colaboración al solicitártelo de forma razonable.</li>
                        </ol>
                    </li>
                </ol>
                <br><br>
                <b>Funcionamiento de los proyectos</b><br>
                I333 S.A.S, proporciona una plataforma de financiación de proyectos creativos. Cuando un creador anuncia un proyecto en i333.co está invitando a otras personas a formalizar un contrato con él. Quien decida patrocinar, invertir o contribuir en un proyecto está aceptando la oferta del creador y, por tanto, celebrando dicho contrato.
                <br>
                I333 S.A.S no es una de las partes del contrato. El contrato es un acuerdo jurídico directo entre creadores y mecenas. A continuación se exponen los términos por los que se rige dicho acuerdo:
                <br>
                Cuando un proyecto obtiene toda la financiación que necesita, el creador ha de llevarlo a cabo y entregar todas las recompensas. Una vez realizadas dichas actuaciones, se entenderá que el creador ha cumplido su obligación frente a los mecenas.
                <br>
                A lo largo de todo el proceso, los creadores deben a sus mecenas el más alto nivel de esfuerzo, sinceridad en la comunicación y dedicación para lograr que el proyecto llegue a buen término. Al mismo tiempo, los mecenas tienen que entender que al patrocinar un proyecto están ayudando a crear algo nuevo, no encargando algo que ya existe. Pueden producirse cambios o demoras, y existe la posibilidad de que ocurra algo que impida al creador terminar el proyecto según lo prometido.
                <br>
                Si un creador no pudiera finalizar su proyecto y entregar las recompensas, se considerará que ha incumplido sus obligaciones fundamentales en virtud del presente acuerdo. Para remediar dicha situación, el creador deberá hacer cuanto esté a su alcance para lograr la conclusión del proyecto más satisfactoria posible para los mecenas. Si un creador se encontrase en la situación expuesta, a efectos de subsanarla y cumplir sus obligaciones ante los mecenas, deberá:
                <br>
                <ol>
                    <li class="li-lower-roman">publicar una actualización en la que explique qué se ha hecho, cómo se han empleado la inversión y qué le impide finalizar el proyecto según lo previsto;</li>
                    <li class="li-lower-roman">trabajar de forma diligente y de buena fe para lograr finalizar el proyecto de la forma más satisfactoria posible en el plazo comunicado a los mecenas;</li>
                    <li class="li-lower-roman">demostrar que ha empleado los recursos de inversionistas de forma adecuada y que ha realizado todos los esfuerzos posibles para finalizar el proyecto según lo prometido;</li>
                    <li class="li-lower-roman">ser sincero y abstenerse de realizar declaraciones falsas en sus comunicaciones a los mecenas; y</li>
                    <li class="li-lower-roman">ofrecer la devolución de los recursos restantes (si los hubiere) a los mecenas que no hayan recibido su recompensa (proporcionalmente a los importes que se hubieran comprometido a aportar) o explicarles cómo se van a destinar esos recursos al finalizar el proyecto de otro modo.</li>
                </ol>
                El creador es el único responsable de cumplir las promesas referentes a su proyecto. Si no pudiera cumplir los términos del presente acuerdo, los mecenas podrían emprender acciones legales contra él.
                <br>
                <b>Privacidad</b><br>
                Tu privacidad es muy importante para nosotros. Es por eso que hemos creado una Política de Privacidad diferenciada para poder explicar en detalle cómo recolectamos, manejamos, procesamos, aseguramos y almacenamos tu información privada. Nuestra política de privacidad está incluida bajo el alcance de este Acuerdo de Usuario. Para leer el documento completo de nuestra política de privacidad, haz clic <a [routerLink]="['/privacy-policies']">aquí</a>.
                <br>
                <br>
                <b>Limitación de Garantías</b><br>
                Al utilizar nuestro sitio web entiendes y aceptas que todos los Recursos que proporcionamos son “como son” y “como están disponibles”. Esto significa que no declaramos o garantizamos que:
                <ol>
                    <li class="li-lower-roman">el uso de nuestros Recursos satisfará tus necesidades o requerimientos.</li>
                    <li class="li-lower-roman">el uso de nuestros Recursos será ininterrumpido, oportuno, seguro o libre de fallas.</li>
                    <li class="li-lower-roman">la información obtenida al utilizar nuestros Recursos será exacta o fiable, y</li>
                    <li class="li-lower-roman">
                        cualquier defecto en la operación o funcionalidad de cualquiera de nuestros Recursos será reparado o corregido.
                        <br>
                        Además, entiendes y aceptas que:
                        <br>
                    </li>
                    <li class="li-lower-roman">cualquier contenido que descargues u obtengas de otra forma, como resultado de la utilización de nuestros Recursos, queda a tu entera discreción y riesgo, y que eres el único responsable en caso de que tu computadora u otros dispositivos sufran daños por cualquier pérdida de información que resulte de la descarga de tal contenido.</li>
                    <li class="li-lower-roman">ninguna información o notificación, ya sea explícita, implícita, verbal o escrita, que obtengas de I333 S.A.S. o a través de cualquier de los Recursos que proporcionamos, crea garantías o condiciones de cualquier tipo, excepto para aquellas expresamente incluidas en este Acuerdo de Usuario.</li>
                </ol>
                <br>
                <b> Limitación de Responsabilidad</b><br>
                Conjuntamente con la Limitación de Garantías expuesta previamente, comprendes y entiendes en forma expresa que cualquier reclamo contra nosotros estará limitado a la suma que hayas abonado, si la hubiere, por el uso de productos y/o servicios. I333 S.A.S no será responsable por ninguna pérdida o daño directo, indirecto, incidental, resultante o ejemplar en el que incurras como resultado de la utilización de nuestros Recursos, o como resultado de cualquier cambio, pérdida de información o alteración, cancelación, pérdida de acceso o inactividad en la medida máxima en que las leyes de limitación de responsabilidad sean de aplicación.
                <br><br>
                <b>Derechos de autor / Marcas registradas</b><br>
                Todos los contenidos y materiales que están disponibles en i333.co, incluyendo sin limitación los textos, gráficos, nombre del sitio web, código, imágenes y logos, son propiedad intelectual de I333 S.A.S, y están protegidos por las leyes aplicables de derecho de autor y marca registrada. Cualquier uso inapropiado, incluyendo sin limitación la reproducción, distribución, exhibición o transmisión de cualquier contenido de este sitio, está terminantemente prohibido, excepto que I333 S.A.S así lo autorice.
                <br>
                <br>
                <b>Cese del Uso</b><br>
                Aceptas que podemos, a nuestro exclusivo criterio, suspender o cancelar tu acceso a todas o a algunas partes de nuestro sitio web y Recursos, con o sin previo aviso y por cualquier razón, incluyendo –sin limitación– la violación de este Acuerdo de Usuario. Cualquier actividad sospechada de ser ilegal, fraudulenta o insultante será razón suficiente para dar por finalizada la relación y será remitida a las autoridades legales que corresponda. Al suspender o terminar la relación, cesa inmediatamente tu derecho a utilizar los Recursos que proveemos, y nos reservamos el derecho a eliminar o borrar cualquier información registrada en nuestro sitio, inclusive la información de cuenta o de registro.
                <br><br>
                <b>Ley Vigente</b><br>
                Este sitio web es regulado por I333 S.A.S desde nuestras oficinas ubicadas en el Departamento de Caldas, Colombia La mayoría de los países del mundo puede acceder a él. Como cada país puede tener leyes que difieran de las del pais de Colombia, al acceder a nuestro sitio web aceptas que las disposiciones y leyes de Colombia, sin tomar en cuenta el conflicto de leyes y la Convención de las de Colombia sobre Compraventa Internacional de Mercaderías, aplicarán sobre todos los asuntos relativos a la utilización de este sitio web y a la compra de cualquier servicio a través de este sitio. Además, cualquier acción que pretenda hacer cumplir el presente Acuerdo de Usuario será llevada a los tribunales de la república de Colombia. Por medio del presente aceptas la jurisdicción de dichos tribunales, y renuncias a cualquier otra jurisdicción, u objeción de foro inoportuno a dichos tribunales.
                <br><br>
                <b>Garantía</b><br>
                A MENOS QUE SE LO EXPRESE DE OTRO MODO EN EL PRESENTE, I333 S.A.S RENUNCIA EN FORMA EXPRESA A TODAS LAS GARANTÍAS Y CONDICIONES DE CUALQUIER ÍNDOLE, YA SEAN EXPLÍCITAS O IMPLÍCITAS, INCLUYENDO –SIN LIMITACIÓN– LAS GARANTÍAS Y CONDICIONES IMPLÍCITAS DE COMERCIABILIDAD, NO VIOLACIÓN E IDONEIDAD.
                <br><br>
                <b>Información de Contacto</b><br>
                Si tienes preguntas o comentarios sobre los Términos de Servicio previamente expuestos, puedes contactarnos a:
                <br>
                <br>
                <div class="address">
                    <b>I333 S.A.S</b><br>
                    Calle 2a Nro. 9-40<br>
                    Villamaría - Caldas<br>
                    Colombia<br>
                </div>
            </div>
        </div>
    </div>
</div>