@import "../../../../../../assets/site/grid.scss";
@import "../../../../../../assets/site/global.scss";

.file-upload {
    display: none;
}
.file-upload-preview {
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-bottom-right-radius: 33px;
}
img.image-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img.image-preview.horizontal-format {
    height: 102%;
    width: auto;
    @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
        height: auto;
        width: 102%;
    }
}
img.image-preview.vertical-format {
    height: auto;
    width: 102%;
}
.file-upload-preview:hover .file-upload-info.hide {
    transform: translateY(0);
}
.file-upload-info {
    width: 100%;
    height: 100%;
    background: #ffffffab;
    position: absolute;
    transition: all 0.3s linear;
}
.file-upload-info.hide {
    transform: translateY(-100%);
}
.btn-primary.btn-upload {
    width: 50%;
    text-align: center;
    font-size: 15px;
    padding: 3px 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: -1;
}
.title-container {
    position: relative;
    float: left;
    width: 100%;
    background: $primary-color;
}
.first-name {
    color: white;
    padding: 21px 21px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.first-name.short {
    font-size: 69px;
    line-height: 51px;
}
.first-name.long {
    font-size: 51px;
    line-height: 39px;
}
.first-name.very-long {
    font-size: 39px;
    line-height: 21px;
}
.user-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    float: left;
    padding: 0px 24px 21px;
    font-size: 21px;
}
.btn-config {
    position: absolute;
    color: #ffffff;
    right: 21px;
    bottom: 21px;
    cursor: pointer;
}
.change-pass {
    position: absolute;
    width: 189px;
    left: -207px;
    top: -3px;
    text-align: center;
    background: white;
    color: $primary-color;
    padding: 3px;
    border-radius: 3px;
    opacity: 1;
    height: auto;
    overflow: visible;
    transition: all 0.3s linear;
}
.change-pass::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    border-top: 9px solid transparent;
    border-left: 9px solid white;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    right: -18px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0px;
}
.change-pass.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}
