<div class="row">
    <div class="col xs12 sm12 md3 lg3 xl3">
        <input type="file" class="file-upload" #userImage (change)="onPhotoChange($event)" />
        <div [ngClass]="userImageUrl? 'file-upload-preview':'file-upload-preview white'">
            <img [src]="userImageUrl" *ngIf="userImageUrl" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle">
            <app-loading-resource [loading]="!userImageUrl"></app-loading-resource>
            <div [ngClass]="userImageUrl? 'file-upload-info hide':'file-upload-info'">
                <div (click)="userImage.click()" class="btn-primary btn-upload">Seleccionar imagen</div>
            </div>
        </div>

        <div class="image-message" *ngIf="imageValidation">
            {{imageValidation}}
        </div>
    </div>
    <div class="col xs12 sm12 md9 lg9 xl9">
        <div class="title-container">
            <div *ngIf="currentUser && currentUser.first_name" [ngClass]="(currentUser.first_name.length <= 12)? 'first-name short':(currentUser.first_name.length <= 21) && (currentUser.first_name.length > 21)?'first-name long':'first-name very-long'">{{currentUser.first_name}}</div>
            <div class="user-title" *ngIf="currentUser.title!='UNDEFINED'">{{currentUser.title}}</div>
            <div class="btn-config">
                <i class="fas fa-cog" (click)="showOptions()"></i>
                <div [routerLink]="['/change-pass']" [ngClass]="changePass?'change-pass':'change-pass hidden'">Cambiar contraseña <i class="fas fa-lock"></i></div>
            </div>
        </div>
    </div>
</div>