@import "../../../../../../assets/site/global.scss";

input.document-input.hidden {
    display: none;
}
button.btn.btn-primary.btn-add-file-document {
    width: 21%;
    float: left;
    font-size: 15px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0px;
}
.document-input {
    white-space: nowrap;
    overflow: hidden;
    width: calc(60% - 26px);
    text-overflow: ellipsis;
    float: left;
    height: 28px;
    line-height: 30px;
    border: 1px solid rgb(134 134 134);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0px 12px;
}
.btn-delete-document {
    width: calc(19% - 14px);
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 28px;
    line-height: 30px;
    background: #f44336;
    padding: 0px 6px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0000004a;
}
.btn-delete-document:hover {
    background: #ff584c;
    box-shadow: 0px 0px 6px #f443369c;
}
.document-content {
    float: left;
    width: 100%;
    margin: 6px 0px;
}
.btn-delete-document i {
    font-size: 15px;
}
span.form-message.input-file {
    position: relative;
    float: right;
}
span.form-message.input-file i {
    font-size: 15px;
    cursor: pointer;
}
span.form-message.input-file::after {
    content: "Este campo es requerido";
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    position: absolute;
    left: -150px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
    opacity: 0;
}
span.form-message.input-file:hover::after {
    left: -183px;
    opacity: 1;
}
.certificate {
    width: 100%;
    float: left;
    position: relative;
    margin: 12px 0px;
}
.certificate-title {
    width: calc(81% - 26px);
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #ababab;
    background: #f5f5f5;
    padding: 0px 12px;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btn-delete-certificate {
    width: calc((19% / 2) - 2px);
    float: left;
    text-align: center;
    height: 27px;
    line-height: 30px;
    background: #f44336;
    color: white;
    font-size: 15px;
    padding-top: 3px;
    border: 1px solid #0000005e;
    cursor: pointer;
    transition: all 0.3s linear;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-delete-certificate:hover {
    background: #ff584c;
    box-shadow: 0px 0px 6px #f443369c;
}
.btn-download-certificate {
    width: calc((19% / 2) - 2px);
    padding-top: 3px;
    height: 27px;
    float: left;
    background: $secondary-color;
    border: 1px solid $tertiary-color;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn-download-certificate:hover {
    background: #348ee8;
    color: #ffffff;
    box-shadow: 0px 0px 8px #00bcd4a1;
    border: 0.9px solid rgba(0, 0, 0, 0.47);
    text-shadow: 0px 0px 3px #0000007d;
}
.btn.btn-primary.btn-add-document{
    float: left;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin: 39px 25%;
}
.new-documents {
    float: left;
    width: 100%;
    margin: 33px 0px;
}