<ng-container *ngIf="profileForm">
    <form name="documents-form" method="post" [formGroup]="profileForm" novalidate>
        <div class="documents-container">
            <h2>Documentos</h2>
            <p class="documents-decription">Lista de documentos subidos</p>
            <div class="certificateList">
                <div class="certificate" *ngFor="let item of currentUser.certificates">
                    <div class="certificate-title">{{item.name}}</div>
                    <div class="btn-download-certificate" (click)="downloadCertificate(item)"><i class="fas fa-download"></i></div>
                    <div class="btn-delete-certificate" (click)="removeCertificate(item)"><i class="fas fa-trash-alt"></i></div>
                </div>
            </div>
            <div formArrayName="certificates" class="new-documents">
                <div *ngFor="let item of certificates.controls; let nameIndex=index" [formGroupName]="nameIndex">
                    <h3 *ngIf="nameIndex==0">Adicionar documentos</h3>
                    <p class="documents-decription" *ngIf="nameIndex==0">Adiciona diplomas, actas, certificados o cualquier documento que consideres valioso para tu hoja de vida.</p>
                    <div class="document-content">
                        <input type="file" formControlName="document" class="document-input hidden" (change)="onFileChange($event)" #fileDocument />
                        <div class="document-input" *ngIf="fileDocument.files[0]">{{fileDocument.files[0].name}}</div>
                        <div class="document-input" *ngIf="!fileDocument.files[0]">
                            <span *ngIf="item.controls.document.invalid && item.controls.document.errors.required" class="form-message input-file"><i class="fas fa-exclamation-triangle"></i></span>
                        </div>
                        <button type="button" class="btn btn-primary btn-add-file-document" (click)="fileDocument.click()"><i class="fas fa-file-upload"></i> Seleccionar</button>
                        <div class="btn-delete-document" (click)="deleteCertificate(nameIndex)"><i class="fas fa-trash-alt"></i> Quitar documento</div>
                    </div>
                </div>
                <div class="btn btn-primary btn-add-document" (click)="addCertificate()">Adicionar documento</div>

            </div>
        </div>
    </form>
</ng-container>