<ng-container *ngIf="profileForm">
    <form name="professional-profile-form" method="post" [formGroup]="profileForm" novalidate>
        <div class="professional-profile-container">
            <h2>Información Personal</h2>
            <div>
                <div class="col xs12 sm12 md5 lg4 xl4">
                    <div class="form-group name-field">
                        <label for="first-name">Nombres</label>
                        <span *ngIf="profileForm.get('first_name').invalid && profileForm.get('first_name').errors.required" class="form-message">(Este campo es requerido)</span>
                        <input type="text" class="form-control" name="first_name" formControlName="first_name" required />
                    </div>
                </div>
                <div class="col xs12 sm12 md5 lg4 xl5">
                    <div class="form-group last-name-field">
                        <label for="last-name">Apellidos</label><span *ngIf="profileForm.get('last_name').invalid && profileForm.get('last_name').errors.required" class="form-message">(Este campo es requerido)</span>
                        <input type="text" class="form-control" name="last_name" formControlName="last_name" required />
                    </div>
                </div>
                <div class="col xs12 sm12 md2 lg4 xl3">
                    <div class="form-group birth-date-field">
                        <label for="birth-date">Fecha de nacimiento</label>
                        <input type="date" class="form-control" name="birth_date" formControlName="birth_date" />
                    </div>
                </div>
                <div class="col xs12 sm12 md12 lg12 xl12">
                    <div class="form-group title-field">
                        <label for="title">Título / Actividad principal</label>
                        <input type="text" class="form-control" name="title" formControlName="title" />
                    </div>
                    <div class="form-group professional-profile-field">
                        <label for="professional-profile">Perfil profesional: ¿Quién eres? y ¿Qué valores te destacan para sobresalir ante los demás?</label>
                        <textarea class="form-control" name="professional_profile" formControlName="professional_profile"></textarea>
                        <span *ngIf="profileForm.get('professional_profile').invalid && profileForm.get('professional_profile').errors.maxlength" class="form-message">(Máx. 300 caracteres)</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-container>