@import "../../../../../../assets/site/global.scss";
@import "../../../../../../assets/site/grid.scss";

.professional-profile-container {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 27px;
    margin-bottom: 45px;
}
.professional-profile-container::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 12px;
    float: left;
    background-color: $primary-color;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.name-field,
.last-name-field,
.birth-date-field,
.title-field,
.professional-profile-field {
    width: calc(100% - 12px);
    margin: 6px;
}
