<div class="row">
    <div class="col xs12 sm12 md4 lg4 xl4">
      <div class="form">
        <h2 class="title" *ngIf="!showPassChangeMessage">¿Olvidaste la contraseña?</h2>
        <h2 class="title" *ngIf="showPassChangeMessage">Contraseña restaurada</h2>
        <p *ngIf="!passReset && !showPassChangeMessage">No hay ningún problema, enviaremos un mensaje a tu correo y desde allí podrás restablecer tu contraseña</p>
        <p *ngIf="passReset && user && !showPassChangeMessage">¡Hola <b>{{user.first_name}}</b>! Ahora puedes cambiar la contraseña llenando el siguiente formulario:</p>
        <p *ngIf="showPassChangeMessage">Se ha restaurado exitosamente tu contraseña, ahora podrás acceder nuevamente utilizando tu nueva contraseña.</p>
        <div *ngIf="!passReset && !showPassChangeMessage">
          <app-password-recovery-form></app-password-recovery-form>
        </div>
        <div *ngIf="passReset && !showPassChangeMessage">
          <app-password-reset-form (passChange)="showPassChange($event)"></app-password-reset-form>
        </div>
        <div *ngIf="showPassChangeMessage">
          <app-login-form></app-login-form>
        </div>
      </div>
    </div>
    <div class="col xs0 sm0 md8 lg8 xl8">
      <div class="welcome-page">
        <div class="logo">
          <div class="title">i333</div>
          <div class="subtitle">Idea - Innova - Invierte</div>
          <div class="description">
            ¿Tienes grandes ideas o proyectos de emprendimiento pero necesitas recursos?<br>
            ¿Sientes que las plataformas de crownfunding no son suficientes?<br>
            ¿Y si pudierás negociar no sólo por recursos económicos, sino que también pudierás negociar recursos
            intelectuales?<br>
          </div>
        </div>
        <div class="background-home-image">
          <img src="assets/images/password-recovery.jpg" />
        </div>
      </div>
    </div>
  </div>
  <app-loading-screen></app-loading-screen>