@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.value-propositions,
.customer-segments,
.customer-relationships,
.channels,
.revenue-streams,
.key-resources,
.key-activities,
.key-partners,
.cost-structure {
    float: left;
    margin: 15px;
    padding: 15px;
    width: calc(100% - 66px);
    height: calc(100% - 66px);
    border-radius: 6px;
    text-align: center;
    position: relative;
    border: 3px solid rgba(51, 51, 51, 0.9);
}

.btn.btn-primary.btn-customer-segments,
.btn.btn-primary.btn-value-propositions,
.btn.btn-primary.btn-customer-relationships,
.btn.btn-primary.btn-channel,
.btn.btn-primary.btn-revenue-streams,
.btn.btn-primary.btn-key-resources,
.btn.btn-primary.btn-key-activities,
.btn.btn-primary.btn-key-partners,
.btn.btn-primary.btn-cost-structure {
    width: calc(80% - 24px);
    margin: 0px 10.02%;
}
.value-proposition-container,
.customer-segments-container,
.customer-relationships-container,
.channels-container,
.revenue-streams-container,
.key-resources-container,
.key-activities-container,
.key-partners-container,
.cost-structure-container {
    width: calc(100% - 18px);
    background: rgba(51, 51, 51, 0.09);
    float: left;
    position: relative;
    padding: 9px;
    border-radius: 3px;
    margin: 6px 0px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

textarea.value-propositions-input,
textarea.customer-segments-input,
textarea.customer-relationships-input,
textarea.channel-input,
textarea.revenue-streams-input,
textarea.key-resources-input,
textarea.key-activities-input,
textarea.key-partners-input,
textarea.cost-structure-input {
    border: 0.9px solid rgba(0, 0, 0, 0.21);
    resize: none;
}

.delete-value-proposition,
.delete-customer-segments,
.delete-customer-relationships,
.delete-channel,
.delete-revenue-stream,
.delete-key-resources,
.delete-key-activities,
.delete-key-partners,
.delete-cost-structure {
    position: absolute;
    right: 6px;
    top: 3px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s linear;
}

.delete-value-proposition:hover,
.delete-customer-segments:hover,
.delete-customer-relationships:hover,
.delete-channel:hover,
.delete-revenue-stream:hover,
.delete-key-activities:hover,
.delete-key-partners:hover,
.delete-cost-structure:hover {
    opacity: 1;
}

br.btn-enter {
    height: 0px;
}

.section-info p {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
.step {
    position: absolute;
    top: 0;
    left: 0;
    background: #8080804d;
    border-bottom-right-radius: 21px;
    text-align: left;
    line-height: 24px;
    width: 21px;
    height: 27px;
    padding-left: 6px;
}

.section-info {
    height: 51px;
    overflow: hidden;
    transition: all 0.3s linear;
}

.section-info.more {
    height: 228px;
}

span.show-more-title {
    display: block;
    font-size: 15px;
    color: rgba(51, 51, 51, 0.6);
    line-height: 9px;
    cursor: pointer;
    width: 69px;
    margin-left: calc(50% - (69px / 2));
}

.show-more,
.show-minus {
    cursor: pointer;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 27px;
    margin-left: calc(50% - (21px / 2));
    color: rgba(51, 51, 51, 0.6);
}

.show-more:hover,
.show-minus:hover,
span.show-more-title:hover {
    color: #333333;
}

.btn {
    width: auto;
    font-size: 15px;
    padding: 3px 12px;
    text-align: center;
    float: left;
    margin-right: 6px;
}
.form-invalid-message {
    margin: 12px 0px;
    color: #f44336;
}
.submit-form {
    float: left;
    width: 100%;
    margin: 18px 0px;
}
