<ng-container>
    <form name="form" [formGroup]="projectForm" (ngSubmit)="save()" novalidate>
        <div class="row same-height">
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="customer-segments">
                    <div class="step"> 1 </div>
                    <h3>Segmento de clientes</h3>
                    <div [ngClass]="showMoreCustomerSegments?'section-info more':'section-info'">
                        <p>Describe las principales características de tus clientes como el sector dónde viven, que les gusta, que edad tienen, a que comunidades pertenecen, en que sector trabajan o cualquier característica que consideres sea relevante para el negocio.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreCustomerSegments = true" *ngIf="!showMoreCustomerSegments">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreCustomerSegments = false" *ngIf="showMoreCustomerSegments">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreCustomerSegments = true" *ngIf="!showMoreCustomerSegments"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreCustomerSegments = false" *ngIf="showMoreCustomerSegments"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="customer_segments">
                            <div *ngFor="let customerSegments of CustomerSegments.controls; let nameIndex=index" [formGroupName]="nameIndex" class="customer-segments-container">
                                <div class="delete-customer-segments" (click)="deleteCustomerSegments(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Segmento de clientes: </label>
                                <textarea formControlName="description" class="customer-segments-input"></textarea>
                                <span *ngIf="customerSegments.controls.description.invalid && customerSegments.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-customer-segments" (click)="addCustomerSegments()"><span>Adicionar segmento de<br class="btn-enter">clientes</span></div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="value-propositions">
                    <div class="step"> 2 </div>
                    <h3>Propuesta de valor</h3>
                    <div [ngClass]="showMoreValueProposition?'section-info more':'section-info'">
                        <p>Una Frase clara, simple, sencilla, que explique el porque tu producto o servicio es esencial para el segmento de clientes definido en el paso anterior, en que te diferencias de la competencia y como ayudas a tus clientes a resolver sus problemas.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreValueProposition = true" *ngIf="!showMoreValueProposition">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreValueProposition = false" *ngIf="showMoreValueProposition">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreValueProposition = true" *ngIf="!showMoreValueProposition"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreValueProposition = false" *ngIf="showMoreValueProposition"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="value_propositions">
                            <div *ngFor="let valueProposition of ValuePropositions.controls; let nameIndex=index" [formGroupName]="nameIndex" class="value-proposition-container">
                                <div class="delete-value-proposition" (click)="deleteValuePropositions(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Propuesta de valor: </label>
                                <textarea formControlName="description" class="value-propositions-input"></textarea>
                                <span *ngIf="valueProposition.controls.description.invalid && valueProposition.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-value-propositions" (click)="addValuePropositions()"><span>Adicionar propuesta de<br class="btn-enter">valor</span></div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="channels">
                    <div class="step"> 3 </div>
                    <h3>Canales</h3>
                    <div [ngClass]="showMoreChannels?'section-info more':'section-info'">
                        <p>Se resuelve la manera en que se establece contacto con los clientes. Se consideran variables como la información, evaluación, compra, entrega y postventa. Para cada producto o servicio que identificado en el paso anterior hay que definir el canal de su distribución adecuado, añadiendo como información el ratio de éxito del canal y la eficiencia de su costo.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreChannels = true" *ngIf="!showMoreChannels">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreChannels = false" *ngIf="showMoreChannels">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreChannels = true" *ngIf="!showMoreChannels"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreChannels = false" *ngIf="showMoreChannels"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="channels">
                            <div *ngFor="let channel of Channels.controls; let nameIndex=index" [formGroupName]="nameIndex" class="channels-container">
                                <div class="delete-channel" (click)="deleteChannel(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Canal: </label>
                                <textarea formControlName="description" class="channel-input"></textarea>
                                <span *ngIf="channel.controls.description.invalid && channel.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-channel" (click)="addChannel()"><span>Adicionar <br class="btn-enter">canal</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row same-height">
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="customer-relationships">
                    <div class="step"> 4 </div>
                    <h3>Relación con tus clientes</h3>
                    <div [ngClass]="showMoreCustomerRelationships?'section-info more':'section-info'">
                        <p>Aquí se identifican cuáles recursos de tiempo y monetarios se utiliza para mantenerse en contacto con los clientes. Por lo general, si un producto o servicio tiene un costo alto, entonces los clientes esperan tener una relación más cercana con nuestra empresa.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreCustomerRelationships = true" *ngIf="!showMoreCustomerRelationships">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreCustomerRelationships = false" *ngIf="showMoreCustomerRelationships">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreCustomerRelationships = true" *ngIf="!showMoreCustomerRelationships"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreCustomerRelationships = false" *ngIf="showMoreCustomerRelationships"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="customer_relationships">
                            <div *ngFor="let customerRelationships of CustomerRelationships.controls; let nameIndex=index" [formGroupName]="nameIndex" class="customer-relationships-container">
                                <div class="delete-customer-relationships" (click)="deleteCustomerRelationships(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Comunicación con cliente: </label>
                                <textarea formControlName="description" class="customer-relationships-input"></textarea>
                                <span *ngIf="customerRelationships.controls.description.invalid && customerRelationships.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-customer-relationships" (click)="addCustomerRelationships()"><span>Adicionar relación con tus<br class="btn-enter">clientes</span></div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="revenue-streams">
                    <div class="step"> 5 </div>
                    <h3>Fuentes de ingresos</h3>
                    <div [ngClass]="showMoreRevenueStreams?'section-info more':'section-info'">
                        <p>Este paso tiene como objetivo identificar que aportación monetaria hace cada grupo y saber de donde vienen las entradas (ventas, comisiones, licencias, etc.). Así se podrá tener una visión global de cuáles grupos son más rentables y cuáles no.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreRevenueStreams = true" *ngIf="!showMoreRevenueStreams">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreRevenueStreams = false" *ngIf="showMoreRevenueStreams">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreRevenueStreams = true" *ngIf="!showMoreRevenueStreams"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreRevenueStreams = false" *ngIf="showMoreRevenueStreams"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="revenue_streams">
                            <div *ngFor="let revenueStream of RevenueStreams.controls; let nameIndex=index" [formGroupName]="nameIndex" class="revenue-streams-container">
                                <div class="delete-revenue-stream" (click)="deleteRevenueStream(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Fuente de ingreso: </label>
                                <textarea formControlName="description" class="revenue-streams-input"></textarea>
                                <span *ngIf="revenueStream.controls.description.invalid && revenueStream.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-revenue-streams" (click)="addRevenueStream()"><span>Adicionar fuente de<br class="btn-enter">ingresos</span></div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="key-resources">
                    <div class="step"> 6 </div>
                    <h3>Recursos clave</h3>
                    <div [ngClass]="showMoreKeyResources?'section-info more':'section-info'">
                        <p>Después de haber trabajado con los clientes, hay que centrarse en la empresa. Para ello, hay que utilizar los datos obtenidos anteriormente, seleccionar la propuesta de valor más importante y relacionarla con el segmento de clientes, los canales de distribución, las relaciones con los clientes, y los flujos de ingreso. Así, saber cuáles son los recursos clave que intervienen para que la empresa tenga la capacidad de entregar tu oferta o propuesta de valor.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreKeyResources = true" *ngIf="!showMoreKeyResources">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreKeyResources = false" *ngIf="showMoreKeyResources">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreKeyResources = true" *ngIf="!showMoreKeyResources"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreKeyResources = false" *ngIf="showMoreKeyResources"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="key_resources">
                            <div *ngFor="let keyResources of KeyResources.controls; let nameIndex=index" [formGroupName]="nameIndex" class="key-resources-container">
                                <div class="delete-key-resources" (click)="deleteKeyResource(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Recurso clave: </label>
                                <textarea formControlName="description" class="key-resources-input"></textarea>
                                <span *ngIf="keyResources.controls.description.invalid && keyResources.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-key-resources" (click)="addKeyResource()"><span>Adicionar <br class="btn-enter">recurso clave</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row same-height">
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="key-activities">
                    <div class="step"> 7 </div>
                    <h3>Actividades clave</h3>
                    <div [ngClass]="showMoreKeyActivities?'section-info more':'section-info'">
                        <p>Describe las principales características de tus clientes como el sector dónde viven, que les gusta, que edad tienen, a que comunidades pertenecen, en que sector trabajan o cualquier característica que consideres sea relevante para el negocio.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreKeyActivities = true" *ngIf="!showMoreKeyActivities">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreKeyActivities = false" *ngIf="showMoreKeyActivities">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreKeyActivities = true" *ngIf="!showMoreKeyActivities"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreKeyActivities = false" *ngIf="showMoreKeyActivities"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="key_activities">
                            <div *ngFor="let keyActivity of KeyActivities.controls; let nameIndex=index" [formGroupName]="nameIndex" class="key-activities-container">
                                <div class="delete-key-activities" (click)="deleteKeyActivity(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Actividad clave: </label>
                                <textarea formControlName="description" class="key-activities-input"></textarea>
                                <span *ngIf="keyActivity.controls.description.invalid && keyActivity.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-key-activities" (click)="addKeyActivity()"><span>Adicionar <br class="btn-enter">actividad clave</span></div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="key-partners">
                    <div class="step"> 8 </div>
                    <h3>Socios clave</h3>
                    <div [ngClass]="showMoreKeyPartners?'section-info more':'section-info'">
                        <p>Fundamental es realizar alianzas estratégicas entre empresas, Joint Ventures, gobierno, proveedores, etc. En este apartado se describe a los proveedores, socios, y asociados con quienes se trabaja para que la empresa funcione. ¿Qué tan importantes son? ¿se pueden reemplazar? ¿pueden convertir en competidores?</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreKeyPartners = true" *ngIf="!showMoreKeyPartners">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreKeyPartners = false" *ngIf="showMoreKeyPartners">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreKeyPartners = true" *ngIf="!showMoreKeyPartners"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreKeyPartners = false" *ngIf="showMoreKeyPartners"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="key_partners">
                            <div *ngFor="let keyPartner of KeyPartners.controls; let nameIndex=index" [formGroupName]="nameIndex" class="key-partners-container">
                                <div class="delete-value-proposition" (click)="deleteKeyPartner(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Socios clave: </label>
                                <textarea formControlName="description" class="key-partners-input"></textarea>
                                <span *ngIf="keyPartner.controls.description.invalid && keyPartner.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-key-partners" (click)="addKeyPartner()"><span>Adicionar <br class="btn-enter">socios clave</span></div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg4 xl4 clearfix">
                <div class="cost-structure">
                    <div class="step"> 9 </div>
                    <h3>Estructura de costos</h3>
                    <div [ngClass]="showMoreCostStructure?'section-info more':'section-info'">
                        <p>Aquí se especifican los costos de la empresa empezando con el más alto (marketing, R&D, CRM, producción, etc.). Luego se relaciona cada costo con los bloques definidos anteriormente, evitando generar demasiada complejidad. Posiblemente, se intente seguir el rastro de cada costo en relación con cada segmento de cliente para analizar las ganancias.</p>
                    </div>
                    <span class="show-more-title" (click)="showMoreCostStructure = true" *ngIf="!showMoreCostStructure">...<br>Ver más</span>
                    <span class="show-more-title" (click)="showMoreCostStructure = false" *ngIf="showMoreCostStructure">...<br>Ver menos</span>
                    <div class="show-more" (click)="showMoreCostStructure = true" *ngIf="!showMoreCostStructure"><i class="fas fa-chevron-down"></i></div>
                    <div class="show-minus" (click)="showMoreCostStructure = false" *ngIf="showMoreCostStructure"><i class="fas fa-chevron-up"></i></div>
                    <div class="form-group">
                        <div formArrayName="cost_structure">
                            <div *ngFor="let costStructure of CostStructure.controls; let nameIndex=index" [formGroupName]="nameIndex" class="cost-structure-container">
                                <div class="delete-cost-structure" (click)="deleteCostStructure(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Estructura de costos: </label>
                                <textarea formControlName="description" class="cost-structure-input"></textarea>
                                <span *ngIf="costStructure.controls.description.invalid && costStructure.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-cost-structure" (click)="addCostStructure()"><span>Adicionar estructura de <br class="btn-enter">costos</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-form">
            <div class="form-invalid-message" *ngIf="WostMatrixInvalid">
                ¡Por favor complete todos los campos!
            </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</ng-container>