<div class="about-content">
    <h2>¿Quiénes somos?</h2>
    <div class="row">
        <div class="col xs12 sm12 md3 lg3 xl3">
            <div class="about-image">
                <img src="./assets/images/about.jpg" />
            </div>
        </div>
        <div class="col xs12 sm12 md9 lg9 xl9">
            <div class="description">
                <div class="about-intro">
                    I333 es una nueva forma de realizar tus ideas y potenciarlas con ayuda de personas, profesionales y expertos
                    con los conocimientos necesarios para impulsar tu idea hasta lo más alto del mercado.
                </div>
                <div class="about-description">
                    Nuestra plataforma está equipada con las mejores herramientas para buscar asesoramiento, patrocionadores, inversionistas, recursos,
                    equipo freelance y realizar ventas de manera eficiente y eficaz.
                    <br><br>
                    Somos un equipo de profesionales con alto nivel y calidad, con el fin de brindar un asesoramiento y acompañamiento
                    en los aspectos necesarios, para que puedas impulsar tu nueva idea de emprendimiento.
                </div>
            </div>
        </div>
    </div>
</div>