@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

h2,
p {
    padding: 0px 15px;
}
.about-image {
    position: relative;
    width: calc(100% - 30px);
    height: 300px;
    overflow: hidden;
    margin: 15px;
}
.about-image img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-content {
    width: calc(100% - 66px);
    padding: 33px;
    float: left;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
        margin-bottom: 90px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
        margin-bottom: 90px;
    }
}
.description {
    padding: 15px;
    padding-right: 45px;
    @media only screen and (max-width: $xs) {
        padding-right: 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        padding-right: 15px;
    }
}
.about-intro {
    float: left;
    width: 100%;
    font-size: 21px;
    font-weight: 501;
    text-align: justify;
    margin-bottom: 21px;
}
.about-description {
    text-align: justify;
}
