<div class="row">
    <div class="col xs0 sm5 md4 lg3 xl3">
        <div class="form">
            <h1>Registro</h1>
            <app-registry-form></app-registry-form>
        </div>
    </div>
    <div class="col xs12 sm7 md8 lg9 xl9">
        <div class="privacy-page">
            <div class="md0 lg0 return" [routerLink]="['/registry']"><i class="fas fa-chevron-left"></i> Registrate</div>
            <h1 class="title">Política de privacidad</h1>
            <div class="content">
                <h3>¿Quiénes somos?</h3>
                <p>
                    I333 S.A.S, es una empresa que presta servicios para ayudar a la puesta en marcha de proyectos creativos. Nuestro principal servicio consiste en una plataforma de asesoramiento, inversión, financiación y búsqueda de recursos para proyectos creativos.
                </p>
                <br><br>
                <h3>¿Qué información recolectamos?</h3>
                <p>
                    Recolectamos información tuya cuando te registras en nuestro sitio, llenas un formulario o navegas nuestro sitio.
                    Cuando te registres en nuestro sitio te pediremos que ingreses: tu nombres, apellidos, tu dirección de correo electrónico y la creación de una nueva contraseña.<br><br>
                    También recolectaremos información para completar tu hoja de vida o perfil, como título o carrera universitaria, estudios realizados, un breve estracto profesional, experiencia laboral y una fotografía de perfil. Los datos incluidos dentro del perfil no son obligatorios,
                    pero ayudan a posicionar la publicación de tu proyecto. Recomendamos no adicionar información que no desees que sea pública.
                </p>
                <br><br>
                <h3>¿Cómo usamos éstos datos?</h3>
                <p>La información recabada será usada para los siguientes propósitos:</p>
                <ul>
                    <li>Velar por la seguridad de tu cuenta; y proteger nuestros Servicios (incluida la verificación de la identidad de los creadores y la prevención de fraudes y abusos);</li>
                    <li>Poder prestarte nuestros Servicios y posibilitar la mejora y promoción de los mismos;</li>
                    <li>Crear y administrar tu cuenta, contactarte y personalizar su experiencia en I333 (por ejemplo, para mostrarle proyectos que estimemos de tu interés en base a anteriores búsquedas); y</li>
                    <li>Llevar un seguimiento y analizar el uso de los Servicios a efectos de poder mejorar los resultados de I333 y brindar a los usuarios la mejor experiencia posible.</li>
                </ul>
                <br><br>
                <h3>¿Cómo protegemos tu información?</h3>
                <p>
                    Implementamos una serie de medidas de seguridad para mantener protegida tu información personal cada vez que ingresas, envías o accedes a tu información personal.

                    Utilizamos un servidor seguro. Toda la información sensible es transmitida a través de tecnología Secure Socket Layer (SSL). Enseguida es encriptada en nuestra Base de Datos para que sólo puedan acceder quienes posean permisos específicos a nuestros sistemas, y se les exige que mantengan la confidencialidad de esa información.
                </p>
            </div>
        </div>
    </div>
</div>