@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

.form {
    position: relative;
    width: 82%;
    height: 96.1vh;
    background-color: white;
    overflow-y: auto;
    padding-left: 9%;
    padding-top: 3.9vh;
    padding-right: 9%;
    box-shadow: 6px 0px 9px rgba(0, 0, 0, 0.3);
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
    }
}
.privacy-page {
    background: white;
    width: calc(100% - 60px);
    margin: 0px 30px;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 6px;
    }
    @media only screen and (max-width: $xs) {
        width: 100%;
        margin: 0px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: 100%;
        margin: 0px;
    }
}
.content {
    margin: 33px 60px 90px 60px;
}
h1.title {
    padding: 33px 60px 0px;
}
.return {
    cursor: pointer;
    right: 33px;
    margin: 33px 0px;
    color: #0969a5;
    border-bottom: 1px solid;
    text-align: right;
    padding: 6px;
    outline: none;
}
