h2,
p {
    padding: 0px 15px;
}
.new-project-container {
    position: relative;
    float: left;
    width: calc(100% - 66px);
    padding: 33px;
}
.return {
    position: absolute;
    cursor: pointer;
    right: 33px;
    top: 36px;
    margin-right: 15px;
    color: #0969a5;
    border-bottom: 1px solid;
}
