<div class="new-project-container">
    <div class="return" [routerLink]="['/projects']"><i class="fas fa-chevron-left"></i> Mis proyectos</div>
    <h2>Nuevo proyecto</h2>
    <p>Crea un nuevo proyecto de emprendimiento y publicalo para empezar la búsqueda de recursos. ¡Es sencillo! Sólo debes llenar los campos en el siguiente formulario</p>
    <app-project-form></app-project-form>
</div>
<app-loading-screen></app-loading-screen>