<div class="fq-page">
    <h2>Preguntas frecuentes</h2>
    <p> ¿Tienes alguna pregunta? Tal vez encuentres las respuestas a tus preguntas en el siguiente listado: </p>
    <ul>
        <li>
            <div class="answer">¿Cómo publico un nuevo proyecto para buscar recursos?</div>
            <div class="response">
                <b>¡Sencillo!</b> Solo debes seguir los siguientes pasos:
                <ol>
                    <li>Selecciona en el menú la opción "Proyectos"</li>
                    <li>Haz clic en el botón con nombre "Nuevo Proyecto"</li>
                    <li>Llena los datos de tu proyecto en el formulario</li>
                    <li>Guarda los cambios cuando estés seguro</li>
                    <li>¡Listo! ya está creado tu proyecto</li>
                </ol>
            </div>
        </li>
        <li>
            <div class="answer">¿Cómo inicio una negociación?</div>
            <div class="response">
                Después de buscar y encontrar el proyecto con el cuál deseas negociar, debes hacer los siguiente:
                <ol>
                    <li>Una vez seleccionado el proyecto, haz clic en el botón "Iniciar negociaciones"</li>
                    <li>Inicia la negociación enviando un mensaje, para lo cuál debes seleccionar el tipo de mensaje, ya sea mensaje, propuesta o pregunta</li>
                    <li>Escribe tu mensaje y haz clic en el bottón enviar <i class="fas fa-paper-plane"></i></li>
                    <li>Una vez enviado el mensaje, deberás esperar una respuesta del propietario del proyecto</li>
                </ol>
            </div>
        </li>
        <li>
            <div class="answer">¿Cómo sé que no robaran mi idea?</div>
            <div class="response">
                Asegurate de sólo publicar un pitch, breves descripciones de tus productos y/o servicios, no publiques información
                que consideres es relevante y hace que sea un producto o servicio diferente a los demás y lo más importante, asegurate
                de firmar un contrato que garantice la seguridad de tu idea, recuerda que siempre puedes adquirir nuestros servicios de
                asesoramiento, acompañamiento y consultoria para obtener los mejores negocios para tu proyecto.
            </div>
        </li>
        <li>
            <div class="answer">¿Cómo sé que mi inversión será prospera?</div>
            <div class="response">
                Nuestro sistema en desarrollo tiene como objetivo brindar herramientas para hacer seguimientos de ventas, de tal
                manera que los inversionistas de una idea podrán ver estadísticas de inversionistas, ventas y pedidos realizadas del proyecto.
            </div>
        </li>
        <li>
            <div class="answer">¿Cómo puedo vender mis productos y servicios?</div>
            <div class="response">
                Próximamente podrás adquirir una afiliación, donde podrás disfrutar los servicios de acompañiamiento, asesoramiento, consultoria,
                posicionamiento, ventas online y mucho más.
            </div>
        </li>
        <li>
            <div class="answer">¿No encuentras la pregunta y respuesta que necesitas?</div>
            <div class="response">
                ¡Contáctanos, envíanos tu pregunta y respuesta y nosotros responderemos en el menor tiempo posible!
            </div>
        </li>
    </ul>
</div>