@import "../../../../../assets/site/grid.scss";

h2,
p {
    padding: 0px 15px;
}
.fq-page {
    width: calc(100% - 66px);
    padding: 33px;
    float: left;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
        margin-bottom: 90px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
        margin-bottom: 90px;
    }
}
.answer {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 6px;
}
