@import "../../../../assets/site/global.scss";

.star-rating-container {
    width: 150px;
    float: left;
}
.star-icon {
    float: right;
    padding-right: 9px;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.3s linear;
    width: 21px;
    height: 21px;
}
.star-icon {
    position: relative;
    @extend %fa-icon;
    @extend .fas;

    &:after {
        content: fa-content($fa-var-star);
    }
    &:before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-star);
        color: #0969a573;
        position: absolute;
        font-size: 0px;
        text-align: center;
        left: 33%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.15s linear;
    }
    &:hover {
        & ~ .star-icon:after,
        &:after {
            color: $secondary-color;
            content: fa-content($fa-var-star);
        }
    }
}
.star-icon:active {
    &:before {
        color: #cae9fd73;
        font-size: 66px;
    }
}
.star-icon.star-5.selected,
.star-icon.star-4.selected,
.star-icon.star-3.selected,
.star-icon.star-2.selected,
.star-icon.star-1.selected {
    & ~ .star-icon:after,
    &:after {
        color: $secondary-color;
        content: fa-content($fa-var-star);
    }
}
