<div class="star-rating-container">
    <div [ngClass]="rating && rating==5?'star-icon star-5 selected':'star-icon star-5'" (click)="qualify(5)">
    </div>
    <div [ngClass]="rating && rating==4?'star-icon star-4 selected':'star-icon star-4'" (click)="qualify(4)">
    </div>
    <div [ngClass]="rating && rating==3?'star-icon star-3 selected':'star-icon star-3'" (click)="qualify(3)">
    </div>
    <div [ngClass]="rating && rating==2?'star-icon star-2 selected':'star-icon star-2'" (click)="qualify(2)">
    </div>
    <div [ngClass]="rating && rating==1?'star-icon star-1 selected':'star-icon star-1'" (click)="qualify(1)">
    </div>
</div>