<div class="profile-public-container">
    <div class="header-container">
        <div class="row">
            <div class="col xs5 sm3 md3 lg3">
                <div class="photo-user">
                    <img [src]="imgURL" *ngIf="imgURL" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle">
                    <div class="photo-user-loading" *ngIf="!imgURL">
                        <app-loading-resource [loading]="!imgURL"></app-loading-resource>
                    </div>
                </div>
            </div>
            <div class="col xs7 sm9 md9 lg9">
                <div class="title">
                    <div *ngIf="user && user.first_name && user.last_name" [ngClass]="(user.first_name + user.last_name).length>30?'first-name short':'first-name large'">{{(user.first_name + user.last_name).length>45?((user.first_name + user.last_name) | slice:0:45)+'...':(user.first_name +" "+ user.last_name)}}</div>
                    <div *ngIf="user && user.title" class="user-title">{{user.title.length>150?(user.title | slice:0:150)+'...':user.title}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-profile">
        <div class="row">
            <div class="col lg-right xs12 sm12 md12 lg9">
                <div class="professional-profile" *ngIf="user && user.professional_profile">
                    {{user.professional_profile}}
                </div>

                <div class="academic-training" *ngIf="user && user.academic_training">
                    <h3>Formación académica</h3>
                    <div *ngFor="let academic_training of user.academic_training">
                        <p>
                            <b>Título: </b>{{academic_training.academic_title}}<br>
                            <b>Fecha de inicio: </b>{{academic_training.start_date | date: 'MMMM d'}} de {{academic_training.start_date | date: 'yyyy'}}<br>
                            <b>Fecha de finalización: </b>
                            <ng-container *ngIf="academic_training.end_date">{{academic_training.end_date | date: 'MMMM d'}} de {{academic_training.end_date | date: 'yyyy'}}<br></ng-container>
                        </p>
                    </div>
                </div>

                <div class="skills" *ngIf="user && user.skills">
                    <h3>Hábilidades / Conocimientos</h3>
                    <div *ngFor="let skill of user.skills" class="skill-card">
                        <div class="name"><b>{{skill.name}}</b></div>
                        <div class="level">Nivel: {{skill.level}}</div>
                    </div>
                </div>

                <div class="laboral-experiences" *ngIf="user && user.laboral_experiences">
                    <h3>Experiencia laboral</h3>
                    <div *ngFor="let experience of user.laboral_experiences">
                        <p>
                            <b>Institución: </b>{{experience.institution}}<br>
                            <b>Descripción: </b>{{experience.description}}<br>
                            <b>Fecha de inicio: </b>{{experience.start_date | date: 'MMMM d'}} de {{experience.start_date | date: 'yyyy'}}<br>
                            <b>Fecha de finalización: </b>
                            <ng-container *ngIf="experience.end_date">{{experience.end_date | date: 'MMMM d'}} de {{experience.end_date | date: 'yyyy'}}<br></ng-container>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col lg-right xs12 sm12 md12 lg3" *ngIf="currentUser.role=='ENTREPRENEUR'">
                <div class="qualification">
                    <div class="votes-num">{{score?score:0}}</div>
                    <span class="votes-text">Calificación General</span>
                </div>
                <div class="qualify">
                    <p class="rate-text">Califica el experto y brindanos tu opinión abajo en los comentarios</p>
                    <div class="rate" *ngIf="rating && user._id != currentUser._id">
                        <app-ratings [rating]="rating.qualification" (qualification)="qualify($event)"></app-ratings>
                    </div>
                </div>
                <ng-container *ngIf="user && user._id">
                    <div class="btn btn-primary contact" [routerLink]="['/messages']" [queryParams]="{'id': user._id}">
                        Contactar
                    </div>
                </ng-container>
            </div>
            <div class="col xs12 sm12 md12 lg12" *ngIf="currentUser.role=='ENTREPRENEUR'">
                <div class="comments">
                    <app-comments [expert]="user" [commentator]="currentUser"></app-comments>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading-screen></app-loading-screen>