@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

.profile-public-container {
    width: 100%;
    height: auto;
    float: left;
}
.photo-user-loading {
    margin: auto;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 234px;
    background-color: white;
}
.photo-user {
    float: left;
    width: 100%;
    height: 234px;
    position: relative;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    transition: all 0.3s linear;
}
.photo-user img {
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%) translateX(-50%);
}
img.horizontal-format {
    height: 100%;
    width: auto;
}
img.vertical-format {
    width: 100%;
    height: auto;
}
.header-container {
    width: 100%;
    float: left;
    height: 153px;
    background: #333;
    @media only screen and (max-width: $xs) {
        background: #181818;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        background: #181818;
    }
}
.title {
    position: relative;
    color: #fff;
    float: left;
    width: 100%;
    @media only screen and (max-width: $xs) {
        margin-top: 21px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        margin-top: 21px;
    }
}
.first-name {
    padding: 18px 33px 0px;
    width: calc(100% - 66px);
    height: calc((153px / 2) - 12px);
    line-height: calc((153px / 2) - 12px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 18px);
        padding: 0px 9px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 24px);
        padding: 0px 12px;
    }
}
.first-name.short {
    font-size: 36px;
}
.first-name.large {
    font-size: 45px;
}
.user-title {
    padding: 0px 33px;
    font-size: 21px;
    width: calc(100% - 66px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 18px);
        padding: 0px 9px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 24px);
        padding: 0px 12px;
    }
}

.content-profile {
    float: left;
    margin: 81px 0px;
}
.academic-training,
.skills,
.laboral-experiences,
.professional-profile {
    float: left;
    width: calc(100% - 99px);
    padding-top: 33px;
    padding-right: 99px;
    text-align: justify;
    white-space: pre-line;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 24px);
        padding: 12px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 66px);
        padding: 33px;
    }
    @media only screen and (min-width: $md-min) and (max-width: $md-max) {
        width: calc(100% - 66px);
        padding: 33px;
    }
}

.skill-card {
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    float: left;
    padding: 6px;
    margin-top: 18px;
    margin-right: 6px;
}
.skills .level {
    float: left;
    background: #4caf50;
    border-radius: 3px;
    padding: 0px 6px;
    margin: 6px 0px;
    color: white;
}
.qualification {
    position: relative;
    float: left;
    width: 100%;
}

.votes-num {
    width: 60%;
    height: 63px;
    margin: 45px 20% 0px;
    line-height: 63px;
    text-align: center;
    font-size: 90px;
    @media only screen and (max-width: $xs) {
        margin: 21px 20% 0px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        margin: 21px 20% 0px;
    }
}
span.votes-text {
    display: block;
    width: 100%;
    text-align: center;
}
.qualify {
    float: left;
    text-align: center;
    padding: 33px;
    @media only screen and (max-width: $xs) {
        margin-bottom: 75px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        margin-bottom: 75px;
    }
}
.rate {
    width: 150px;
    margin: 0px calc(50% - (150px / 2));
    float: left;
}
.comments {
    position: relative;
    float: left;
    width: 60%;
    margin: 45px 20% 75px;
    padding-top: 33px;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 12px);
        margin: 45px 6px 75px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 24px);
        margin: 45px 12px 75px;
    }
}
.comments::after {
    content: "";
    position: absolute;
    width: 166%;
    height: 3px;
    top: 0;
    left: -33%;
    background-color: #333333;
}
.btn.btn-primary.contact {
    text-align: center;
    width: 111px;
    font-size: 15px;
    padding: 3px 0px;
    float: left;
    margin: 15px calc(50% - (113px / 2));
}
