@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.btn {
    width: auto;
    font-size: 15px;
    padding: 3px 12px;
    text-align: center;
    float: left;
    margin-right: 6px;
}
.location {
    float: left;
    width: calc(100% - 18px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 6px 9px;
    margin-bottom: 9px;
}
.delete-location {
    float: right;
    cursor: pointer;
}
.country,
.state,
.city {
    position: relative;
    width: 90%;
}
label.arrow-select {
    width: 24px !important;
    height: 24px;
    position: absolute;
    right: 3px;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    pointer-events: none;
}
