<ng-container *ngIf="projectForm">
    <form name="form" [formGroup]="projectForm" novalidate>
        <div class="locations">Ubicaciones. ¿Dónde está tu negocio?</div>
        <div formArrayName="locations">
            <div *ngFor="let location of Locations.controls; let nameIndex=index" [formGroupName]="nameIndex">
                <div class="location">
                    <div class="delete-location" (click)="deleteLocation(nameIndex);sendChanges()"><i class="fas fa-times"></i></div>
                    <div class="row">
                        <div class="col xs12 sm4 md4 lg4 xl4">
                            <div class="country">
                                <label>País</label>
                                <select type="text" class="form-control" name="country" formControlName="country" (change)="getStates($event.target.value);sendChanges();">
                                    <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col xs12 sm4 md4 lg4 xl4">
                            <div class="state">
                                <label>Departamento</label>
                                <select type="text" class="form-control" name="state" formControlName="state" (change)="getCities($event.target.value);sendChanges();">
                                    <option *ngFor="let state of states[nameIndex]" [value]="state.id" [selected]="location.controls.state.id==state.id">{{state.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col xs12 sm4 md4 lg4 xl4">
                            <div class="city">
                                <label>Ciudad</label>
                                <select type="text" class="form-control" name="city" formControlName="city" (change)="sendChanges();">
                                    <option *ngFor="let city of cities[nameIndex]" [value]="city.id" [selected]="location.controls.city.id==city.id">{{city.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn btn-primary btn-add-location" (click)="addLocation()"><span>Adicionar ubicación</span></div>
        </div>
    </form>
</ng-container>