@import "../../../../../assets/site/grid.scss";

.project-dashboard-container {
    position: relative;
    float: left;
    width: calc(100% - 66px);
    padding: 33px;
    @media only screen and (max-width: $xs) {
        padding-bottom: 120px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        padding-bottom: 120px;
    }
}
h2,
p,
span {
    padding: 0px 15px;
}
.tool-card {
    text-align: center;
    width: calc(90% - 12px);
    margin: 6px 5%;
    padding: 6px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s linear;
}
.tool-card:hover {
    background-color: #0969a5;
    border: 1px solid #064973;
    color: white;
}
.project-description {
    width: calc(100% - 30px);
    float: left;
    padding: 15px;
}
.project-image {
    position: relative;
    background-color: #333333;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 3px;
    float: left;
}
.project-image img {
    width: 120%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.btn.btn-primary.edit-project {
    float: left;
    font-size: 13px;
    padding: 3px 6px;
    width: 60px;
    text-align: center;
}
.title {
    margin: 0px 15px;
    float: left;
    width: calc(100% - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn.btn-primary.edit-project {
    float: left;
    font-size: 13px;
    padding: 3px 6px;
    width: 60px;
    text-align: center;
    margin: 6px 15px;
}
.btn.btn-primary.select-project {
    font-size: 15px;
    padding: 3px 9px;
    margin-left: 15px;
    width: 450px;
    text-align: center;
}
.return {
    position: absolute;
    cursor: pointer;
    right: 33px;
    top: 36px;
    margin-right: 15px;
    color: #0969a5;
    border-bottom: 1px solid;
    @media only screen and (max-width: $xs) {
        position: initial;
        margin-bottom: 12px;
        text-align: right;
        padding-bottom: 6px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        position: initial;
        margin-bottom: 12px;
        text-align: right;
        padding-bottom: 6px;
    }
}
