<div class="project-dashboard-container">
    <div class="return" [routerLink]="['/projects']"><i class="fas fa-chevron-left"></i> Mis proyectos</div>
    <h2>Tablero del proyecto</h2>
    <div class="project-description" *ngIf="project">
        <div class="project-image" *ngIf="projectImageUrl">
            <img [src]="projectImageUrl" />
        </div>
        <div class="title">{{project.title}}</div>
        <div class="btn btn-primary edit-project" [routerLink]="['/edit-project']" [queryParams]="{id: project._id}"><i class="fas fa-edit"></i> Editar</div>
    </div>
    <p>Encuentra en ésta sección todo lo necesario para administrar tu proyecto de emprendimiento.</p>
    <div class="row" *ngIf="project">
        <div class="col xs12 sm12 md6 lg6">
            <div class="tool-card">
                <i class="fas fa-user-tie"></i>
                <span>Asesores</span>
            </div>
        </div>
        <!--
        <div class="col xs12 sm12 md6 lg6">
            <div class="tool-card" [routerLink]="['/projects/products']" [queryParams]="{id: project._id}">
                <i class="fas fa-shopping-bag"></i>
                <span>Productos</span>
            </div>
        </div>
        <div class="col xs12 sm12 md4 lg4">
            <div class="tool-card">
                <i class="fas fa-cart-arrow-down"></i>
                <span>Pedidos</span>
            </div>
        </div>
        <div class="col xs12 sm12 md4 lg4">
            <div class="tool-card">
                <i class="far fa-handshake"></i>
                <span>Inversionistas</span>
            </div>
        </div>
        <div class="col xs12 sm12 md4 lg4">
            <div class="tool-card">
                <i class="fas fa-user"></i>
                <span>Clientes</span>
            </div>
        </div>
        <div class="col xs12 sm12 md4 lg4">
            <div class="tool-card">
                <i class="fas fa-barcode"></i>
                <span>Facturación</span>
            </div>
        </div>
        -->
    </div>
    <div *ngIf="!project" class="btn btn-primary select-project" [routerLink]="['/projects']">
        ¡Primero debes seleccionar un proyecto para poder continuar!
    </div>
</div>
<app-loading-screen></app-loading-screen>