<ng-container *ngIf="projectForm">
    <form name="form" [formGroup]="projectForm" (ngSubmit)="save()" novalidate>
        <div class="row same-height">
            <div class="col xs12 sm12 md6 lg6 xl6 clearfix">
                <div class="weaknesses">
                    <div [ngClass]="!factorWeknessesHelp?'factor internal':'factor internal hidden'" (click)="factorWeknessesHelp=true;">Factor Interno</div>
                    <div [ngClass]="factorWeknessesHelp? 'help factor-weaknesses internal': 'help factor-weaknesses hidden'" (click)="factorWeknessesHelp=false">¿Qué debilidades tiene tu negocio?</div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-add-weaknesses" (click)="addWeaknesses()"><span>Adicionar debilidad</span></div>
                    </div>
                    <div class="form-group">
                        <div formArrayName="weaknesses">
                            <div *ngFor="let weakness of Weaknesses.controls; let nameIndex=index" [formGroupName]="nameIndex" class="weaknesses-container internal">
                                <div class="delete-weakness" (click)="deleteWeaknesses(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Debilidad: </label>
                                <input formControlName="description" class="weaknesses-description" />
                                <span *ngIf="weakness.controls.description.invalid && weakness.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                                <span *ngIf="weakness.controls.description.invalid && weakness.controls.description.errors.required" class="form-message"> (Este campo es requerido)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg6 xl6 clearfix">
                <div class="strengths">
                    <div [ngClass]="!factorStrengthsHelp?'factor internal':'factor internal hidden'" (click)="factorStrengthsHelp=true;">Factor Interno</div>
                    <div [ngClass]="factorStrengthsHelp? 'help factor-strengths internal': 'help factor-strengths hidden'" (click)="factorStrengthsHelp=false;">¿Qué fortalezas tiene tu negocio?</div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-add-strengths" (click)="addStrength()"><span>Adicionar fortaleza</span></div>
                    </div>
                    <div class="form-group">
                        <div formArrayName="strengths">
                            <div *ngFor="let strength of Strengths.controls; let nameIndex=index" [formGroupName]="nameIndex" class="strength-container internal">
                                <div class="delete-strength" (click)="deleteStrength(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Fortaleza: </label>
                                <input formControlName="description" class="strengths-description" />
                                <span *ngIf="strength.controls.description.invalid && strength.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                                <span *ngIf="strength.controls.description.invalid && strength.controls.description.errors.required" class="form-message"> (Este campo es requerido)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row same-height">
            <div class="col xs12 sm12 md6 lg6 xl6 clearfix">
                <div class="opportunities">
                    <div [ngClass]="!factorOpportunitiesHelp?'factor external':'factor external hidden'" (click)="factorOpportunitiesHelp=true;">Factor Externo</div>
                    <div [ngClass]="factorOpportunitiesHelp? 'help factor-opportunities external': 'help factor-opportunities hidden'" (click)="factorOpportunitiesHelp=false;">¿Qué oportunidades hay en el entorno para tu negocio?</div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-add-opportunities" (click)="addOpportunities()"><span>Adicionar oportunidad</span></div>
                    </div>
                    <div class="form-group">
                        <div formArrayName="opportunities">
                            <div *ngFor="let opportunity of Opportunities.controls; let nameIndex=index" [formGroupName]="nameIndex" class="opportunities-container external">
                                <div class="delete-opportunity" (click)="deleteOpportunities(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Oportunidad: </label>
                                <input formControlName="description" class="opportunities-description" />
                                <span *ngIf="opportunity.controls.description.invalid && opportunity.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                                <span *ngIf="opportunity.controls.description.invalid && opportunity.controls.description.errors.required" class="form-message"> (Este campo es requerido)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col xs12 sm12 md6 lg6 xl6 clearfix">
                <div class="threats">
                    <div [ngClass]="!factorThreatsHelp?'factor external':'factor external hidden'" (click)="factorThreatsHelp=true;">Factor Externo</div>
                    <div [ngClass]="factorThreatsHelp?'help factor-threats external':'help factor-threats hidden'" (click)="factorThreatsHelp=false;">¿Qué amenazas hay en el entorno para tu negocio?</div>
                    <div class="form-group">
                        <div class="btn btn-primary btn-add-threats" (click)="addThreats()"><span>Adicionar amenaza</span></div>
                    </div>
                    <div class="form-group">
                        <div formArrayName="threats">
                            <div *ngFor="let threat of Threats.controls; let nameIndex=index" [formGroupName]="nameIndex" class="threats-container external">
                                <div class="delete-threat" (click)="deleteThreats(nameIndex)"><i class="fas fa-times"></i></div>
                                <label>Amenaza: </label>
                                <input formControlName="description" class="threats-description" />
                                <span *ngIf="threat.controls.description.invalid && threat.controls.description.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                                <span *ngIf="threat.controls.description.invalid && threat.controls.description.errors.required" class="form-message"> (Este campo es requerido)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-form">
            <div class="form-invalid-message" *ngIf="WostMatrixInvalid">
                ¡Por favor complete todos los campos!
            </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</ng-container>