@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.btn {
    width: auto;
    font-size: 15px;
    padding: 3px 12px;
    text-align: center;
    float: left;
    margin-right: 6px;
}
.strengths,
.weaknesses,
.opportunities,
.threats {
    position: relative;
    width: calc(100% - 24px);
    height: calc(100% - 66px);
    float: left;
    padding: 21px 0px;
    margin: 12px 12px;
    border-radius: 6px;
}
.opportunities,
.threats {
    border: 3px solid #6db3de69;
}
.weaknesses,
.strengths {
    border: 3px solid #8bc34a6b;
}
.btn.btn-primary.btn-add-strengths,
.btn.btn-primary.btn-add-weaknesses,
.btn.btn-primary.btn-add-opportunities,
.btn.btn-primary.btn-add-threats {
    width: 160px;
    margin: 0 calc(50% - 93px);
}
.weaknesses-container,
.opportunities-container,
.strength-container,
.threats-container {
    position: relative;
    float: left;
    width: calc(100% - 90px);
    margin: 3px 15px;
    padding: 12px 30px;
    border: 1px solid #8080802b;
    border-radius: 6px;
    background: #3333331a;
}
.delete-weakness,
.delete-opportunity,
.delete-strength,
.delete-threat {
    position: absolute;
    width: 15px;
    text-align: center;
    line-height: 15px;
    height: 15px;
    right: 9px;
    top: 6px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s linear;
}

.delete-weakness:hover,
.delete-opportunity:hover,
.delete-strength:hover,
.delete-threat:hover {
    opacity: 1;
}
.form-invalid-message {
    margin: 12px 0px;
    color: #f44336;
}
.submit-form {
    float: left;
    width: 100%;
    margin: 18px 0px;
}
.factor {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 132px;
    height: 24px;
    margin: auto;
    left: 0;
    right: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    line-height: 27px;
    font-size: 15px;
}
.internal {
    background-color: #cee6b3;
    cursor: pointer;
    transition: all 0.3s linear;
}
.external {
    background-color: #c3e0f1;
    cursor: pointer;
    transition: all 0.3s linear;
}
.help.factor-weaknesses,
.help.factor-strengths,
.help.factor-opportunities,
.help.factor-threats {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 24px;
    line-height: 25.2px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.help.factor-weaknesses.hidden,
.help.factor-strengths.hidden,
.help.factor-opportunities.hidden,
.help.factor-threats.hidden,
.factor.internal.hidden,
.factor.external.hidden {
    opacity: 0;
    height: 0px;
    overflow: hidden;
}
