@import "../../../../../../assets/site/grid.scss";

.references-container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 33px;
}
.reference-content {
    float: left;
    width: calc(90% - 6px);
    padding: 2.5%;
    margin: 2.5%;
    border: 3px solid #d6d6d6;
    border-radius: 9px;
}
.form-group.first-name-reference-field,
.form-group.last-name-reference-field,
.form-group.title-reference-field,
.form-group.position-reference-field,
.form-group.phone-reference-field {
    width: calc(100% - 12px);
    margin: 0px 6px;
}
.danger-area {
    margin: 12px 0px 0px;
    width: 100%;
    float: left;
}
.btn-delete-reference {
    float: right;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
}
.btn-delete-reference:hover {
    background: #f44336;
    color: white;
    padding: 0px 21px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.btn.btn-primary.btn-add-experience {
    float: left;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin: 39px 25%;
}
