<ng-container *ngIf="profileForm">
    <form name="references-form" method="post" [formGroup]="profileForm" novalidate>
        <div class="references-container">
            <h2>Referencias laborales</h2>
            <div formArrayName="references">
                <div *ngFor="let item of references.controls; let nameIndex=index" [formGroupName]="nameIndex" class="col xs12 sm12 md12 lg6 xl6">
                    <div class="reference-content">
                        <div class="row">
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group first-name-reference-field">
                                    <label>Nombres: </label>
                                    <input formControlName="first_name" />
                                    <span *ngIf="item.controls.first_name.invalid && item.controls.first_name.errors.required" class="form-message"> (Campo requerido)</span>
                                    <span *ngIf="item.controls.first_name.invalid && item.controls.first_name.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                                </div>
                            </div>
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group last-name-reference-field">
                                    <label>Apellidos: </label>
                                    <input formControlName="last_name" />
                                    <span *ngIf="item.controls.last_name.invalid && item.controls.last_name.errors.required" class="form-message"> (Campo requerido)</span>
                                    <span *ngIf="item.controls.last_name.invalid && item.controls.last_name.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col xs12 sm12 md12 lg6 xl6">
                                <div class="form-group title-reference-field">
                                    <label>Título: </label>
                                    <input formControlName="title" />
                                    <span *ngIf="item.controls.title.invalid && item.controls.title.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                                </div>
                            </div>
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group position-reference-field">
                                    <label>Cargo: </label>
                                    <input formControlName="position" />
                                    <span *ngIf="item.controls.position.invalid && item.controls.position.errors.maxlength" class="form-message"> (Máx. 120 caracteres)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group phone-reference-field">
                                <label>Teléfono 1: </label>
                                <input formControlName="phone1" />
                                <span *ngIf="item.controls.phone1.invalid && item.controls.phone1.errors.required" class="form-message"> (Campo requerido)</span>
                                <span *ngIf="item.controls.phone1.invalid && item.controls.phone1.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group phone-reference-field">
                                <label>Teléfono 2: </label>
                                <input formControlName="phone2" />
                                <span *ngIf="item.controls.phone2.invalid && item.controls.phone2.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                            </div>
                        </div>
                        <div class="danger-area">
                            <div class="btn-delete-reference" (click)="deleteReference(nameIndex)">Quitar referencia <i class="fas fa-trash-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-primary btn-add-experience" (click)="addReference()">Adicionar referencia</div>
            </div>
        </div>
    </form>
</ng-container>