<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

<ng-container *ngIf="sendRequest"><span *ngIf="loginForm.invalid" class="form-message">Por favor complete todos los campos</span></ng-container>
<form name="login-form" method="post" [formGroup]="loginForm" (ngSubmit)="login()" novalidate id="loginForm">
    <div class="form-group">
        <label for="username">Correo</label>
        <ng-container *ngIf="sendRequest"><span *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors.required" class="form-message"> (Campo requerido)</span><span *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors.email && !loginForm.get('email').errors.required" class="form-message"> (Correo inválido)</span></ng-container>
        <input type="email" class="form-control" name="email" formControlName="email" required />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <ng-container *ngIf="sendRequest"><span *ngIf="loginForm.get('password').invalid && loginForm.get('password').errors.required" class="form-message"> (Campo requerido)</span></ng-container>
        <input type="password" class="form-control" name="password" formControlName="password" required />
    </div>
    <div class="form-group">
        <div class="message" *ngIf="message">{{message}}</div>
        <button class="btn btn-primary">Ingresar</button> <br />

        <button title="LinkedIn" class="btn btn-primary" (click)="loginWithLinkedin()" type="button"><i class="fab fa-linkedin fa-fw"></i> Ingresa con LinkedIn</button>

        <div class="link">
            <a [routerLink]="['/registry']">Registrarse</a>
        </div>
        <div class="link">
            <a [routerLink]="['/password-recovery']">Olvide mi contraseña</a>
        </div>
    </div>
</form>
<div class="contact-link">
    <a [routerLink]="['/contact']">Contacto i333</a>
</div>
<app-loading-screen></app-loading-screen>

