@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.contact-link {
    position: absolute;
    bottom: 33px;
    cursor: pointer;
    @media only screen and (max-width: $xs) {
        position: relative;
        float: left;
        margin-top: 45px;
        width: 100%;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        position: relative;
        float: left;
        margin-top: 45px;
        width: 100%;
    }
}
.link {
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.link:hover {
    color: $tertiary-color;
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
}
.btn-linkedin:link,
.btn-linkedin:visited {
    color: #fff;
}
.btn-linkedin:active,
.btn-linkedin:hover {
    background: #084461;
    color: #fff;
}
.message {
    text-align: center;
    margin: 12px 0px;
    color: #f44336;
    border: 3px solid #f44336;
    border-radius: 6px;
    padding: 6px 12px;
}
