@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Chela+One");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rokkitt:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$Slabo: "Slabo 27px", serif;
$Chela-One: "Chela One", cursive;
$Noto-Serif: "Noto Serif", serif;
$Crimson-Text: "Crimson Text", serif;
$Rokkitt: "Rokkitt", serif;
$Raleway: "Raleway", sans-serif;

@import url("https://use.fontawesome.com/releases/v5.12.0/css/all.css");
@import "../fonts/FontAwesome/scss/fontawesome.scss";
@import "../fonts/FontAwesome/scss/solid.scss";
@import "../fonts/FontAwesome/scss/brands.scss";
