/* 
    Title: Dasaaf Grid
    Version: 2.0
    Created on : 2/05/2018, 06:06:47 PM
    Author     : Dasaaf
*/
$xs: 599px; //extra small

$sm-min: 600px; //small medium
$sm-max: 959px; //small medium

$md-min: 960px; //medium
$md-max: 1279px; //medium

$lg-min: 1280px; //large
$lg-max: 1878px; //large

$xl-min: 1879px; //extra large
$xl-max: 5000px; //extra large

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.same-height {
  display: flex;
  overflow: hidden;
  @media only screen and (max-width: $sm-max) {
    display: initial;
    overflow: initial;
  }
}
.row {
  float: left;
  width: 100%;
}
.col {
  float: left;
  transition: all 0.3s linear;
}

//================> XS
.xs-right {
  @media only screen and (max-width: $xs) {
    float: right;
  }
}
.xs0 {
  @media only screen and (max-width: $xs) {
    width: 0;
    height: 0;
    padding: 0px !important;
    overflow: hidden;
  }
}
.xs1 {
  @media only screen and (max-width: $xs) {
    width: calc(100% / 12);
  }
}
.xs2 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 2);
  }
}
.xs3 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 3);
  }
}
.xs4 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 4);
  }
}
.xs5 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 5);
  }
}
.xs6 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 6);
  }
}
.xs7 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 7);
  }
}
.xs8 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 8);
  }
}
.xs9 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 9);
  }
}
.xs10 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 10);
  }
}
.xs11 {
  @media only screen and (max-width: $xs) {
    width: calc((100% / 12) * 11);
  }
}
.xs12 {
  @media only screen and (max-width: $xs) {
    width: 100%;
  }
}

//================> SM
.sm-right {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    float: right;
  }
}
.sm0 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 0;
    height: 0;
    padding: 0px !important;
    overflow: hidden;
  }
}
.sm1 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc(100% / 12);
  }
}
.sm2 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 2);
  }
}
.sm3 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 3);
  }
}
.sm4 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 4);
  }
}
.sm5 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 5);
  }
}
.sm6 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 6);
  }
}
.sm7 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 7);
  }
}
.sm8 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 8);
  }
}
.sm9 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 9);
  }
}
.sm10 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 10);
  }
}
.sm11 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: calc((100% / 12) * 11);
  }
}
.sm12 {
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 100%;
  }
}

//===============> MD
.md-right {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    float: right;
  }
}
.md0 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: 0;
    height: 0;
    padding: 0px !important;
    overflow: hidden;
  }
}
.md1 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc(100% / 12);
  }
}
.md2 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 2);
  }
}
.md2 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 2);
  }
}
.md3 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 3);
  }
}
.md4 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 4);
  }
}
.md5 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 5);
  }
}
.md6 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 6);
  }
}
.md7 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 7);
  }
}
.md8 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 8);
  }
}
.md9 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 9);
  }
}
.md10 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 10);
  }
}
.md11 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: calc((100% / 12) * 11);
  }
}
.md12 {
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: 100%;
  }
}

//===============> LG
.lg-right {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    float: right;
  }
}
.lg0 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: 0;
    height: 0;
    padding: 0px !important;
    overflow: hidden;
  }
}
.lg1 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc(100% / 12);
  }
}
.lg2 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 2);
  }
}
.lg2 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 2);
  }
}
.lg3 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 3);
  }
}
.lg4 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 4);
  }
}
.lg5 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 5);
  }
}
.lg6 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 6);
  }
}
.lg7 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 7);
  }
}
.lg8 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 8);
  }
}
.lg9 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 9);
  }
}
.lg10 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 10);
  }
}
.lg11 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: calc((100% / 12) * 11);
  }
}
.lg12 {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    width: 100%;
  }
}

//===============> XL
.xl-right {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    float: right;
  }
}
.xl0 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: 0;
    height: 0;
    padding: 0px !important;
    overflow: hidden;
  }
}
.xl1 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc(100% / 12);
  }
}
.xl2 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 2);
  }
}
.xl2 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 2);
  }
}
.xl3 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 3);
  }
}
.xl4 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 4);
  }
}
.xl5 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 5);
  }
}
.xl6 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 6);
  }
}
.xl7 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 7);
  }
}
.xl8 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 8);
  }
}
.xl9 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 9);
  }
}
.xl10 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 10);
  }
}
.xl11 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: calc((100% / 12) * 11);
  }
}
.xl12 {
  @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
    width: 100%;
  }
}
