<div class="message-section">
    <div class="message-input" contentEditable="true" #messageText></div>
    <div class="actions">
        <div class="btn-message" (click)="seeProposalForm(true)">
            <i class="fas fa-handshake"></i>
        </div>
        <div class="btn-message" (click)="sendMessage(messageText);">
            <i class="fas fa-paper-plane"></i>
        </div>
    </div>
</div>
<div class="price-proposal-container" *ngIf="proposalVisible">
    <app-send-price-proposal (visible)="seeProposalForm($event)"></app-send-price-proposal>
</div>