@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/fonts.scss";

.message-section {
    float: left;
    width: calc(94.002% - 2.4px);
    border: 1.2px solid #d9d9d9;
    border-radius: 3px;
    margin: 6px 3%;
}
.message-input {
    outline: none;
    padding: 6px;
    width: calc(90% - 14.001px);
    height: 48px;
    float: left;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 6px;
    }
}
.actions {
    width: 10.002%;
    float: left;
    border-left: 1px solid #d9d9d9;
}
.btn-message {
    cursor: pointer;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 60px;
    transition: all 0.3s linear;
}
.btn-message:hover {
    background-color: $secondary-color;
    color: white;
}
.price-proposal-container {
    position: absolute;
    background: #ffffffab;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
