<div class="menu-body">
    <ul>
        <li class="link" [class.selected]="section==='/news'" [routerLink]="['/news']"> Inicio</li>
        <li class="link" [class.selected]="section==='/projects'" [routerLink]="['/projects']">Proyectos</li>
        <li class="link" [class.selected]="section==='/messages'" [routerLink]="['/messages']">Mensajes <ng-container class="notification" *ngIf="notification && notification.data"><i class="fas fa-bell"></i></ng-container></li>
        <li class="link" [class.selected]="section==='/shopping'" [routerLink]="['/shopping']">Comprar</li>
        <li class="link" [class.selected]="section==='/help'" [routerLink]="['/help']">Ayuda</li>
        <li class="link"><a (click)="logout()">Cerrar Sesión</a></li>
    </ul>
</div>