@import "../../../../../assets/site/global.scss";

.menu-body {
    width: 100%;
    float: left;
}
.menu-body ul {
    list-style: none;
    padding-left: 15px;
}
.selected {
    color: $tertiary-color;
    border-right: 6px solid $tertiary-color !important;
}
.link {
    margin-top: 3px;
    border-right: 6px solid rgba($secondary-color, 0.3);
    text-align: right;
    padding-right: 12px;
    cursor: pointer;
    outline: none;
}
.link:hover {
    color: $secondary-color;
}
li.link i {
    font-size: 15px;
    color: #009688;
}
