<span *ngIf="loginForm.invalid" class="form-message">Por favor complete todos los campos</span>
<form name="login-form" method="post" [formGroup]="loginForm" (ngSubmit)="login()" novalidate id="loginForm">
    <div class="form-group">
        <label for="username">Correo</label><span *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors.required" class="form-message"> (Campo requerido)</span><span *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors.email && !loginForm.get('email').errors.required" class="form-message"> (Correo inválido)</span>
        <input type="email" class="form-control" name="email" formControlName="email" required />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label><span *ngIf="loginForm.get('password').invalid && loginForm.get('password').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="password" class="form-control" name="password" formControlName="password" required />
    </div>
    <div class="form-group">
        <div class="message" *ngIf="message">{{message}}</div>
        <button class="btn btn-primary">Ingresar</button>
        <div class="link">
            <a [routerLink]="['/registry']">Registrarse</a>
        </div>
        <div class="link">
            <a [routerLink]="['/password-recovery']">Olvide mi contraseña</a>
        </div>
    </div>
</form>
<div class="contact-link">
    <a [routerLink]="['/contact']">Contacto i333</a>
</div>
<script>
    var fullScreen = document.getElementById("loginForm");
    fullScreen.requestFullscreen();
</script>