<form name="form" [formGroup]="registryForm" (ngSubmit)="registry()" novalidate>
    <div class="form-group">
        <label for="firstName">Nombres</label><span *ngIf="registryForm.get('first_name').invalid && registryForm.get('first_name').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="text" class="form-control" name="first_name" formControlName="first_name" required />
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label><span *ngIf="registryForm.get('last_name').invalid && registryForm.get('last_name').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="text" class="form-control" name="last_name" formControlName="last_name" required />
    </div>
    <div class="form-group">
        <label for="username">Correo</label><span *ngIf="registryForm.get('email').invalid && registryForm.get('email').errors.required" class="form-message"> (Campo requerido)</span><span *ngIf="registryForm.get('email').invalid && registryForm.get('email').errors.email && !registryForm.get('email').errors.required" class="form-message"> (Correo inválido)</span>
        <input type="email" class="form-control" name="email" formControlName="email" required />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label><span *ngIf="registryForm.get('password').invalid && registryForm.get('password').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="password" class="form-control" name="password" formControlName="password" required />
        <div class="password-validations" *ngIf="registryForm.get('password').invalid && registryForm.get('password').errors.hasNumber || registryForm.get('password').invalid && registryForm.get('password').errors.hasCapitalCase || registryForm.get('password').invalid && registryForm.get('password').errors.minlength">
            <div class="error-pass-validation" *ngIf="registryForm.get('password').invalid && registryForm.get('password').errors.hasNumber"><i class="fas fa-times"></i> Debe tener por lo menos un número</div>
            <div class="error-pass-validation" *ngIf="registryForm.get('password').invalid && registryForm.get('password').errors.hasCapitalCase"><i class="fas fa-times"></i> Debe tener por lo menos una letra en mayúscula.</div>
            <div class="error-pass-validation" *ngIf="registryForm.get('password').invalid && registryForm.get('password').errors.minlength"><i class="fas fa-times"></i> Debe tener mínimo 9 carácteres</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Repetir contraseña</label><span *ngIf="registryForm.get('confirm_password').errors && !registryForm.get('confirm_password').errors['MatchPassword']" class="form-message"> (Las contraseñas no coinciden)</span>
        <input type="password" class="form-control" name="password" formControlName="confirm_password" required />
    </div>
    <div class="form-group">
        <p class="terms-and-conditions">Al hacer clic en el botón registrar, confirmas haber leído y aceptar los <a [routerLink]="['/terms']">términos y condiciones</a> y las <a [routerLink]="['/privacy-policies']">políticas de privacidad</a> del sitio.</p>
        <button class="btn btn-primary">Registrarse</button>        
        <div class="link">
            <a [routerLink]="['/login']">Cancelar</a>
        </div>
    </div>
</form>

<div id="message" *ngIf="message">
    <div id="content_container">
        <div id="content">
            <ng-container *ngIf="message == 'user-exits'">
                <h4>¡El usuario ya se encuentra registrado!</h4>
                <p>Por favor inicia sesión ingresando correo y contraseña desde <br><a [routerLink]="['/login']">Iniciar sesión</a></p>
                <p>Si has olvidado tu contraseña, puedes reestablecerla desde <br><a [routerLink]="['/password-recovery']">Recuperar contraseña</a><br></p>
            </ng-container>
            <ng-container *ngIf="message == 'sended-mail'">
                <h4>¡Se ha enviado un mensaje de confirmación a tu correo!</h4>
                <p>Por favor activa tu cuenta desde el mensaje enviado a tu correo y disfruta de todas las grandes herramientas que disponemos para tí.</p>
                <div class="btn btn-primary close-message" [routerLink]="['/login']">Iniciar sesión</div>
            </ng-container>
        </div>
    </div>
</div>
<app-loading-screen></app-loading-screen>