@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.work-with-us {
    float: left;
    padding: 33px 45px;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
    }
}
.social-network-card {
    width: 180px;
    position: absolute;
    padding: 15px;
    margin: 0px 15px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 6px;
    @media only screen and (max-width: $xs) {
        margin: 12px 0px;
        width: calc(100% - 60px);
        margin-bottom: 90px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        margin: 12px 0px;
        width: calc(100% - 60px);
        margin-bottom: 90px;
    }
}
.social-networks {
    width: 100%;
    position: relative;
    float: left;
}
.contact-card-section {
    width: 150px;
}
.facebook,
.whatsapp {
    width: 42px;
    height: 42px;
    font-size: 45px;
    line-height: 0px;
    float: left;
    margin: 0px 3px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.facebook:hover,
.whatsapp:hover {
    color: #348ee8;
}
.contact-form {
    padding: 21px;
    border: 1px solid #80808061;
    border-radius: 6px;
}
