<div class="work-with-us">
    <h2>Trabaja con nosotros</h2>
    <p>Buscamos personas proactivas, con actitud y aptitud para pertenecer a nuestro equipo. Encuentra las ofertas disponibles a través de nuestras redes sociales o escríbenos si estás interesado en formar parte de este equipo.</p>

    <div class="contact-page">
        <div class="row">
            <div class="col xs12 sm12 md12 lg6">
                <div class="contact-form">
                    <app-contact-form></app-contact-form>
                </div>
            </div>
            <div class="col xs12 sm12 md12 lg6">
                <div class="social-network-card">
                    <div class="contact-card-section">
                        <h3>I333 S.A.S</h3>
                        Calle 2a Nro. 9-40
                        Villamaría - Caldas
                        Colombia
                        <i class="fas fa-phone-alt"></i> (+57) 304 672 6051<br>
                    </div>
                    <div class="social-networks">
                        <div class="facebook"><i class="fab fa-facebook-square"></i></div>
                        <div class="whatsapp"><i class="fab fa-whatsapp-square"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>