$color-stroke: #0969a5;

.loading-screen-wrapper {
    z-index: 210;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    width: 99.999999%;
    height: 99.999999vh;
    top: 0;
    left: 0;
    right: 0;
}

.loading-screen-icon {
    position: absolute;
    width: 300px;
    height: 360px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.people,
.logo-letter {
    stroke: $color-stroke;
    stroke-width: 1.2px;
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2010;
    animation: stroke-animate 15s linear infinite;
}
.logo-letter {
    animation: fill-letter-animate 15s linear infinite;
}

@-moz-keyframes stroke-animate {
    30% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
    90% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
}
@-webkit-keyframes stroke-animate {
    30% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
    90% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
}
@-o-keyframes stroke-animate {
    30% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
    90% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
}
@keyframes stroke-animate {
    30% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
    90% {
        stroke-dasharray: 2745;
        fill: $color-stroke;
    }
}

@-moz-keyframes fill-letter-animate {
    30% {
        stroke-dasharray: 2745;
        fill: white;
    }
    90% {
        stroke-dasharray: 2745;
        fill: white;
    }
}
@-webkit-keyframes fill-letter-animate {
    30% {
        stroke-dasharray: 2745;
        fill: white;
    }
    90% {
        stroke-dasharray: 2745;
        fill: white;
    }
}
@-o-keyframes fill-letter-animate {
    30% {
        stroke-dasharray: 2745;
        fill: white;
    }
    90% {
        stroke-dasharray: 2745;
        fill: white;
    }
}
@keyframes fill-letter-animate {
    30% {
        stroke-dasharray: 2745;
        fill: white;
    }
    90% {
        stroke-dasharray: 2745;
        fill: white;
    }
}
