<div class="loading-screen-wrapper" *ngIf="loading">
    <div class="loading-screen-icon">
        <svg id="loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 279 334" xml:space="preserve">


            <path class="people" stroke-miterlimit="10" d="M181.19,212.97c0,0-2.73-15.04-12.99-14.35
	c0,0-9.57-29.39,2.73-38.28c10.51-7.59,23.01-11.69,23.03-19.97c0-2.29-1-4.45-2.6-6.09c-4.24-4.33-16.06-17.16-11.54-21.11
	c5.47-4.78,6.15-9.57,0.68-13.67c-5.06-3.79-16.55-7-19.87-14.5c-0.99-2.22-2.06-4.41-3.41-6.43c-3.17-4.75-8.5-11.41-12.95-10.52
	c0,0,2.05-3.42,0.68-7.52c-1.37-4.1-8.89-15.72-22.56-9.57C109.47,56.79,92.26,62,71.35,97.83c-4.27,7.31-6.71,15.59-6.79,24.06
	c-0.09,9.74,2.82,21.36,14.78,28.88c23.92,15.04,43.06,20.51,44.43,47.85c0,0-7.52,15.72-23.24,23.24c0,0-16.41,10.94-16.41,19.14
	h96.16c-1.38-6.02-3.7-15.2-6.01-19.96c-0.46-0.95-0.09-2.12,0.85-2.6l0.03-0.02c-2.11,0.77-4.89,0.57-8.35-2.15
	c-4.9-3.85-4.74-7.9-3.63-10.73c1.13-2.91,3.91-4.96,7.03-4.87c7.99,0.22,9.82,13.08,9.82,13.08s-0.01,0.01-0.03,0.05v0.01
	c1.89,0.67,10.42,8.74,19.66,27.19h6.14C205.8,241,193.49,214.34,181.19,212.97z M161.94,201.62c-2.39,2.99-7.44,10.71-3.45,18.99
	c0.2,0.4-0.12,0.85-0.56,0.81c-4.91-0.51-25.76-3.26-31.77-12.89c0,0-2.76-2.76-2.89-6.19c-0.05-1.61,1.67-2.68,3.08-1.91
    c4.43,2.4,15.59,6.34,35.06,0.42C161.88,200.71,162.25,201.24,161.94,201.62z" />


            <g id="message">

                <path fill="#0969A5" d="M70.25,262.2c0.16,0,0.24,0.11,0.24,0.34c0,0.23-0.04,0.41-0.12,0.56s-0.18,0.28-0.29,0.4
		c-0.11,0.12-0.24,0.23-0.41,0.34c-0.39,0.25-0.79,0.38-1.22,0.38s-0.77-0.05-1.02-0.16c-0.25-0.1-0.47-0.26-0.65-0.47
		c-0.39-0.44-0.59-1.04-0.59-1.82c0-0.82,0.16-1.83,0.48-3.02s0.62-2.21,0.92-3.06c0.3-0.85,0.6-1.65,0.91-2.42l0.86-2.18
		c-0.94,0.84-2.13,2.62-3.57,5.32l-2.3,4.36c-1.23,2.3-2.11,3.45-2.64,3.45c-0.51,0-0.87-0.22-1.06-0.67
		c-0.17-0.42-0.26-1.15-0.26-2.17c0-1.02,0.08-2,0.24-2.93c0.16-0.94,0.37-1.85,0.61-2.75c0.43-1.58,0.99-3.15,1.67-4.7
		c-0.67,0.37-1.41,1.21-2.22,2.5c-0.62,1.03-1.06,1.79-1.31,2.27l-2.46,4.52c-1.02,1.86-1.84,3.01-2.47,3.45
		c-0.45,0.32-0.94,0.48-1.46,0.48c-0.44,0-0.76-0.14-0.96-0.42c-0.08-0.11-0.11-0.22-0.11-0.31s0.03-0.15,0.09-0.17
		c0.39-0.11,0.67-0.22,0.83-0.34c0.16-0.12,0.32-0.24,0.48-0.36c0.16-0.12,0.39-0.39,0.69-0.79c0.3-0.4,0.63-0.89,0.99-1.46
		c0.35-0.57,0.73-1.2,1.11-1.91l1.21-2.23c1.12-2.16,2.28-3.89,3.5-5.19c0.43-0.46,0.86-0.82,1.28-1.08c0.42-0.3,0.9-0.5,1.46-0.6
		c0.15-0.03,0.29-0.05,0.42-0.05c0.13,0,0.28,0.02,0.44,0.06c0.16,0.04,0.3,0.1,0.42,0.18c0.28,0.19,0.36,0.44,0.25,0.76
		c-0.05,0.19-0.15,0.48-0.29,0.86l-0.51,1.36c-1.2,3.31-1.86,6.33-1.97,9.04c0.34-0.58,0.68-1.21,1.02-1.89l1.08-2.12l1.13-2.16
		c1.75-3.24,3.37-5.09,4.86-5.56c0.31-0.1,0.57-0.15,0.78-0.15c0.21,0,0.37,0.03,0.49,0.08c0.12,0.05,0.23,0.12,0.32,0.2
		c0.22,0.2,0.3,0.41,0.23,0.62c-0.07,0.21-0.16,0.48-0.28,0.81l-1.38,4.03l-0.5,1.58c-0.55,1.83-0.87,3.23-0.97,4.21
		c-0.04,0.41,0.01,0.73,0.14,0.97c0.13,0.23,0.31,0.35,0.54,0.35s0.41-0.02,0.54-0.05c0.13-0.03,0.24-0.07,0.34-0.12l0.25-0.11
        C70.13,262.22,70.2,262.2,70.25,262.2z" />


                <path fill="#0969A5" d="M75.17,262.35c0.17,0,0.25,0.11,0.25,0.32c0,0.29-0.13,0.58-0.39,0.88c-0.38,0.44-0.89,0.67-1.53,0.67
		c-0.74,0-1.24-0.3-1.51-0.89c-0.1-0.21-0.15-0.46-0.15-0.76s0.05-0.63,0.16-0.99c0.1-0.36,0.23-0.75,0.39-1.15
		c0.16-0.4,0.32-0.81,0.51-1.22l0.5-1.2c0.37-0.89,0.55-1.48,0.55-1.77c0-0.29-0.03-0.47-0.09-0.57c-0.06-0.09-0.13-0.16-0.2-0.21
		l-0.19-0.13c-0.06-0.04-0.1-0.12-0.1-0.23c0-0.11,0.04-0.22,0.13-0.32c0.09-0.1,0.2-0.19,0.34-0.27c0.29-0.15,0.62-0.22,1-0.22
		c0.93,0,1.4,0.24,1.4,0.73c0,0.57-0.15,1.22-0.45,1.96s-0.55,1.32-0.76,1.78l-0.57,1.31c-0.42,0.96-0.63,1.66-0.63,2.08
		c0,0.28,0.14,0.42,0.42,0.42c0.27,0,0.48-0.04,0.62-0.1S75.11,262.35,75.17,262.35z M77.13,252.04c-0.14,0.15-0.3,0.27-0.48,0.36
		s-0.36,0.15-0.56,0.17c-0.2,0.02-0.38-0.01-0.56-0.09c-0.17-0.08-0.33-0.2-0.45-0.35c-0.27-0.32-0.41-0.64-0.41-0.96
		c0-0.32,0.05-0.57,0.16-0.73c0.1-0.16,0.24-0.29,0.4-0.4c0.3-0.2,0.59-0.29,0.86-0.29c0.27,0,0.48,0.02,0.63,0.06
		s0.29,0.1,0.41,0.19c0.31,0.21,0.47,0.46,0.47,0.77s-0.04,0.55-0.13,0.75S77.27,251.9,77.13,252.04z" />

                <path fill="#0969A5" d="M77.6,263.9c-0.13-0.1-0.23-0.2-0.3-0.32c-0.08-0.12-0.12-0.22-0.12-0.3c-0.01-0.09,0.01-0.19,0.05-0.31
		c0.04-0.12,0.1-0.27,0.17-0.45c1.29-3.19,1.94-5.32,1.94-6.42c-0.02-0.3-0.12-0.52-0.31-0.65l-0.19-0.13
		c-0.06-0.04-0.09-0.12-0.09-0.23c0-0.11,0.04-0.22,0.12-0.32c0.08-0.1,0.19-0.19,0.32-0.27c0.27-0.15,0.55-0.22,0.84-0.22
		c0.29,0,0.51,0.03,0.68,0.1c0.16,0.06,0.3,0.15,0.41,0.26c0.24,0.23,0.36,0.47,0.37,0.72c0,0.25-0.03,0.51-0.09,0.77
		c-0.06,0.26-0.13,0.52-0.21,0.77c-0.08,0.25-0.17,0.49-0.25,0.71c-0.08,0.23-0.14,0.39-0.16,0.5c-0.05,0.22-0.07,0.36-0.06,0.42
		c0.15-0.13,0.24-0.26,0.28-0.39l0.37-0.7c0.83-1.48,1.63-2.47,2.42-2.95c0.23-0.13,0.5-0.2,0.82-0.2s0.58,0.11,0.78,0.34
		c0.2,0.23,0.3,0.47,0.31,0.75c0.01,0.27-0.01,0.5-0.06,0.68c-0.05,0.18-0.12,0.35-0.21,0.51c-0.21,0.36-0.46,0.53-0.76,0.53
		c-0.08,0-0.16-0.03-0.23-0.09l-0.21-0.18c-0.21-0.18-0.41-0.28-0.6-0.28c-0.19,0-0.43,0.13-0.7,0.38
		c-0.28,0.25-0.56,0.58-0.86,0.98c-1,1.33-1.82,2.81-2.46,4.45l-0.42,1.1c-0.11,0.27-0.2,0.47-0.29,0.59
		c-0.08,0.12-0.2,0.18-0.37,0.18c-0.16,0-0.32-0.03-0.49-0.09C77.87,264.07,77.73,263.99,77.6,263.9z" />

                <path fill="#0969A5" d="M92.86,261.6c0,0.58,0.21,0.88,0.62,0.88c0.29,0,0.52-0.04,0.71-0.13c0.19-0.09,0.31-0.13,0.38-0.13
		c0.13,0,0.2,0.07,0.2,0.21c0,0.55-0.29,1.02-0.86,1.41c-0.6,0.41-1.22,0.51-1.85,0.3c-0.41-0.15-0.72-0.46-0.91-0.94
		c-0.1-0.25-0.14-0.47-0.14-0.68c0-0.33,0.03-0.68,0.1-1.05c-0.59,1.21-1.32,2.04-2.2,2.49c-0.35,0.18-0.72,0.27-1.11,0.27
		c-0.39,0-0.73-0.08-1.02-0.24c-0.29-0.16-0.53-0.39-0.74-0.67c-0.41-0.6-0.6-1.35-0.56-2.25c0.04-1.13,0.37-2.24,1-3.32
		c0.58-1.02,1.31-1.84,2.19-2.48c0.88-0.65,1.71-0.98,2.48-0.98c0.77,0,1.39,0.35,1.86,1.06c0.44-0.7,0.82-1.06,1.16-1.06
		c0.36,0,0.63,0.07,0.82,0.2c0.35,0.25,0.47,0.48,0.37,0.67c-1.59,3.26-2.41,5.29-2.46,6.09C92.87,261.35,92.86,261.47,92.86,261.6z
		 M87.58,261.63c0,0.76,0.24,1.14,0.73,1.14c0.37,0,0.83-0.32,1.38-0.95c0.8-0.93,1.51-2.19,2.12-3.77c0.2-0.49,0.36-0.99,0.5-1.48
		c-0.03-0.43-0.21-0.75-0.54-0.95c-0.11-0.07-0.28-0.1-0.51-0.1c-0.23,0-0.49,0.08-0.79,0.25c-0.3,0.17-0.59,0.39-0.88,0.68
		c-0.28,0.29-0.55,0.62-0.79,1.01c-0.24,0.39-0.46,0.81-0.64,1.27C87.77,259.7,87.58,260.67,87.58,261.63z" />

                <path fill="#0969A5" d="M109.4,261.6c0,0.58,0.21,0.88,0.62,0.88c0.29,0,0.52-0.04,0.71-0.13c0.19-0.09,0.31-0.13,0.38-0.13
		c0.13,0,0.2,0.07,0.2,0.21c0,0.55-0.29,1.02-0.86,1.41c-0.6,0.41-1.22,0.51-1.85,0.3c-0.41-0.15-0.72-0.46-0.91-0.94
		c-0.1-0.25-0.14-0.47-0.14-0.68c0-0.33,0.03-0.68,0.1-1.05c-0.59,1.21-1.32,2.04-2.2,2.49c-0.35,0.18-0.72,0.27-1.11,0.27
		c-0.39,0-0.73-0.08-1.02-0.24c-0.29-0.16-0.53-0.39-0.74-0.67c-0.41-0.6-0.6-1.35-0.56-2.25c0.04-1.13,0.37-2.24,1-3.32
		c0.58-1.02,1.31-1.84,2.19-2.48c0.88-0.65,1.71-0.98,2.48-0.98c0.77,0,1.39,0.35,1.86,1.06c0.44-0.7,0.82-1.06,1.16-1.06
		c0.36,0,0.63,0.07,0.82,0.2c0.35,0.25,0.47,0.48,0.37,0.67c-1.59,3.26-2.41,5.29-2.46,6.09C109.41,261.35,109.4,261.47,109.4,261.6
		z M104.12,261.63c0,0.76,0.24,1.14,0.73,1.14c0.37,0,0.83-0.32,1.38-0.95c0.8-0.93,1.51-2.19,2.12-3.77
		c0.2-0.49,0.36-0.99,0.5-1.48c-0.03-0.43-0.21-0.75-0.54-0.95c-0.11-0.07-0.28-0.1-0.51-0.1c-0.23,0-0.49,0.08-0.79,0.25
		c-0.3,0.17-0.59,0.39-0.88,0.68c-0.28,0.29-0.55,0.62-0.79,1.01c-0.24,0.39-0.46,0.81-0.64,1.27
		C104.31,259.7,104.12,260.67,104.12,261.63z" />

                <path fill="#0969A5" d="M113.08,263.75c-0.16-0.17-0.29-0.38-0.39-0.63c-0.1-0.26-0.15-0.56-0.15-0.89s0.08-0.79,0.23-1.37
		c0.16-0.57,0.35-1.22,0.59-1.95l0.8-2.37c1.14-3.3,1.79-5.85,1.97-7.65c0.06-0.53,0.32-0.8,0.78-0.8c0.29,0,0.53,0.07,0.72,0.21
		c0.37,0.28,0.55,0.59,0.53,0.93c-0.01,0.34-0.07,0.76-0.18,1.25s-0.25,1.03-0.42,1.61s-0.37,1.19-0.59,1.84l-1.31,3.86
		c-0.75,2.2-1.13,3.61-1.13,4.25c0,0.34,0.14,0.51,0.42,0.51c0.27,0,0.51-0.06,0.73-0.17c0.22-0.11,0.36-0.17,0.42-0.17
		c0.13,0,0.2,0.07,0.2,0.2c0,0.56-0.29,1.04-0.87,1.42c-0.39,0.26-0.74,0.39-1.06,0.39s-0.58-0.04-0.78-0.11
		S113.23,263.91,113.08,263.75z" />

                <path fill="#0969A5" d="M123.59,261.63c0.18,0,0.28,0.12,0.28,0.37c0,0.21-0.06,0.41-0.19,0.61c-0.17,0.37-0.51,0.72-1.03,1.05
		c-0.58,0.37-1.17,0.56-1.76,0.56c-1.02,0-1.67-0.46-1.94-1.37c-0.32-1.08,0.16-3.39,1.46-6.9c-0.73-0.06-1.13-0.19-1.19-0.38
		c-0.02-0.06-0.03-0.12-0.03-0.19c0-0.07,0.03-0.14,0.09-0.23c0.06-0.09,0.14-0.17,0.23-0.26c0.22-0.18,0.45-0.28,0.68-0.28h0.75
		c0.69-1.61,1.17-2.52,1.47-2.74c0.14-0.1,0.29-0.15,0.47-0.15s0.31,0.02,0.43,0.07s0.22,0.11,0.3,0.19c0.2,0.19,0.3,0.4,0.3,0.64
		c0,0.13-0.04,0.27-0.11,0.44l-0.7,1.53h0.23c0.39,0,0.71,0,0.95-0.01l0.54-0.01c0.12-0.01,0.27-0.01,0.45-0.01
		c0.18,0,0.27,0.07,0.27,0.2c0,0.84-0.99,1.26-2.97,1.26h-0.08l-0.65,1.67c-0.73,1.98-1.09,3.37-1.09,4.16
		c0,0.22,0.05,0.4,0.15,0.52c0.1,0.12,0.29,0.19,0.57,0.19c0.28,0,0.53-0.05,0.76-0.14s0.43-0.2,0.6-0.32
		c0.17-0.12,0.32-0.22,0.44-0.32C123.4,261.68,123.51,261.63,123.59,261.63z" />

                <path fill="#0969A5" d="M125.94,263.48c-0.27-0.25-0.48-0.58-0.63-0.97s-0.23-0.85-0.24-1.38c-0.01-0.53,0.06-1.07,0.19-1.62
		s0.33-1.07,0.58-1.58s0.55-0.98,0.9-1.43s0.74-0.83,1.17-1.16c0.93-0.71,1.89-1.07,2.88-1.07c1.31,0,2.19,0.57,2.66,1.72
		c0.33,0.83,0.35,1.84,0.06,3.02c-0.27,1.08-0.75,2.08-1.47,2.99c-0.7,0.91-1.54,1.55-2.49,1.93c-0.48,0.19-0.96,0.29-1.42,0.29
		c-0.47,0-0.88-0.06-1.25-0.18C126.52,263.92,126.2,263.73,125.94,263.48z M127.75,258.86c-0.19,0.47-0.34,0.95-0.45,1.45
		c-0.11,0.5-0.16,0.96-0.16,1.4c0.01,0.44,0.07,0.79,0.2,1.04c0.13,0.25,0.34,0.38,0.63,0.38c0.29,0,0.58-0.1,0.86-0.3
		c0.28-0.2,0.56-0.46,0.82-0.79c0.27-0.33,0.52-0.71,0.75-1.14c0.23-0.43,0.44-0.88,0.62-1.35c0.39-1.02,0.57-1.93,0.56-2.72
		c0-0.7-0.14-1.14-0.43-1.33c-0.11-0.08-0.27-0.11-0.48-0.11c-0.21,0-0.44,0.09-0.71,0.28c-0.27,0.19-0.53,0.44-0.8,0.76
		c-0.27,0.32-0.52,0.69-0.77,1.11C128.16,257.95,127.94,258.39,127.75,258.86z" />

                <path fill="#0969A5" d="M136.03,266.31c-0.25,0.18-0.5,0.33-0.74,0.43s-0.46,0.16-0.64,0.16c-0.19,0-0.28-0.07-0.28-0.21
		c0-0.14,0.07-0.28,0.2-0.43l0.46-0.48c0.58-0.6,0.88-1.13,0.88-1.59c0-0.4-0.13-0.81-0.39-1.25c-0.09-0.15-0.16-0.29-0.22-0.4
		c-0.06-0.12-0.05-0.28,0.03-0.48c0.08-0.2,0.25-0.37,0.5-0.52s0.51-0.22,0.78-0.22c0.27,0,0.49,0.04,0.67,0.11s0.32,0.18,0.44,0.32
		c0.23,0.27,0.35,0.61,0.35,1.02s-0.06,0.78-0.18,1.1c-0.12,0.33-0.27,0.64-0.46,0.93c-0.19,0.29-0.41,0.57-0.65,0.82
		S136.28,266.12,136.03,266.31z" />

                <path fill="#0969A5" d="M147.63,263.75c-0.16-0.17-0.29-0.38-0.39-0.63c-0.1-0.26-0.15-0.56-0.15-0.89s0.08-0.79,0.23-1.37
		c0.16-0.57,0.35-1.22,0.59-1.95l0.8-2.37c1.14-3.3,1.79-5.85,1.97-7.65c0.06-0.53,0.32-0.8,0.78-0.8c0.29,0,0.53,0.07,0.72,0.21
		c0.37,0.28,0.55,0.59,0.53,0.93c-0.01,0.34-0.07,0.76-0.18,1.25s-0.25,1.03-0.42,1.61s-0.37,1.19-0.59,1.84l-1.31,3.86
		c-0.75,2.2-1.13,3.61-1.13,4.25c0,0.34,0.14,0.51,0.42,0.51c0.27,0,0.51-0.06,0.73-0.17c0.22-0.11,0.36-0.17,0.42-0.17
		c0.13,0,0.2,0.07,0.2,0.2c0,0.56-0.29,1.04-0.87,1.42c-0.39,0.26-0.74,0.39-1.06,0.39s-0.58-0.04-0.78-0.11
		S147.79,263.91,147.63,263.75z" />

                <path fill="#0969A5" d="M153.07,263.75c-0.16-0.17-0.29-0.38-0.39-0.63c-0.1-0.26-0.15-0.56-0.15-0.89s0.08-0.79,0.23-1.37
		c0.16-0.57,0.35-1.22,0.59-1.95l0.8-2.37c1.14-3.3,1.79-5.85,1.97-7.65c0.06-0.53,0.32-0.8,0.78-0.8c0.29,0,0.53,0.07,0.72,0.21
		c0.37,0.28,0.55,0.59,0.53,0.93c-0.01,0.34-0.07,0.76-0.18,1.25s-0.25,1.03-0.42,1.61s-0.37,1.19-0.59,1.84l-1.31,3.86
		c-0.75,2.2-1.13,3.61-1.13,4.25c0,0.34,0.14,0.51,0.42,0.51c0.27,0,0.51-0.06,0.73-0.17c0.22-0.11,0.36-0.17,0.42-0.17
		c0.13,0,0.2,0.07,0.2,0.2c0,0.56-0.29,1.04-0.87,1.42c-0.39,0.26-0.74,0.39-1.06,0.39s-0.58-0.04-0.78-0.11
		S153.23,263.91,153.07,263.75z" />

                <path fill="#0969A5" d="M158.15,260.8c0.03-0.55,0.12-1.08,0.28-1.58c0.16-0.5,0.37-0.99,0.64-1.47s0.58-0.92,0.94-1.34
		s0.75-0.79,1.17-1.11c0.91-0.68,1.82-1.02,2.75-1.02c1.09,0,1.81,0.45,2.17,1.34c0.13,0.3,0.19,0.66,0.18,1.08
		c-0.01,0.42-0.09,0.8-0.24,1.15s-0.36,0.67-0.63,0.96c-0.27,0.29-0.59,0.55-0.96,0.78c-0.37,0.23-0.78,0.42-1.21,0.58
		c-0.9,0.32-1.87,0.48-2.89,0.49c-0.03,0.09-0.04,0.22-0.05,0.4s0.01,0.38,0.06,0.59c0.04,0.22,0.12,0.41,0.23,0.59
		c0.23,0.38,0.56,0.57,0.99,0.57c0.74,0,1.45-0.22,2.15-0.65c0.25-0.15,0.45-0.3,0.6-0.45c0.16-0.16,0.29-0.23,0.4-0.23
		s0.21,0.07,0.3,0.2c0.09,0.14,0.13,0.29,0.13,0.46c0,0.34-0.1,0.63-0.29,0.88c-0.8,0.8-1.99,1.2-3.57,1.2
		c-0.93,0-1.68-0.28-2.25-0.84C158.41,262.75,158.11,261.89,158.15,260.8z M163.7,255.54c-0.67,0-1.31,0.46-1.92,1.37
		c-0.52,0.79-0.94,1.72-1.26,2.8c1.06-0.11,1.98-0.53,2.76-1.26c0.72-0.69,1.08-1.34,1.08-1.97
		C164.36,255.86,164.14,255.54,163.7,255.54z" />

                <path fill="#0969A5" d="M172.82,262.05c-0.96,1.45-2.03,2.17-3.21,2.17c-1.06,0-1.77-0.56-2.14-1.69
		c-0.13-0.39-0.19-0.86-0.19-1.43c0-0.56,0.08-1.13,0.24-1.7c0.16-0.57,0.38-1.11,0.66-1.61c0.28-0.51,0.61-0.98,0.99-1.4
		s0.78-0.8,1.21-1.11c0.9-0.67,1.8-1,2.68-1c0.89,0,1.52,0.42,1.9,1.25c0.08-0.08,0.15-0.17,0.21-0.25
		c0.06-0.09,0.13-0.17,0.21-0.24c0.17-0.17,0.31-0.25,0.43-0.25c0.12,0,0.25,0.02,0.39,0.07c0.14,0.04,0.27,0.1,0.4,0.18
		c0.31,0.18,0.43,0.36,0.35,0.51c-0.35,0.76-0.64,1.5-0.88,2.23l-1.41,4.49c-1.11,3.41-2.52,5.61-4.23,6.61
		c-0.45,0.27-0.84,0.42-1.17,0.46s-0.57,0.04-0.71,0s-0.28-0.09-0.39-0.16c-0.25-0.16-0.37-0.3-0.37-0.43
		c0-0.22,0.15-0.36,0.44-0.41s0.6-0.17,0.93-0.36c0.32-0.19,0.63-0.41,0.92-0.68C171.3,266.19,172.21,264.44,172.82,262.05z
		 M169.97,258.75c-0.17,0.46-0.3,0.92-0.4,1.4c-0.1,0.48-0.14,0.87-0.14,1.18s0.01,0.54,0.03,0.69c0.02,0.16,0.06,0.3,0.11,0.42
		c0.13,0.27,0.31,0.4,0.56,0.4c0.25,0,0.49-0.09,0.73-0.26c0.24-0.17,0.49-0.41,0.76-0.72c0.27-0.3,0.53-0.66,0.8-1.08
		c0.27-0.41,0.52-0.86,0.76-1.33c0.53-1.05,0.91-2.06,1.12-3.02c-0.03-0.18-0.14-0.36-0.32-0.54c-0.36-0.35-0.69-0.52-0.98-0.52
		c-0.29,0-0.58,0.09-0.88,0.27c-0.29,0.18-0.57,0.42-0.83,0.73c-0.26,0.31-0.51,0.67-0.74,1.08
		C170.34,257.86,170.14,258.29,169.97,258.75z" />

                <path fill="#0969A5" d="M184.86,261.6c0,0.58,0.21,0.88,0.62,0.88c0.29,0,0.52-0.04,0.71-0.13c0.19-0.09,0.31-0.13,0.38-0.13
		c0.13,0,0.2,0.07,0.2,0.21c0,0.55-0.29,1.02-0.86,1.41c-0.6,0.41-1.22,0.51-1.85,0.3c-0.41-0.15-0.72-0.46-0.91-0.94
		c-0.1-0.25-0.14-0.47-0.14-0.68c0-0.33,0.03-0.68,0.1-1.05c-0.59,1.21-1.32,2.04-2.2,2.49c-0.35,0.18-0.72,0.27-1.11,0.27
		c-0.39,0-0.73-0.08-1.02-0.24c-0.29-0.16-0.53-0.39-0.74-0.67c-0.41-0.6-0.6-1.35-0.56-2.25c0.04-1.13,0.37-2.24,1-3.32
		c0.58-1.02,1.31-1.84,2.19-2.48c0.88-0.65,1.71-0.98,2.48-0.98c0.77,0,1.39,0.35,1.86,1.06c0.44-0.7,0.82-1.06,1.16-1.06
		c0.36,0,0.63,0.07,0.82,0.2c0.35,0.25,0.47,0.48,0.37,0.67c-1.59,3.26-2.41,5.29-2.46,6.09
		C184.87,261.35,184.86,261.47,184.86,261.6z M179.58,261.63c0,0.76,0.24,1.14,0.73,1.14c0.37,0,0.83-0.32,1.38-0.95
		c0.8-0.93,1.51-2.19,2.12-3.77c0.2-0.49,0.36-0.99,0.5-1.48c-0.03-0.43-0.21-0.75-0.54-0.95c-0.11-0.07-0.28-0.1-0.51-0.1
		c-0.23,0-0.49,0.08-0.79,0.25c-0.3,0.17-0.59,0.39-0.88,0.68c-0.28,0.29-0.55,0.62-0.79,1.01c-0.24,0.39-0.46,0.81-0.64,1.27
		C179.77,259.7,179.58,260.67,179.58,261.63z" />

                <path fill="#0969A5" d="M194.52,263.75c-0.16-0.17-0.29-0.38-0.39-0.63c-0.1-0.26-0.15-0.56-0.15-0.89s0.08-0.79,0.23-1.37
		c0.16-0.57,0.35-1.22,0.59-1.95l0.8-2.37c1.14-3.3,1.79-5.85,1.97-7.65c0.06-0.53,0.32-0.8,0.78-0.8c0.29,0,0.53,0.07,0.72,0.21
		c0.37,0.28,0.55,0.59,0.53,0.93c-0.01,0.34-0.07,0.76-0.18,1.25s-0.25,1.03-0.42,1.61s-0.37,1.19-0.59,1.84l-1.31,3.86
		c-0.75,2.2-1.13,3.61-1.13,4.25c0,0.34,0.14,0.51,0.42,0.51c0.27,0,0.51-0.06,0.73-0.17c0.22-0.11,0.36-0.17,0.42-0.17
		c0.13,0,0.2,0.07,0.2,0.2c0,0.56-0.29,1.04-0.87,1.42c-0.39,0.26-0.74,0.39-1.06,0.39s-0.58-0.04-0.78-0.11
		S194.68,263.91,194.52,263.75z" />

                <path fill="#0969A5" d="M199.6,260.8c0.03-0.55,0.12-1.08,0.28-1.58c0.16-0.5,0.37-0.99,0.64-1.47s0.58-0.92,0.94-1.34
		s0.75-0.79,1.17-1.11c0.91-0.68,1.82-1.02,2.75-1.02c1.09,0,1.81,0.45,2.17,1.34c0.13,0.3,0.19,0.66,0.18,1.08
		c-0.01,0.42-0.09,0.8-0.24,1.15s-0.36,0.67-0.63,0.96c-0.27,0.29-0.59,0.55-0.96,0.78c-0.37,0.23-0.78,0.42-1.21,0.58
		c-0.9,0.32-1.87,0.48-2.89,0.49c-0.03,0.09-0.04,0.22-0.05,0.4s0.01,0.38,0.06,0.59c0.04,0.22,0.12,0.41,0.23,0.59
		c0.23,0.38,0.56,0.57,0.99,0.57c0.74,0,1.45-0.22,2.15-0.65c0.25-0.15,0.45-0.3,0.6-0.45c0.16-0.16,0.29-0.23,0.4-0.23
		s0.21,0.07,0.3,0.2c0.09,0.14,0.13,0.29,0.13,0.46c0,0.34-0.1,0.63-0.29,0.88c-0.8,0.8-1.99,1.2-3.57,1.2
		c-0.93,0-1.68-0.28-2.25-0.84C199.86,262.75,199.56,261.89,199.6,260.8z M205.16,255.54c-0.67,0-1.31,0.46-1.92,1.37
		c-0.52,0.79-0.94,1.72-1.26,2.8c1.06-0.11,1.98-0.53,2.76-1.26c0.72-0.69,1.08-1.34,1.08-1.97
		C205.81,255.86,205.59,255.54,205.16,255.54z" />

                <path fill="#0969A5" d="M211.44,254.28c0.87,0,1.3,0.24,1.3,0.73c0,1.33-0.35,3.14-1.05,5.45c-0.79,2.6-1.79,4.73-3,6.39
		c-0.95,1.29-1.95,2.13-2.99,2.51c-0.1,0.04-0.23,0.07-0.4,0.07c-0.16,0-0.31-0.05-0.46-0.15c-0.14-0.1-0.21-0.21-0.21-0.34
		c0-0.24,0.09-0.39,0.26-0.44c0.94-0.3,1.92-1.45,2.94-3.43c0.9-1.75,1.61-3.66,2.11-5.74c0.33-1.32,0.49-2.4,0.49-3.25
		c0-0.29-0.1-0.51-0.29-0.65l-0.19-0.13c-0.06-0.04-0.1-0.12-0.1-0.23c0-0.11,0.05-0.22,0.14-0.32c0.09-0.1,0.21-0.19,0.36-0.27
		C210.68,254.35,211.04,254.28,211.44,254.28z M213.31,252.04c-0.14,0.15-0.3,0.27-0.48,0.36s-0.36,0.15-0.56,0.17
		c-0.2,0.02-0.38-0.01-0.56-0.09c-0.17-0.08-0.33-0.2-0.45-0.35c-0.27-0.32-0.41-0.64-0.41-0.96c0-0.32,0.05-0.57,0.16-0.73
		c0.1-0.16,0.24-0.29,0.4-0.4c0.3-0.2,0.59-0.29,0.86-0.29c0.27,0,0.48,0.02,0.63,0.06c0.15,0.04,0.29,0.1,0.42,0.19
		c0.3,0.21,0.46,0.46,0.46,0.77s-0.04,0.55-0.13,0.75C213.57,251.72,213.45,251.9,213.31,252.04z" />

                <path fill="#0969A5" d="M215.06,263.48c-0.27-0.25-0.48-0.58-0.63-0.97s-0.23-0.85-0.24-1.38c-0.01-0.53,0.06-1.07,0.19-1.62
		s0.33-1.07,0.58-1.58s0.55-0.98,0.9-1.43s0.74-0.83,1.17-1.16c0.93-0.71,1.89-1.07,2.88-1.07c1.31,0,2.19,0.57,2.66,1.72
		c0.33,0.83,0.35,1.84,0.06,3.02c-0.27,1.08-0.75,2.08-1.47,2.99c-0.7,0.91-1.54,1.55-2.49,1.93c-0.48,0.19-0.96,0.29-1.42,0.29
		c-0.47,0-0.88-0.06-1.25-0.18C215.65,263.92,215.33,263.73,215.06,263.48z M216.88,258.86c-0.19,0.47-0.34,0.95-0.45,1.45
		c-0.11,0.5-0.16,0.96-0.16,1.4c0.01,0.44,0.07,0.79,0.2,1.04c0.13,0.25,0.34,0.38,0.63,0.38c0.29,0,0.58-0.1,0.86-0.3
		c0.28-0.2,0.56-0.46,0.82-0.79c0.27-0.33,0.52-0.71,0.75-1.14c0.23-0.43,0.44-0.88,0.62-1.35c0.39-1.02,0.57-1.93,0.56-2.72
		c0-0.7-0.14-1.14-0.43-1.33c-0.11-0.08-0.27-0.11-0.48-0.11c-0.21,0-0.44,0.09-0.71,0.28c-0.27,0.19-0.53,0.44-0.8,0.76
		c-0.27,0.32-0.52,0.69-0.77,1.11C217.29,257.95,217.07,258.39,216.88,258.86z" />

                <path fill="#0969A5" d="M223.75,262.45c0-0.2,0.04-0.38,0.13-0.55c0.09-0.17,0.19-0.31,0.32-0.42c0.27-0.25,0.55-0.37,0.84-0.37
		c0.25,0,0.38,0.13,0.38,0.39c0,0.66,0.22,1.12,0.66,1.38c0.16,0.1,0.32,0.14,0.5,0.14s0.32-0.02,0.44-0.06
		c0.12-0.04,0.23-0.1,0.33-0.18c0.23-0.18,0.34-0.4,0.34-0.66c0-0.25-0.06-0.49-0.17-0.7c-0.11-0.21-0.26-0.44-0.43-0.67l-0.54-0.76
		c-0.76-1.02-1.14-1.95-1.14-2.81c0-0.71,0.3-1.35,0.9-1.93c0.69-0.65,1.56-0.98,2.64-0.98c0.94,0,1.67,0.23,2.2,0.69
		c0.43,0.37,0.65,0.8,0.65,1.29c0,0.5-0.19,0.9-0.57,1.2c-0.34,0.27-0.69,0.37-1.03,0.29c-0.15-0.03-0.27-0.11-0.35-0.23
		c-0.08-0.12-0.1-0.27-0.05-0.42c0.05-0.16,0.08-0.32,0.08-0.49s-0.03-0.33-0.1-0.48c-0.06-0.15-0.15-0.27-0.26-0.37
		c-0.22-0.21-0.46-0.31-0.7-0.31c-0.24,0-0.45,0.03-0.6,0.08c-0.16,0.05-0.3,0.13-0.42,0.23c-0.25,0.23-0.37,0.51-0.37,0.84
		s0.06,0.62,0.17,0.86s0.26,0.48,0.42,0.72s0.35,0.49,0.55,0.73c0.2,0.25,0.38,0.51,0.54,0.78c0.4,0.64,0.6,1.2,0.6,1.69
		s-0.1,0.89-0.3,1.22c-0.2,0.33-0.47,0.61-0.79,0.84c-0.69,0.51-1.47,0.77-2.32,0.77c-0.82,0-1.47-0.2-1.94-0.59
		C223.94,263.29,223.75,262.9,223.75,262.45z" />

            </g>

            <g id="i333">
                <path class="logo-letter" stroke-miterlimit="10" d="M80.79,140.58c0.34-0.16,0.61-0.02,0.82,0.42
	c0.28,0.58,0.29,1.31,0.06,2.19c-0.35,1.28-1.18,2.22-2.5,2.84c-1.51,0.71-2.83,0.59-3.96-0.37c-0.41-0.33-0.76-0.8-1.05-1.41
	c-0.29-0.61-0.5-1.34-0.64-2.19c-0.14-0.85-0.24-1.76-0.31-2.74c-0.07-0.97-0.12-1.97-0.14-3l-0.12-2.94
	c-0.11-2.19-0.3-3.57-0.58-4.16c-0.28-0.58-0.52-0.94-0.73-1.07c-0.21-0.13-0.41-0.21-0.61-0.25l-0.52-0.09
	c-0.17-0.03-0.31-0.16-0.42-0.39c-0.11-0.23-0.12-0.49-0.04-0.78c0.08-0.29,0.22-0.58,0.43-0.87c0.44-0.57,1.06-1.05,1.84-1.41
	c1.91-0.9,3.1-0.85,3.57,0.15c0.55,1.17,0.87,2.65,0.97,4.44c0.1,1.79,0.15,3.25,0.15,4.37l0.1,3.24c0.07,2.38,0.31,4,0.72,4.87
	c0.27,0.57,0.69,0.72,1.26,0.45c0.56-0.26,0.95-0.53,1.17-0.81C80.49,140.81,80.66,140.64,80.79,140.58z M74.85,117.6
	c-0.14,0.44-0.35,0.84-0.63,1.2c-0.28,0.36-0.6,0.66-0.98,0.89c-0.38,0.24-0.79,0.35-1.23,0.35c-0.44,0-0.86-0.1-1.27-0.28
	c-0.86-0.39-1.45-0.91-1.77-1.57c-0.31-0.66-0.44-1.21-0.38-1.64c0.06-0.43,0.2-0.83,0.43-1.19c0.43-0.7,0.93-1.18,1.48-1.44
	c0.55-0.26,1-0.42,1.34-0.49c0.34-0.07,0.69-0.07,1.03-0.01c0.84,0.13,1.4,0.5,1.69,1.12c0.29,0.62,0.45,1.17,0.46,1.66
	C75.05,116.69,74.99,117.16,74.85,117.6z" />

                <path class="logo-letter" stroke-miterlimit="10" d="M92.29,126.42c-1.03,0.48-1.73,0.33-2.1-0.46
	c-0.87-1.84-0.96-3.71-0.28-5.61c0.22-0.62,0.86-1.4,1.92-2.33c1.06-0.93,2.28-2.43,3.68-4.48c1.4-2.06,2.5-4.27,3.31-6.65
	c1.81-5.39,1.59-10.45-0.64-15.19c-0.97-2.05-2.24-3.42-3.82-4.11c-1.58-0.69-3.16-0.66-4.74,0.08c-1.58,0.74-2.86,1.76-3.85,3.05
	c-0.99,1.29-1.73,2.67-2.22,4.16c-1.06,3.14-1.04,5.88,0.06,8.22c1.04,2.21,2.32,3.28,3.83,3.21c0.64-0.01,1.06,0.21,1.27,0.65
	c0.45,0.95,0.4,2.03-0.15,3.26c-1.02,2.28-2.12,3.7-3.3,4.26c-1.19,0.56-2.23,0.83-3.14,0.81c-0.91-0.02-1.78-0.24-2.62-0.65
	c-1.67-0.88-2.92-2.21-3.75-3.97c-0.83-1.76-1.34-3.45-1.52-5.07c-0.18-1.62-0.16-3.29,0.07-5.03c0.23-1.73,0.68-3.48,1.34-5.24
	c0.67-1.76,1.53-3.46,2.6-5.09c2.29-3.46,4.97-5.92,8.04-7.36c3.07-1.45,5.65-2.18,7.75-2.2c2.1-0.02,3.97,0.35,5.62,1.12
	c3.05,1.43,5.48,4.05,7.28,7.86c2.93,6.21,2.82,13.36-0.32,21.44c-1.16,2.99-2.49,5.44-3.98,7.33c2.59-0.38,5.02,0.76,7.3,3.41
	c0.71,0.82,1.35,1.85,1.93,3.07c0.58,1.22,0.98,2.65,1.2,4.29c0.22,1.63,0.24,3.31,0.05,5.02c-0.19,1.71-0.61,3.42-1.25,5.13
	c-0.65,1.7-1.5,3.34-2.57,4.9c-2.32,3.34-5.33,5.89-9.04,7.64c-3.82,1.8-7.26,2.2-10.34,1.2c-2.65-0.84-4.55-2.49-5.7-4.94
	c-0.91-1.92-1.13-3.97-0.68-6.15c0.58-2.52,2.03-4.33,4.34-5.43c1.29-0.61,2.34-0.77,3.16-0.47c1.43,0.52,2.04,1.17,1.82,1.97
	c-0.22,0.8-0.4,1.51-0.54,2.14c-0.14,0.63-0.21,1.24-0.23,1.82c-0.05,1.12,0.09,2.05,0.44,2.78c0.35,0.74,0.69,1.29,1.03,1.66
	c0.34,0.37,0.73,0.66,1.18,0.87c1.04,0.44,2.28,0.33,3.7-0.34c1.42-0.67,2.6-1.77,3.53-3.31c0.93-1.53,1.59-3.24,1.96-5.12
	c0.78-4,0.37-7.73-1.25-11.16c-1.62-3.44-3.86-4.48-6.73-3.13L92.29,126.42z" />

                <path class="logo-letter" stroke-miterlimit="10" d="M128.34,135.38c-1.5,0.23-2.34-0.22-2.52-1.38
	c-0.42-2.69,0.16-5.13,1.75-7.31c0.52-0.71,1.63-1.47,3.34-2.27c1.71-0.8,3.84-2.26,6.41-4.37c2.57-2.12,4.82-4.55,6.75-7.29
	c4.34-6.24,5.97-12.82,4.89-19.74c-0.47-3-1.59-5.24-3.36-6.72c-1.77-1.48-3.81-2.03-6.11-1.67c-2.31,0.36-4.34,1.18-6.09,2.46
	c-1.75,1.28-3.22,2.78-4.41,4.5c-2.55,3.63-3.55,7.16-3.01,10.58c0.51,3.23,1.74,5.09,3.71,5.57c0.82,0.23,1.29,0.67,1.39,1.32
	c0.22,1.38-0.26,2.76-1.42,4.13c-2.16,2.55-4.11,3.95-5.84,4.23c-1.73,0.27-3.18,0.22-4.34-0.15c-1.16-0.37-2.2-0.98-3.12-1.82
	c-1.81-1.76-2.92-3.94-3.33-6.51c-0.4-2.58-0.42-4.94-0.05-7.09c0.37-2.15,1.03-4.29,1.98-6.43c0.94-2.14,2.18-4.21,3.7-6.23
	c1.52-2.01,3.27-3.86,5.25-5.55c4.25-3.58,8.61-5.72,13.09-6.43s8.07-0.67,10.77,0.09c2.7,0.76,4.96,1.94,6.79,3.55
	c3.38,2.98,5.51,7.26,6.38,12.83c1.42,9.08-1.4,18.21-8.48,27.4c-2.62,3.41-5.24,6.04-7.87,7.91c3.46,0.48,6.16,2.86,8.09,7.13
	c0.6,1.32,1.04,2.88,1.32,4.67c0.28,1.79,0.26,3.77-0.07,5.95c-0.33,2.18-0.94,4.34-1.83,6.46c-0.89,2.13-2.07,4.17-3.54,6.11
	c-1.47,1.94-3.18,3.72-5.14,5.33c-4.23,3.42-9.06,5.56-14.49,6.41c-5.58,0.87-10.15,0.09-13.73-2.34c-3.08-2.08-4.91-4.91-5.47-8.49
	c-0.44-2.81,0.04-5.52,1.44-8.15c1.69-3.02,4.23-4.8,7.62-5.33c1.89-0.3,3.29-0.1,4.23,0.58c1.65,1.2,2.18,2.27,1.6,3.21
	c-0.58,0.94-1.08,1.79-1.49,2.54c-0.41,0.76-0.74,1.51-0.98,2.25c-0.49,1.42-0.65,2.66-0.48,3.74c0.17,1.08,0.4,1.92,0.69,2.52
	c0.29,0.61,0.69,1.13,1.19,1.56c1.17,0.96,2.8,1.28,4.88,0.95c2.08-0.33,4-1.3,5.78-2.92c1.78-1.62,3.26-3.56,4.44-5.84
	c2.51-4.85,3.38-9.78,2.59-14.8c-0.79-5.02-3.28-7.2-7.47-6.55L128.34,135.38z" />

                <path class="logo-letter" fill="none" stroke-miterlimit="10" d="M166.84,138.67c-0.62,0.29-1.05,0.2-1.27-0.28
	c-0.53-1.12-0.58-2.25-0.17-3.41c0.14-0.38,0.52-0.85,1.16-1.41c0.64-0.57,1.39-1.47,2.23-2.72c0.85-1.25,1.52-2.59,2.01-4.04
	c1.1-3.27,0.97-6.34-0.39-9.22c-0.59-1.25-1.36-2.08-2.32-2.5c-0.96-0.42-1.92-0.4-2.87,0.05c-0.96,0.45-1.74,1.07-2.34,1.85
	c-0.6,0.78-1.05,1.62-1.34,2.52c-0.64,1.91-0.63,3.57,0.04,4.99c0.63,1.34,1.41,1.99,2.32,1.95c0.39-0.01,0.64,0.13,0.77,0.4
	c0.27,0.58,0.24,1.23-0.09,1.98c-0.62,1.38-1.28,2.25-2,2.58c-0.72,0.34-1.36,0.5-1.91,0.49c-0.55-0.01-1.08-0.14-1.59-0.39
	c-1.01-0.54-1.77-1.34-2.28-2.41c-0.5-1.07-0.81-2.1-0.92-3.08c-0.11-0.98-0.1-2,0.04-3.05c0.14-1.05,0.41-2.11,0.81-3.18
	c0.4-1.07,0.93-2.1,1.58-3.09c1.39-2.1,3.02-3.59,4.88-4.47c1.86-0.88,3.43-1.32,4.7-1.34s2.41,0.21,3.41,0.68
	c1.85,0.87,3.32,2.46,4.42,4.77c1.78,3.77,1.71,8.11-0.2,13.01c-0.71,1.82-1.51,3.3-2.41,4.45c1.57-0.23,3.05,0.46,4.43,2.07
	c0.43,0.5,0.82,1.12,1.17,1.86c0.35,0.74,0.59,1.61,0.73,2.6c0.13,0.99,0.14,2.01,0.03,3.05c-0.12,1.04-0.37,2.08-0.76,3.11
	c-0.39,1.03-0.91,2.03-1.56,2.97c-1.41,2.03-3.24,3.57-5.49,4.64c-2.32,1.09-4.41,1.34-6.27,0.73c-1.61-0.51-2.76-1.51-3.46-3
	c-0.55-1.17-0.69-2.41-0.41-3.73c0.35-1.53,1.23-2.63,2.64-3.29c0.78-0.37,1.42-0.46,1.92-0.29c0.87,0.31,1.24,0.71,1.1,1.19
	c-0.13,0.48-0.24,0.91-0.33,1.3c-0.08,0.38-0.13,0.75-0.14,1.1c-0.03,0.68,0.06,1.24,0.27,1.69c0.21,0.45,0.42,0.78,0.62,1.01
	c0.2,0.23,0.44,0.4,0.72,0.53c0.63,0.27,1.38,0.2,2.24-0.21c0.86-0.41,1.58-1.07,2.14-2.01c0.57-0.93,0.96-1.97,1.19-3.11
	c0.48-2.43,0.22-4.69-0.76-6.77c-0.98-2.08-2.34-2.72-4.09-1.9L166.84,138.67z" />
            </g>

        </svg>
    </div>
</div>