@import "../../../../../../assets/site/grid.scss";

.skills-container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 33px;
}

.skills-content {
    float: left;
    width: calc(90% - 6px);
    border: 3px solid #d6d6d6;
    border-radius: 9px;
    padding: 2.5%;
    margin: 2.5%;
}

.title-input,
.level-input {
    width: calc(100% - 12px);
    margin: 6px;
}
.danger-area {
    margin: 12px 0px 0px;
    width: 100%;
    float: left;
}
.btn-delete-skill {
    float: right;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
}
.btn-delete-skill:hover {
    background: #f44336;
    color: white;
    padding: 0px 21px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.btn.btn-primary.btn-add-skill {
    float: left;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin: 39px 25%;
}
