<ng-container *ngIf="profileForm">
    <form name="skills-form" method="post" [formGroup]="profileForm" novalidate>
        <div class="skills-container">
            <h2>Habilidades y conocimientos</h2>
            <div formArrayName="skills">
                <div *ngFor="let item of skills.controls; let nameIndex=index" [formGroupName]="nameIndex" class="col xs12 sm12 md6 lg4 xl4">
                    <div class="skills-content">
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group title-input">
                                <label>Título: </label>
                                <input formControlName="name" />
                                <span *ngIf="item.controls.name.invalid && item.controls.name.errors.required" class="form-message"> (Campo requerido)</span>
                                <span *ngIf="item.controls.name.invalid && item.controls.name.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group level-input">
                                <label>Nivel: </label>
                                <input type="number" name="quantity" min="1" max="10" formControlName="level" />
                                <span *ngIf="item.controls.level.invalid && item.controls.level.errors.required" class="form-message"> (Campo requerido)</span>
                                <span *ngIf="item.controls.level.invalid && item.controls.level.errors && item.controls.level.errors.maxLength" class="form-message"> (El número debe ser menor o igual a 10)</span>
                                <span *ngIf="item.controls.level.invalid && item.controls.level.errors && item.controls.level.errors.minLength" class="form-message"> (El número debe ser mayor 0)</span>
                                <span *ngIf="item.controls.level.invalid && item.controls.level.errors && item.controls.level.errors.notNumber" class="form-message"> (El valor debe ser numérico)</span>
                            </div>
                        </div>
                        <div class="danger-area">
                            <div class="btn-delete-skill" (click)="deleteSkill(nameIndex)">Quitar habilidad <i class="fas fa-trash-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-primary btn-add-skill" (click)="addSkill()">Adicionar una habilidad</div>
            </div>
        </div>
    </form>
</ng-container>