<div class="send-curriculum">
    <h3>¿Deseas ser experto o experta?</h3>
    Si deseas brindar consultoría como experta o experto, envíanos tu hoja de vida actualizada y te contactaremos para que hagas parte de nuestro equipo.
    <div class="btn btn-primary btn-send-curriculum" (click)="sendCurriculum()" *ngIf="!requestRoleMessage">Enviar hoja de vida</div>
    <div class="message-response" *ngIf="requestRoleMessage">{{requestRoleMessage}}</div>
</div>