@import "../../../../../../assets/site/global.scss";
@import "../../../../../../assets/site/grid.scss";

.send-curriculum {
    position: relative;
    text-align: right;
    margin: 180px 0px 0px 66px;
    border-right: 3px solid rgba(51, 51, 51, 0.6);
    padding-right: 15px;
    @media only screen and (max-width: $xs) {
        margin: 90px 0px 90px 0px;
        border: 0px;
        text-align: center;
        padding: 0px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        margin: 90px 0px 90px 0px;
        border: 0px;
        text-align: center;
        padding: 0px;
    }
}
.btn.btn-primary.btn-send-curriculum {
    font-size: 15px;
    padding: 3px 6px;
    width: 132px;
    text-align: center;
    float: right;
    margin: 15px 0px;
    @media only screen and (max-width: $xs) {
        float: initial;
        margin: 15px calc(50% - (132px / 2)) 0px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        float: initial;
        margin: 15px calc(50% - (132px / 2)) 0px;
    }
}
.message-response {
    margin: 24px 0px;
    color: $secondary-color;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 9px 6px;
    border-radius: 6px;
}
