.change-pass-page {
    padding: 33px 45px;
}
.change-pass-container {
    float: left;
    width: 381px;
    padding: 31px;
    border: 1px solid #8080808a;
    border-radius: 6px;
}
button.btn.btn-primary {
    font-size: 18px;
}
