<div class="change-pass-page">
    <h2>Cambiar contraseña</h2>
    <p>Rellena los campos del siguiente formulario para cambiar tu contraseña.</p>
    <div class="change-pass-container">
        <app-password-reset-form (passChange)="passChange($event)"></app-password-reset-form>
    </div>
</div>
<app-loading-screen></app-loading-screen>