<span *ngIf="contactForm.invalid" class="form-message">Por favor complete todos los campos</span>
<form name="contact-form" method="post" [formGroup]="contactForm" (ngSubmit)="send()" novalidate>
    <div class="form-group">
        <label for="email">Correo</label><span *ngIf="contactForm.get('email').invalid && contactForm.get('email').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="email" class="form-control" name="email" formControlName="email" required />
    </div>
    <div class="form-group">
        <label for="subject">Asunto</label><span *ngIf="contactForm.get('subject').invalid && contactForm.get('subject').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="text" class="form-control" name="subject" formControlName="subject" required />
    </div>
    <div class="form-group">
        <span *ngIf="contactForm.get('description').invalid && contactForm.get('description').errors.required" class="form-message"> (Campo requerido)</span>
        <textarea class="form-control description" name="description" formControlName="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>