@import "../../../../../../assets/site/grid.scss";

.academic-training-container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 33px;
}

.academic-training-content {
    width: calc(90% - 6px);
    margin: 2.5%;
    padding: calc(5% / 2);
    border: 3px solid #80808052;
    border-radius: 15px;
    float: left;
}

.institution,
.start-date,
.state,
.end-date,
.title {
    width: calc(100% - 12px);
    margin: 0px 6px;
}

.btn-delete-academic-training {
    float: right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 18px 0px 0px;
    transition: all 0.3s linear;
}
.btn-delete-academic-training:hover {
    background: #f44336;
    color: white;
    padding: 0px 21px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.btn.btn-primary.btn-add-academic-training {
    float: left;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin: 39px 25%;
}
.form-group label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - (12px + (0.9px * 2)));
  }