<ng-container *ngIf="profileForm">
    <form name="academic-training-form" method="post" [formGroup]="profileForm" novalidate>
        <div class="academic-training-container">
            <h2>Formación Académica</h2>
            <div formArrayName="academic_training">
                <div *ngFor="let item of academicTraining.controls; let titleIndex=index" class="col xs12 sm12 md12 lg6 xl6">
                    <div class="academic-training-content" [formGroupName]="titleIndex">
                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <div class="form-group title">
                                <label>Título: </label>
                                <input formControlName="academic_title" class="academic-training-input" />
                                <span *ngIf="item.controls.academic_title.invalid && item.controls.academic_title.errors.required" class="form-message"> (Campo requerido)</span>
                                <span *ngIf="item.controls.academic_title.invalid && item.controls.academic_title.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group institution">
                                    <label>Institución: </label>
                                    <input formControlName="institution" class="institution-input" />
                                    <span *ngIf="item.controls.institution.invalid && item.controls.institution.errors.required" class="form-message"> (Campo requerido)</span>
                                    <span *ngIf="item.controls.institution.invalid && item.controls.institution.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                                </div>
                            </div>
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group state">
                                    <label>Estado: </label>
                                    <select formControlName="state" class="state-input">
                                        <option value="finished">Finalizado</option>
                                        <option value="In progress">En progreso</option>
                                        <option value="In stand by">En espera</option>
                                        <option value="Academic license">Permiso académico</option>
                                        <option value="Postponed">Aplazado</option>
                                        <option value="Others">Otros</option>
                                    </select>
                                    <span *ngIf="item.controls.state.invalid && item.controls.state.errors.required" class="form-message"> (Campo requerido)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group start-date">
                                    <label>Fecha de inicio: </label>
                                    <input type="date" formControlName="start_date" class="start-date-input" />
                                    <span *ngIf="item.controls.start_date.invalid && item.controls.start_date.errors.required" class="form-message"> (Campo requerido)</span>
                                </div>
                            </div>
                            <div class="col xs12 sm12 md6 lg6 xl6">
                                <div class="form-group end-date">
                                    <label>Fecha de fin: </label>
                                    <input type="date" formControlName="end_date" class="end-date-input" />
                                </div>
                            </div>
                        </div>
                        <div class="btn-delete-academic-training" (click)="deleteAcademicTraining(titleIndex)">Quitar formación <i class="fas fa-trash-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="btn btn-primary btn-add-academic-training" (click)="addAcademicTraining()"> Adicionar formación</div>
        </div>
    </form>
</ng-container>