@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.help-page {
    position: relative;
    float: left;
    width: 100%;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
    }
}
h2,
p {
    padding: 0px 15px;
}
ul.help-list {
    float: left;
}
li {
    outline: none;
    cursor: pointer;
}
li:hover {
    color: #348ee8;
}
.contact-section {
    width: 100%;
    float: left;
}
.contact-card-section {
    position: relative;
    width: 100%;
    height: 282px;
    float: left;
    @media only screen and (max-width: $xs) {
        margin-bottom: 60px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        margin-bottom: 60px;
    }
}
.contact-card {
    width: 168px;
    height: 201px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #80808054;
    padding: 15px;
    border-radius: 6px;
}
.social-networks {
    width: 81.1px;
    height: 45px;
    left: 0;
    right: 0;
    margin: auto;
}
.contact-form {
    margin: 15px;
    padding: 21px;
    border: 1px solid #80808061;
    border-radius: 6px;
}
.footer-container {
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #333333;
    color: white;
}
.i333-title {
    text-align: center;
    font-size: 21px;
    margin: 21px 0px 0px;
}
br {
    height: 0px;
    display: block;
    content: "";
}
p.footer-description {
    text-align: center;
    margin: 0px 0px 15px;
}
.facebook,
.whatsapp {
    float: left;
    font-size: 39px;
    margin: 0px 3px;
    cursor: pointer;
    text-align: center;
}

a,
a:visited {
    color: white;
}
.help-page-section {
    padding: 33px;
    float: left;
}