<div class="help-page">
    <div class="help-page-section">
        <h2>Ayuda</h2>
        <p>¿Necesitas ayuda? Encuentra en ésta sección algunas respuestas a problemas que tengas.</p>
        <ul class="help-list">
            <li [routerLink]="['/about']">Acerca de</li>
            <li [routerLink]="['/frecuent-questions']">Preguntas frecuentes</li>
            <li [routerLink]="['/work-with-us']">Trabaja con nosotros</li>
        </ul>
        <div class="contact-section">
            <h2>Contáctanos</h2>
            <p>Envíanos un mensaje haciendo tus preguntas, quejas o reclamos desde el siguiente formulario.</p>
            <div class="row">
                <div class="col xs12 sm12 md6 lg6 xl6">
                    <div class="contact-form">
                        <app-contact-form></app-contact-form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-container">
        <div class="footer">
            <div class="i333-title">i333</div>
            <p class="footer-description">
                Tangosoft SAS<br>
                Calle 2a Nro. 9-40, Villamaría - Caldas, Colombia<br>
                <i class="fas fa-phone-alt"></i>+57 314 7082744<br>
            </p>
            <div class="social-networks">
                <a href="https://www.facebook.com/tangosoftsas" target="_blank">
                    <div class="facebook"><i class="fab fa-facebook-square"></i></div>
                </a>
                <a href="https://wa.me/573147082744/?text=Hola!%20estoy%20interesado%20en%20conocer%20más%20de%20i333" target="_blank">
                    <div class="whatsapp"><i class="fab fa-whatsapp-square"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>