@import "../../../../../assets/site/global.scss";

.link {
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.link:hover {
    color: $tertiary-color;
}
.btn.btn-primary.close-message {
    padding: 3px 0px;
    text-align: center;
    width: 39%;
    font-size: 15px;
    left: calc(50% - 39% / 2);
}

#message {
    display: table;
    overflow: hidden;
    margin: 0px auto;
}
*:first-child + html #message {
    position: relative;
} /*ie7*/
* html #message {
    position: relative;
} /*ie6*/

#content_container {
    display: table-cell;
    vertical-align: middle;
}
*:first-child + html #content_container {
    position: absolute;
    top: 50%;
} /*ie7*/
* html #content_container {
    position: absolute;
    top: 50%;
} /*ie6*/

*:first-child + html #content {
    position: relative;
    top: -50%;
} /*ie7*/
* html #content {
    position: relative;
    top: -50%;
} /*ie6*/

#message {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
}
div#content {
    padding: 12px;
    width: calc(100% - 36px);
    margin-left: 6px;
    text-align: center;
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #80808082;
}