<span *ngIf="recoveryPassForm.invalid" class="form-message">Por favor complete todos los campos</span>
<form name="recovery-pass-form" method="post" [formGroup]="recoveryPassForm" (ngSubmit)="recoveryPass()" novalidate #captchaProtectedForm="ngForm">
    <div class="form-group">
        <label for="username">Correo</label>
        <span *ngIf="recoveryPassForm.get('email').invalid && recoveryPassForm.get('email').errors.required" class="form-message"> (Campo requerido)</span>
        <span *ngIf="recoveryPassForm.get('email').invalid && recoveryPassForm.get('email').errors.email" class="form-message"> (Por favor ingrese una dirección de correo electrónico)</span>
        <input type="email" class="form-control" name="email" formControlName="email" required />
    </div>
    <div class="form-group">
        <re-captcha formControlName="captcha" name="captcha" required siteKey="6Ld-pNQUAAAAANA5fdyaPgY3O54-rI5kO_w0zV-l" (resolved)="verifyRecaptcha($event)"></re-captcha>
    </div>
    <div class="form-group">
        <div id="message" *ngIf="message">
            <div id="content_container">
                <div id="content">
                    <p>{{message}}</p>
                    <div class="btn btn-primary close-message" (click)="closeMessage()">Cerrar</div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Enviar</button>
        <div class="link">
            <a [routerLink]="['/registry']">Registrarse</a>
        </div>
        <div class="link">
            <a [routerLink]="['/login']">Ingresar</a>
        </div>
    </div>
</form>
<app-loading-screen></app-loading-screen>