@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

h2,
p {
    padding: 0px 15px;
    @media only screen and (max-width: $xs) {
        padding: 0px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        padding: 0px;
    }
}
.messages-dashboard {
    width: calc(100% - 66px);
    padding: 33px;
    float: left;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
    }
}
