<div class="messages-dashboard">
    <h2>Sala de negociaciones</h2>
    <p>Encuentra en ésta sección la lista de conversaciones realizadas con otras personas registradas en la plataform.</p>
    <div class="row">
        <div class="col xs12 sm12 md4 lg3 xl3">
            <app-convertations-list (userSelected)="selectUser($event)" [changeUserSelected]="userSelected"></app-convertations-list>
        </div>
        <div class="col xs12 sm12 md8 lg9 xl9">
            <app-messages-list [userSelected]="userSelected" [messageList]="messageList"></app-messages-list>
            <app-send-message [userSelected]="userSelected" (messageSend)="messageSending()"></app-send-message>
        </div>
    </div>
</div>

<app-loading-screen></app-loading-screen>