@import "../../../../../assets/site/global.scss";

.link {
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.link:hover {
    color: $tertiary-color;
}
