<span *ngIf="resetPassForm.invalid" class="form-message">Por favor complete todos los campos</span>
<span *ngIf="errorMessage" class="form-message">No se ha podido cambiar la contraseña. Por favor accede desde el link que hemos enviado a tu correo</span>
<form name="reset-pass-form" method="post" [formGroup]="resetPassForm" (ngSubmit)="resetPass()" novalidate>
    <div class="form-group" *ngIf="currentUser">
        <label for="password">Contraseña actual</label>
        <span *ngIf="resetPassForm.get('actual_pass').invalid && resetPassForm.get('actual_pass').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="password" class="form-control" name="actual_pass" formControlName="actual_pass" required />
    </div>
    <div class="form-group">
        <label for="password">Nueva contraseña</label>
        <span *ngIf="resetPassForm.get('password').invalid && resetPassForm.get('password').errors.required" class="form-message"> (Campo requerido)</span>
        <input type="password" class="form-control" name="password" formControlName="password" required />
    </div>
    <div class="form-group">
        <label for="password">Repetir contraseña</label>
        <span *ngIf="resetPassForm.get('confirm_password').errors && !resetPassForm.get('confirm_password').errors['MatchPassword']" class="form-message"> (Las contraseñas no coinciden)</span>
        <input type="password" class="form-control" name="password" formControlName="confirm_password" required />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Cambiar contraseña</button>
        <div class="link">
            <a [routerLink]="['/login']">Cancelar</a>
        </div>
    </div>
</form>
<app-loading-screen></app-loading-screen>