@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/fonts.scss";

.messages-list {
    width: calc(94.002% - 2.4px);
    overflow-y: auto;
    border: 1.2px solid #d9d9d9;
    border-radius: 3px;
    margin: 0px 3%;
    height: 399px;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 6px;
    }
}
.transmitter,
.receiver {
    margin: 21px 12px;
    width: calc(100% - 24px);
    float: left;
}
.transmitter .message-content {
    background: #eefaf9;
}
.user-image {
    position: relative;
    margin: 6px 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
}
.receiver .user-image {
    float: right;
}
.user-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
img.horizontal-format {
    height: 100%;
    width: auto;
}
img.vertical-format {
    width: 100%;
    height: auto;
}
.message-content {
    position: relative;
    float: left;
    width: 60%;
    margin: 0px calc(40.0002% - 77.0001px) 0px 21px;
    padding: 12px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
}

.receiver .message-content {
    background: #f1eefa;
    float: right;
    margin: 0px 21px 0px calc(40.0002% - 77.0001px);
}
.message-content::after {
    content: "";
    display: block;
    border-top: 12px solid transparent;
    border-right: 12px solid #b4bbbf;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 6px;
    left: -12px;
}
.receiver .message-content::after {
    border-right: initial;
    border-left: 12px solid #b4bbbf;
    left: initial;
    right: -12px;
}

.message-content p {
    margin: 0;
}
.date {
    position: absolute;
    height: 21px;
    line-height: 21px;
    background: #b4bbbf;
    color: white;
    right: -1px;
    width: 198px;
    text-align: center;
    margin: auto;
    padding: 0px 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.new-message {
    position: relative;
    float: left;
    width: calc(94.002% - 2.4px);
    height: 333px;
    border: 1.2px solid #d9d9d9;
    border-radius: 3px;
    margin: 0px 3% 6px;
}
.message {
    padding: 0px 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-image-new-message {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 60px calc(50% - (150px / 2)) 30px;
}
.user-image-new-message img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
img.horizontal-format {
    width: auto;
    height: 100%;
}
img.vertical-format {
    width: 100%;
    height: auto;
}
.user-description {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}
.user-icon {
    width: 120px;
    height: 120px;
    background: $primary-color;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    font-size: 48px;
    margin-left: calc(50% - 60px);
    margin-top: 63px;
    margin-bottom: 33px;
    color: white;
}
