<div class="messages-list" *ngIf="messageList" #messagesListContainer>
    <div [ngClass]="message.user_receiver == currentUser._id?'receiver':'transmitter'" *ngFor="let message of messageList">
        <div class="user-image" *ngIf="userSelected._id != message.user_receiver">
            <img [src]="userSelected['image']" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle" />
        </div>
        <div class="message-content">
            <p>{{message.content}}</p>
            <div class="date">
                12 de julio de 2020
            </div>
        </div>
    </div>
</div>
<div class="new-message" *ngIf="!messageList && userSelected">
    <div class="user-image-new-message">
        <img [src]="userSelected.image" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle" />
    </div>
    <div class="user-description">
        <div class="message">
            Aún no has iniciado una conversación con <a [routerLink]="['/user-profile']" [queryParams]="{'id': userSelected._id}">{{userSelected.first_name}} {{userSelected.last_name}}</a><br>
            Envíale un mensaje para comenzar negociaciones
        </div>
    </div>
</div>
<div class="new-message" *ngIf="!messageList && !userSelected">
    <div class="user-icon">
        <i class="fas fa-user"></i>
    </div>
    <div class="user-description">
        <div class="message">
            Selecciona una conversación para reservar tu consultoría
        </div>
    </div>
</div>