.proposal-container {
    width: 50%;
    height: auto;
    background: white;
    padding: 21px;
    border: 1px solid #8080806b;
    box-shadow: 0px 0px 20px #00000047;
    border-radius: 6px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.btn.btn-primary {
    padding: 3px;
    font-size: 15px;
    width: 183px;
    margin: 12px calc(50% - (183px / 2)) 0px;
}
.close {
    float: right;
    cursor: pointer;
}
.subtitle{
    margin-top: 6px;
    margin-bottom: 21px;
}