<div class="proposal-container">
    <div class="close" (click)="closeMessage()"><i class="fas fa-times"></i></div>
    <h2>Cotización</h2>
    <div class="subtitle">Envía una nueva propuesta del valor que tiene la consultoría</div>
    <form>
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control description" name="description" formControlName="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="description">Precio</label>
            <input type="text" class="form-control" name="title" formControlName="title" required />
        </div>
        <button type="submit" class="btn btn-primary">Enviar propuesta</button>
    </form>
</div>