@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

.message {
    margin: 0px 0px 9px;
    border-radius: 3px;
    color: #f44336;
}
.login-form {
    position: relative;
    height: 96vh;
    background-color: #fff;
    padding-left: 9%;
    padding-top: 3.9vh;
    padding-right: 9%;
    box-shadow: 6px 0px 9px rgba($black, 0.3);
}
.welcome-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.link {
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.link:hover {
    color: $tertiary-color;
}
.contact-page {
    background: white;
    width: calc(100% - 60px);
    margin: 0px 30px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
    }
    @media only screen and (max-width: $xs) {
        width: calc(100% - 66px);
        margin: 0px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 66px);
        margin: 0px;
    }
}

.contact-form-container {
    width: 51%;
    margin: 3% 24.5% 15%;
}

h2.title-contact {
    text-align: center;
}
.footer-container {
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #333333;
    color: white;
}
.i333-title {
    text-align: center;
    font-size: 21px;
    margin: 21px 0px 0px;
}

br {
    height: 0px;
    display: block;
    content: "";
}

p.footer-description {
    text-align: center;
    margin: 0px 0px 60px;
}

.social-networks {
    position: absolute;
    margin: auto;
    bottom: 0;
    width: 98.1px;
    left: 0;
    right: 0;
}

.facebook,
.whatsapp {
    float: left;
    font-size: 39px;
    margin: 0px 3px;
    cursor: pointer;
    text-align: center;
}

a,
a:visited {
    color: white;
}
