<div class="row">
    <div class="col xs0 sm0 md4 lg3 xl3">
        <div class="login-form">
            <h1>Ingresar</h1>
            <app-login-form></app-login-form>
        </div>
    </div>
    <div class="col xs12 sm0 md8 lg9 xl3">
        <div class="contact-page">

            <div class="contact-form-container">
                <h2 class="title-contact">Contactanos</h2>
                <p>Envíanos tus dudas e inquietudes a rellenando los campos del siguiente formulario.</p>
                <div class="contact-form">
                    <app-contact-form></app-contact-form>
                </div>
            </div>

            <div class="footer-container">
                <div class="footer">
                    <div class="i333-title">i333</div>
                    <p class="footer-description">
                        Tangosoft SAS<br>
                        Calle 2a Nro. 9-40, Villamaría - Caldas, Colombia<br>
                        <i class="fas fa-phone-alt"></i>+57 314 7082744<br>
                    </p>
                    <div class="social-networks">
                        <a href="https://www.facebook.com/tangosoftsas" target="_blank">
                            <div class="facebook"><i class="fab fa-facebook-square"></i></div>
                        </a>
                        <a href="https://wa.me/573147082744/?text=Hola!%20estoy%20interesado%20en%20conocer%20más%20de%20i333" target="_blank">
                            <div class="whatsapp"><i class="fab fa-whatsapp-square"></i></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>