.card {
    width: 100%;
    height: 333px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
}
.title-card {
    position: absolute;
    z-index: 99;
    color: white;
    width: calc(100% - 24px);
    text-align: center;
    top: 33px;
    font-size: 21px;
    padding: 0px 12px;
}
.card-description {
    position: absolute;
    font-size: 15px;
    width: calc(100% - 30px);
    padding: 0px 15px;
    height: 0px;
    transition: all 0.3s linear;
    z-index: 99;
    color: white;
    text-align: center;
    top: 69px;
    overflow: hidden;
    margin-top: 9px;
}
.card:hover > .gradient-card-mask {
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.8);
}
.card:hover .actions-card.actions-hover-animation {
    height: 42px;
}
.card:hover .card-description.description-hover-animation {
    height: 72px;
    padding: 15px;
}
.card:hover .info-card {
    height: 108px;
}
.actions-card {
    overflow: hidden;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 0px;
    transition: all 0.3s linear;
    bottom: 48px;
}
.image-card {
    width: 100%;
    height: 100%;
    position: absolute;
}
.image-card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
img.horizontal-format {
    height: 100%; 
    width: auto;
}
img.vertical-format {
    width: 100%;
    height: auto;
}
.user-card {
    position: absolute;
    z-index: 99;
    color: white;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    bottom: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gradient-card-mask {
    width: 100%;
    height: 100%;
    z-index: 90;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 76%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0)),
        color-stop(76%, rgba(0, 0, 0, 0.76)),
        color-stop(100%, rgba(0, 0, 0, 1))
    );
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 76%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 76%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 76%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 76%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.delete-card,
.share-card,
.do-a-question-card {
    width: 18px;
    height: 18px;
    float: left;
    margin: 5px;
    border: 1px solid white;
    padding: 6px;
    color: white;
    text-align: center;
    transition: all 0.1s linear;
}
.delete-card:hover {
    color: #333333;
    background: white;
}
.center-actions-card {
    margin: auto;
    width: 84px;
}
span.updated-date {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin: auto;
    top: 12px;
}
.user-card.first-name-expert {
    bottom: 42px;
    font-size: 24px;
}