<div (click)="show()" class="card">
    <span class="updated-date" *ngIf="data && data.updated_date">{{(data.updated_date | date: 'MMMM d') | titlecase}} de {{data.updated_date | date: 'yyyy'}}</span>
    <div class="title-card" *ngIf="data">
        {{data.title.length>42? (data.title | slice:0:42)+'...': data.title}}
    </div>
    <div *ngIf="data && data.description" [ngClass]="config.descriptionHoverAnimation?'card-description description-hover-animation':'card-description'">
        {{(data.description && data.description.length)>150? (data.description | slice:0:150)+'...':data.description}}
    </div>
    <div *ngIf="data && data.professional_profile" [ngClass]="config.descriptionHoverAnimation?'card-description description-hover-animation':'card-description'">
        {{(data.professional_profile && data.professional_profile.length)>150? (data.professional_profile | slice:0:150)+'...':data.professional_profile}}
    </div>
    <div class="user-card" *ngIf="data && data.user && data.user.first_name">
        {{data.user.first_name}}
    </div>
    <div class="user-card first-name-expert" *ngIf="data && data.first_name">
        {{data.first_name}}
    </div>
    <div class="user-card last-name-expert" *ngIf="data && data.last_name">
        {{data.last_name}}
    </div>
    <div [ngClass]="config.actionsHoverAnimation?'actions-card actions-hover-animation':'actions-card'">
        <!--Admin actions: share and delete-->
        <div class="center-actions-card" *ngIf="config.actions">
            <div class="delete-card" (click)="deleteCard();$event.stopPropagation()" *ngIf="config.deleteAction">
                <i class="fas fa-trash"></i>
            </div>
            <div class="share-card" *ngIf="config.shareAction">
                <i class="fas fa-share"></i>
            </div>
            <div class="do-a-question-card" *ngIf="config.doAQuestionAction">
                <i class="fas fa-question"></i>
            </div>
        </div>
    </div>
    <div class="gradient-card-mask"></div>
    <app-loading-resource [loading]="!image"></app-loading-resource>
    <div class="image-card" *ngIf="image">
        <img [src]="image" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle" />
    </div>
</div>