<div class="news" #newsContainer>
    <div class="search">
        <app-search (resultsListEvent)="searchResult($event)"></app-search>
    </div>
    <div class="list-news">
        <ng-container *ngIf="currentUser && currentUser.role[0]==='EXPERT'">
            <app-cards-collection *ngIf="configCardsCollection" [cards]="projectsList" [config]="configCardsCollection" (showCardInfo)="showProjectPage($event)" (pageSelected)="goToPage($event)" [page]="page"></app-cards-collection>
        </ng-container>
        <ng-container *ngIf="currentUser && currentUser.role[0]==='ENTREPRENEUR'">
            <app-cards-collection *ngIf="configCardsCollection" [cards]="expertsList" [config]="configCardsCollection" (showCardInfo)="showCurriculumPage($event)" (pageSelected)="goToPage($event)" [page]="page"></app-cards-collection>
        </ng-container>
    </div>
</div>