@import "../../../../../assets/site/grid.scss";

.news {
    float: left;
    position: relative;
    width: calc(100% - 66px);
    padding: 0px 33px;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 0px 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 0px 15px;
    }
}
