<div class="project-detail" *ngIf="project">

    <div class="row">
        <div class="col xs12 sm12 md2 lg2 xl2">
            <div class="image">
                <img [src]="projectImageUrl" *ngIf="projectImageUrl" class="image-preview">
                <app-loading-resource [loading]="!projectImageUrl"></app-loading-resource>
            </div>
        </div>
        <div class="col xs12 sm12 md10 lg10 xl10">
            <div class="title" *ngIf="project">
                <h1 [ngClass]="(project.title.length <= 18)? 'short':(project.title.length <= 39) && (project.title.length > 18)?'long':'very-long'"> {{project.title}}</h1>
                <span *ngIf="projectProperty">{{projectProperty.first_name}} {{projectProperty.last_name}}</span>
                <div class="date-info">
                    {{project.created_date | date: 'MMMM d'}} de {{project.created_date | date: 'yyyy'}}
                </div>
            </div>
        </div>
    </div>

    <div class="return-section">
        <div class="return" [routerLink]="['/news']"><i class="fas fa-chevron-left"></i> Inicio</div>
    </div>

    <div class="row">
        <div class="col xs12 sm12 md2 lg2 xl2">
            <div class="view-profile-container" *ngIf="projectProperty">
                <div class="user-photo">
                    <ng-container *ngIf="userPhoto">
                        <img [src]="userPhoto" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle">
                    </ng-container>
                    <app-loading-resource [loading]="!userPhoto"></app-loading-resource>
                </div>
                <span class="view-curriculum" *ngIf="projectProperty && (projectProperty.first_name || projectProperty.last_name)">{{projectProperty.first_name}} {{projectProperty.last_name}}</span>
                <div class="view-profile" [routerLink]="['/user-profile']" [queryParams]="{'id': projectProperty._id}">Ver perfil</div>
            </div>
        </div>
        <div class="col xs12 sm12 md10 lg10 xl10">
            <div class="project-description">

                <div class="section description">
                    <h2 class="subtitle">Descripción</h2>
                    {{project.description}}
                </div>

                <div class="section locations" *ngIf="project && project.locations">
                    <h2 class="subtitle">Ubicaciones</h2>
                    <div class="location" *ngFor="let location of project.locations">
                        <i class="fas fa-map-marker-alt"></i> {{location.city}}, {{location.state}} - {{location.country}}
                    </div>
                </div>

                <div class="section resources-needed">
                    <h2 class="subtitle">¿Qué necesita éste proyecto?</h2>
                    {{project.needs}}
                </div>

                <div class="section value-proposition">
                    <h2 class="subtitle">Matriz DOFA</h2>
                    <div class="swot-matrix">
                        <ng-container *ngIf="project && project.swot_matrix">
                            <b>Oportunidades</b>
                            <ul class="opportunities-list">
                                <li *ngFor="let opportunity of project.swot_matrix.opportunities">
                                    {{opportunity.description}}
                                </li>
                            </ul>
                            <b>Fortalezas</b>
                            <ul class="strengths-list">
                                <li *ngFor="let strength of project.swot_matrix.strengths">
                                    {{strength.description}}
                                </li>
                            </ul>
                            <b>Amenazas</b>
                            <ul class="threats-list">
                                <li *ngFor="let threat of project.swot_matrix.threats">
                                    {{threat.description}}
                                </li>
                            </ul>
                            <b>Debilidades</b>
                            <ul class="weaknesses-list">
                                <li *ngFor="let weakness of project.swot_matrix.weaknesses">
                                    {{weakness.description}}
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="actions-section">
        <div class="row">
            <div class="col xs12 sm12 md4 lg4 xl4">
                <div class="actions">
                    <h3>Acciones</h3>
                    <br>
                    <button [ngClass]="!negotiationMessage?'btn btn-primary':'btn btn-primary disabled'" (click)="startNegotiation(project)">
                        Contactar
                        <div class="message" *ngIf="negotiationMessage">
                            No puedes iniciar negociaciones sobre tu proyecto.
                            <span class="close-message" (click)="closeNegotiationMessage();$event.stopPropagation()">x</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>