@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.project-detail {
  width: calc(100% - 66px);
  float: left;
  padding: 33px;
}
.profile-public {
  position: relative;
  width: 100%;
  height: 100vh;
  float: left;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
}
.return-section {
  width: 100%;
  text-align: right;
  float: left;
  margin: 15px 0px;
}
.return {
  float: right;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 15px;
  outline: none;
  color: #0969a5;
  border-bottom: 1px solid;
}
.image {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  float: left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.image img {
  width: 180%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  position: relative;
  width: 100%;
  float: left;
  height: 150px;
  background: #000000;
  color: #ffffff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.title h1 {
  width: calc(100% - 42px);
  padding: 21px 21px 0px;
  float: left;
  margin: 0;
}
.title span {
  padding: 0px 21px;
}
h1.very-long {
  font-size: 33px;
  line-height: 36px;

  @media only screen and (max-width: $xs) {
    font-size: 21px;
    line-height: 24px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    font-size: 21px;
    line-height: 24px;
  }
}
h1.long {
  font-size: 51px;
  line-height: 45px;

  @media only screen and (max-width: $xs) {
    font-size: 33px;
    line-height: 36px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    font-size: 33px;
    line-height: 36px;
  }
}
h1.short {
  @media only screen and (min-width: $lg-min) and (max-width: $lg-max) {
    font-size: 6vw;
    line-height: 6vw;
  }
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: 5.1vw;
    line-height: 5.1vw;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 5.1vw;
    line-height: 9.1vw;
  }
  @media only screen and (max-width: $xs) {
    width: 5.1vw;
    line-height: 9.1vw;
  }
}
.date-info {
  width: auto;
  position: absolute;
  bottom: 6px;
  right: 15px;
  font-size: 18px;
}
.description {
  padding: 0;
  float: left;
  width: 100%;
  height: auto;
  white-space: pre-line;
  text-align: justify;
}
.resources-needed {
  width: 100%;
  float: left;
  white-space: pre-line;
  text-align: justify;
}
.value-proposition {
  white-space: pre-line;
}
.value-proposition p {
  text-align: justify;
}
.project-description {
  width: calc(100% - 120px);
  padding: 0px 90px 0px 30px;
  @media only screen and (max-width: $xs) {
    width: 100%;
    padding: 0px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 100%;
    padding: 0px;
  }
}
.actions-section {
  width: calc(100% - 66px);
  float: left;
  margin-top: 15px;
  padding: 12px 33px;
  border-top: 3px solid;
  @media only screen and (max-width: $xs) {
    width: 100%;
    padding: 12px 0px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 100%;
    padding: 12px 0px;
  }
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    padding: 12px 9px;
  }
}
.actions {
  width: 100%;
  float: left;
  @media only screen and (max-width: $xs) {
    text-align: center;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    text-align: center;
  }
}
.actions button {
  float: left;
  width: 60%;
  margin: 0px 70% 9px 0px;
  font-size: 15px;
  padding: 6px;
  @media only screen and (max-width: $xs) {
    width: 100%;
    margin: 0px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    width: 100%;
    margin: 0px;
  }
  @media only screen and (min-width: $md-min) and (max-width: $md-max) {
    width: 90%;
    margin: 0px 10% 9px 0px;
  }
}
p.rate-text {
  margin: 21px 0px;
  float: left;
  width: 75%;
  @media only screen and (max-width: $xs) {
    margin: 33px 0px;
    width: 100%;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    margin: 33px 0px;
    width: 100%;
  }
}
.rate {
  float: left;
  width: calc(30px * 5);
  height: 21px;
  margin: 12px 0px;
  @media only screen and (max-width: $xs) {
    margin: 12px calc(50% - (27px * 5) / 2);
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    margin: 12px calc(50% - (27px * 5) / 2);
  }
}
.star-icon {
  float: right;
  padding-right: 9px;
  color: $primary-color;
  cursor: pointer;
  transition: all 0.3s linear;
  width: 21px;
  height: 21px;
}
.star-icon {
  position: relative;
  @extend %fa-icon;
  @extend .fas;

  &:after {
    content: fa-content($fa-var-star);
  }
  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-star);
    color: #0969a573;
    position: absolute;
    font-size: 0px;
    text-align: center;
    left: 33%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.15s linear;
  }
  &:hover {
    & ~ .star-icon:after,
    &:after {
      color: $secondary-color;
      content: fa-content($fa-var-star);
    }
  }
}
.star-icon:active {
  &:before {
    color: #cae9fd73;
    font-size: 66px;
  }
}
.star-icon.star-5.selected,
.star-icon.star-4.selected,
.star-icon.star-3.selected,
.star-icon.star-2.selected,
.star-icon.star-1.selected {
  & ~ .star-icon:after,
  &:after {
    color: $secondary-color;
    content: fa-content($fa-var-star);
  }
}
.comments-section {
  width: calc(100% - 42px);
  padding-right: 42px;
  float: left;
  @media only screen and (max-width: $xs) {
    width: 100%;
    padding-right: 0px;
  }
}
.btn-primary {
  float: right;
  font-size: 15px;
  text-align: center;
  padding: 3px;
  width: 69px;
  position: relative;
}
button.btn.btn-primary.disabled {
  pointer-events: none;
}
.message {
  position: absolute;
  color: white;
  width: 180px;
  background: #4caf50;
  font-size: 14px;
  right: -204px;
  top: -6px;
  z-index: 3;
  border-radius: 3px;
  padding: 12px 6px;
  cursor: default;
}
.message::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-right: 9px solid #4caf50;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  margin: auto;
  left: -9px;
  top: 12px;
}
span.close-message {
  position: absolute;
  top: 3px;
  right: 6px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  pointer-events: all;
  z-index: 99;
}
button.btn.btn-primary.disabled {
  overflow: unset;
}
.locations {
  float: left;
  width: 100%;
}
.section {
  margin-bottom: 33px;
}
.user-photo {
  position: relative;
  width: 99px;
  margin: 9px calc(50% - (99px / 2));
  height: 99px;
  overflow: hidden;
  border-radius: 50%;
}
.user-photo img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
img.horizontal-format {
  height: 100%;
  width: auto;
}
img.vertical-format {
  width: 100%;
  height: auto;
}
span.view-curriculum {
  display: block;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
}
.view-profile {
  width: 81px;
  text-align: center;
  margin: 0 calc(50% - (81px / 2));
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s linear;
}
.view-profile:hover {
  color: #1571aa;
}
h2.subtitle {
  margin-bottom: 9px;
}
ul.opportunities-list,
ul.strengths-list,
ul.threats-list,
ul.weaknesses-list {
  margin: 3px 0px;
}
