<div class="shopping-page">
    <h2>Comprar</h2>
    <p>¡Próximamente podrás ampliar las funcionalidades de tu cuenta! Y disfrutar de una amplia gama de herramientas que fortalecerán tu negocio en todos los aspectos. Algunas de éstas herramientas son:</p>
    <ul>
        <li>Productos</li>
        <li>Pedidos</li>
        <li>Inversionistas</li>
        <li>Clientes</li>
        <li>Facturación</li>
        <li>Asesores</li>
    </ul>
</div>