@import "../../../../../assets/site/grid.scss";

h2,
p,
span {
    padding: 0px 15px;
}
.shopping-page {
    float: left;
    width: calc(100% - 66px);
    padding: 33px;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
    }
}
