@import "../../../../../../assets/site/grid.scss";

.laboral-experiences-container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 33px;
}

.experience-content {
    float: left;
    width: calc(90% - 6px);
    border: 3px solid #d6d6d6;
    border-radius: 9px;
    padding: 2.5%;
    margin: 2.5%;
}

.institution-field,
.position-field,
.description-textarea-field,
.start-date-field,
.end-date-field {
    width: calc(100% - 12px);
    margin: 0px 6px;
}

.danger-area {
    width: 100%;
    float: left;
    margin: 12px 0px 0px;
}

.btn-delete-experience {
    float: right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 18px 0px 0px;
    transition: all 0.3s linear;
}

.btn-delete-experience:hover {
    background: #f44336;
    color: white;
    padding: 0px 21px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.btn.btn-primary.btn-add-experience {
    float: left;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin: 39px 25%;
}

.form-group label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - (12px + (0.9px * 2)));
  }
