<ng-container *ngIf="profileForm">
    <form name="laboral-experiences-form" method="post" [formGroup]="profileForm" novalidate>
        <div class="laboral-experiences-container">
            <h2>Experiencia</h2>
            <div formArrayName="laboral_experiences">
                <div *ngFor="let item of laboralExperiences.controls; let nameIndex=index" [formGroupName]="nameIndex" class="col xs12 sm12 md6 lg6 xl6">
                    <div class="experience-content">
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group institution-field">
                                <label>Institución: </label>
                                <input formControlName="institution" />
                                <span *ngIf="item.controls.institution.invalid && item.controls.institution.errors.required" class="form-message"> (Campo requerido)</span>
                                <span *ngIf="item.controls.institution.invalid && item.controls.institution.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group position-field">
                                <label>Cargo: </label>
                                <input formControlName="position" />
                                <span *ngIf="item.controls.position.invalid && item.controls.position.errors.required" class="form-message"> (Campo requerido)</span>
                                <span *ngIf="item.controls.position.invalid && item.controls.position.errors.maxlength" class="form-message"> (Máx. 60 caracteres)</span>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <div class="form-group description-textarea-field">
                                <label>Descripción: </label>
                                <textarea formControlName="description"></textarea>
                                <span *ngIf="item.controls.description.invalid && item.controls.description.errors.maxlength" class="form-message"> (Máx. 255 caracteres)</span>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group start-date-field">
                                <label>Fecha de inicio: </label>
                                <input type="date" formControlName="start_date" />
                                <span *ngIf="item.controls.start_date.invalid && item.controls.start_date.errors.required" class="form-message"> (Campo requerido)</span>
                            </div>
                        </div>
                        <div class="col xs12 sm12 md6 lg6 xl6">
                            <div class="form-group end-date-field">
                                <label>Fecha de fin: </label>
                                <input type="date" formControlName="end_date" />
                            </div>
                        </div>
                        <div class="danger-area">
                            <div class="btn-delete-experience" (click)="deleteLaboralExperience(nameIndex)">Quitar experiencia <i class="fas fa-trash-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-primary btn-add-experience" (click)="addLaboralExperience()">Adicionar experiencia</div>
            </div>
        </div>
    </form>
</ng-container>