<div class="profile">
    <form name="profile-form" method="post" [formGroup]="profileForm" (ngSubmit)="save()" novalidate>
        <app-profile-header (onPhotoSelected)="setPhoto($event)" [currentUser]="currentUser"></app-profile-header>
        <div class="row">
            <div [ngClass]="beAnExpert?'col xs12 sm12 md3 lg3 xl3':'col xs12 sm12 md3 lg0 xl0'">
                <app-be-an-expert [currentUser]="currentUser"></app-be-an-expert>
            </div>
            <div [ngClass]="beAnExpert?'col xs12 sm12 md9 lg9 xl9':'col xs12 sm12 md9 lg12 xl12'">
                <div class="profile-container">
                    <div class="row">
                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <app-personal-information [profileForm]="profileForm" (formChanges)="formChange($event)"></app-personal-information>
                        </div>
                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <app-academic-training [profileForm]="profileForm" [currentUser]="currentUser" (formChanges)="formChange($event)"></app-academic-training>
                        </div>
                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <app-skills [profileForm]="profileForm" [currentUser]="currentUser" (formChanges)="formChange($event)"></app-skills>
                        </div>
                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <app-laboral-experiences [profileForm]="profileForm" [currentUser]="currentUser" (formChanges)="formChange($event)"></app-laboral-experiences>
                        </div>

                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <app-references [profileForm]="profileForm" [currentUser]="currentUser" (formChanges)="formChange($event)"></app-references>
                        </div>

                        <div class="col xs12 sm12 md12 lg12 xl12">
                            <app-documents [profileForm]="profileForm" [currentUser]="currentUser" (files)="filesChange($event)"></app-documents>
                        </div>

                        <div *ngIf="messageInvalid" class="message-invalid">
                            ¡Formulario inválido! Por favor corrija los campos ingresados
                        </div>
                    </div>
                    <div class="col xs0 sm0 md0 be-an-expert-button" (click)="showBeAnExpert();">
                        <i class="fas fa-user-graduate"></i> Ser experto
                    </div>
                </div>
                <div class="form-group save-changes">
                    <button class="btn btn-primary"><i class="fas fa-save"></i> Guardar todos los cambios</button>
                </div>
            </div>
        </div>

    </form>
</div>
<app-loading-screen [loading]="loading"></app-loading-screen>