@import "../../../../../../assets/site/global.scss";
@import "../../../../../../assets/site/grid.scss";

button.btn.btn-primary {
  width: 42%;
  margin: 0px calc((100% - 42%) / 2);
  font-size: 18px;
}
.profile-container {
  width: calc(100% - ((72px * 2) + (32px * 2)));
  position: relative;
  float: left;
  margin: 33px 72px;
  border: 1px solid #c3c3c3;
  padding: 36px;
  border-radius: 9px;
  @media only screen and (max-width: $xs) {
    margin: 0px;
    width: calc(100% - 26px);
    padding: 12px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    margin: 0px;
    width: calc(100% - 26px);
    padding: 12px;
  }
}
.form-group.save-changes {
  margin-bottom: 99px;
}
.be-an-expert-button {
  position: absolute;
  top: 207px;
  transform: rotate(-90deg);
  left: -90px;
  font-size: 21px;
  border: 1px solid $primary-color;
  background: white;
  color: $primary-color;
  padding: 6px 15px;
  border-radius: 24px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  transition: all 0.3s linear;
}
.be-an-expert-button:hover {
  background-color: #348ee8;
  border: 1px solid #33333367;
  color: white;
  box-shadow: 0px 0px 6px #6db3de;
}
