@import "../../../../../assets/site/grid.scss";

.search-container {
    padding: 15px;
    width: calc(100% - 30px);
    height: auto;
    float: left;
}
.text-input-container {
    position: relative;
    width: calc(100% - 15%);
    float: left;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 33%);
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 33%);
    }
}
.search-button-container {
    width: 15%;
    float: right;
    @media only screen and (max-width: $xs) {
        width: 33%;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: 33%;
    }
}
input.text-search {
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 33px;
    width: calc(100% - 26px);
    padding: 0px 12px;
}
button.btn-primary {
    height: 35px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    cursor: pointer;
}
.predictions {
    position: absolute;
    width: calc(100% - 2px);
    background: white;
    z-index: 102;
    border: 1px solid #e4e4e4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0px;
    box-shadow: 0 9px 3px 0px #00000026;
}
.predictions .result-item {
    padding: 0px 12px;
    cursor: pointer;
}
.predictions .result-item:hover {
    font-weight: bold;
}
