<div class="search-container">
    <div class="text-input-container">
        <input type="text" placeholder="Buscar idea en específico" class="text-search" (keypress)="$event.code==='Enter'?search(null,searchField):autoSearch(searchField.value)" #searchField />
        <div class="predictions" *ngIf="resultsList && resultsList.length>0">
            <ng-container *ngIf="currentUser.role[0]==='ENTREPRENEUR'">
                <div *ngFor="let prediction of resultsList" class="result-item" (click)="search(prediction, searchField)">
                    {{prediction.first_name}} {{prediction.last_name}}, {{prediction.title}}
                </div>
            </ng-container>
            <ng-container *ngIf="currentUser.role[0]==='EXPERT'">
                <div *ngFor="let prediction of resultsList" class="result-item" (click)="search(prediction, searchField)">
                    {{prediction.title}}
                </div>
            </ng-container>

        </div>
    </div>
    <div class="search-button-container">
        <button class="btn-primary" (click)="search(null,searchField)">Buscar</button>
    </div>
</div>