<h3 class="title">Comentarios</h3>
<p class="helper-description">Déjanos una reseña y ayudanos a crecer, nosotros trabajaremos para hacer de nuestros productos la mejor opción.</p>
<div class="post-comment">
    <div class="user-image" *ngIf="commentatorPhoto">
        <img [src]="commentatorPhoto" />
    </div>

    <div class="comment-form" (ClickOutside)="initText()">
        <div contentEditable="true" class="comment-div" (keyup)="updateComment(commentinput.innerText)" (click)="clearText()" #commentinput>{{labelDescription}}</div>
        <div class="tools-form">
            <div class="error-message" *ngIf="showErrorMessage">El mensaje supera los 255 caracteres</div>
            <button class="send-comment" contentEditable="false" (click)="postComment(commentinput)"></button>
        </div>
    </div>
    <div class="comments-list" *ngIf="commentsList && commentsListPublic">
        <div class="comment-box" *ngFor="let comm of commentsList">
            <div class="user-image" *ngIf="comm.user_photo" (click)="showUserDetail(comm.user)">
                <img [src]="comm.user_photo" />
            </div>
            <div [ngClass]="more==comm._id?'the-comment full':'the-comment'" id="{{comm._id}}">
                <b>{{comm.commentator.first_name}}</b>
                <div class="description">{{comm.description}}</div>
                <div class="comment-date">{{comm.created_date | date: 'MMMM d'}} de {{comm.created_date | date: 'yyyy'}}</div>
            </div>
            <div [ngClass]="more==comm._id?'more retract':'more'" (click)="showMore(comm._id)" *ngIf="comm.description.length > 156"></div>
        </div>
    </div>
</div>
<app-loading-screen></app-loading-screen>