@import "../../../../assets/site/global.scss";
@import "../../../../assets/site/grid.scss";

h3.title {
    text-align: center;
}
.user-image {
    width: 33px;
    height: 33px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    float: left;
    cursor: pointer;
    background: #333333;
}
.user-image img {
    position: absolute;
    width: 147%;
    height: auto;
    transform: translateY(-50%);
    top: 50%;
}
.comment-form {
    width: calc(100% - (35px + (15px * 2)));
    float: right;
    margin: 0px 15px 0px;
    position: relative;
    border: solid 1px rgba($black, 0.3);
    border-radius: 3px;
}
.comment-form input {
    height: 33px;
}
.comment-div {
    display: inline-block;
    min-height: 52px;
    width: calc(100% - 16px);
    position: relative;
    outline: none;
    padding: 6px;
}
button.send-comment {
    cursor: pointer;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 6px;
    border-radius: 50%;
    border: 0;
    background: $primary-color;
    color: $white;
    position: absolute;
    bottom: 0;
    right: 0;
    @extend %fa-icon;
    @extend .fas;
    &:after {
        content: fa-content($fa-var-paper-plane);
    }
}
.tools-form {
    width: 100%;
    height: 42px;
    float: left;
}
.post-comment {
    width: 100%;
    height: auto;
    float: left;
    padding: 6px 0px;
}
.comments-list {
    width: 100%;
    float: left;
    margin-top: 33px;
}
.the-comment {
    position: relative;
    width: calc(100% - (63px + 24px));
    background: rgba(0, 0, 0, 0.06);
    padding: 6px 12px;
    border-radius: 3px;
    float: right;
    margin: 0px 15px;
    max-height: 81px;
    overflow: hidden;
    transition: max-height 0.3s linear;
    white-space: pre-line;
}
.the-comment.full {
    max-height: 100%;
}
.comment-box {
    margin-top: 21px;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 18px;
}
.comment-box::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-right: 9px solid rgba(0, 0, 0, 0.06);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    margin: auto;
    left: calc(-9px + (33px + 15px));
    top: 12px;
}
.more {
    width: 9%;
    height: 24px;
    background: #333;
    position: absolute;
    bottom: -6px;
    margin: auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition: all 0.6s linear;
    @extend %fa-icon;
    @extend .fas;
    &:after {
        content: fa-content($fa-var-angle-down);
        width: 12px;
        height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.more.retract {
    @extend %fa-icon;
    @extend .fas;
    &:after {
        content: fa-content($fa-var-angle-up);
        width: 12px;
        height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.more:hover {
    background: $secondary-color;
}
.comment-date {
    position: relative;
    line-height: 21px;
    color: #3333335e;
    text-align: right;
}
p.helper-description {
    margin-top: 3px;
    text-align: center;
}
.error-message {
    width: calc(100% - 42px);
    float: left;
    height: 21px;
    margin-top: calc(21px / 2);
    text-align: center;
    color: #f44336;
}
