<div class="project-list">
    <div class="message-bg" *ngIf="deleteMessage" (click)="closeMessage()">
        <div class="confirm-delete-message" (click)="$event.stopPropagation()">
            <h4>¿Está seguro de que desea eliminar?</h4>
            <div class="project-name">"{{projectToDelete.title}}"</div>
            <div class="btn btn-primary delete" (click)="confirmDeleteProject();$event.stopPropagation()">Eliminar</div>
            <div class="btn btn-primary cancel" (click)="closeMessage();$event.stopPropagation()">Cancelar</div>
        </div>
    </div>
    <h2>Mis proyectos</h2>
    <p>Encuentra en ésta sección la lista de todos tus proyectos de emprendimiento.</p>
    <app-cards-collection *ngIf="configCardsCollection" [cards]="projectsList" [config]="configCardsCollection" [page]="page" (showCardInfo)="showProjectPage($event)" (pageSelected)="goToPage($event)" (deleteRecord)="deleteProject($event)"></app-cards-collection>
</div>
<div *ngIf="!projectsList || (projectsList && projectsList.length==0)" class="projects-empty">
    Aún no tienes proyectos<br>
    ¿Deseas crear uno nuevo?
    <div class="btn btn-primary new-proyect" [routerLink]="['/new-project']">Crear nuevo proyecto</div>
</div>
<div *ngIf="projectsList && projectsList.length>0" class="btn-float-section">
    <div class="btn-create-project" [routerLink]="['/new-project']"><i class="fas fa-plus"></i></div>
    <div class="tooltip">Nuevo proyecto</div>
</div>
<app-loading-screen></app-loading-screen>