@import "../../../../../assets/site/grid.scss";

.project-list {
    position: relative;
    float: left;
    width: calc(100% - 66px);
    padding: 33px;
    @media only screen and (max-width: $xs) {
        width: calc(100% - 30px);
        padding: 15px;
    }
    @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
        width: calc(100% - 30px);
        padding: 15px;
    }
}
h2,
p {
    padding: 0px 15px;
}
.message-bg {
    background: #ffffffa8;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
}
.confirm-delete-message {
    background: white;
    width: 261px;
    height: 120px;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    box-shadow: 0px 0px 24px #333333b8;
}
.btn.btn-primary.delete,
.btn.btn-primary.cancel {
    font-size: 18px;
    width: calc(48% - 2px);
    float: left;
    padding: 3px 0px;
    margin-top: 15px;
}
.btn.btn-primary.cancel {
    float: right;
}
.btn.btn-primary.delete {
    background: #f44336;
}
.btn.btn-primary.delete:hover {
    background: #dc2114;
    box-shadow: 0px 0px 8px #f44336b5;
}
.projects-empty {
    width: 300px;
    height: 90px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.btn.btn-primary {
    font-size: 15px;
    padding: 3px 0px;
    width: 57%;
    margin: 12px 0px;
}
.btn.btn-primary.new-proyect {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 21px;
}
.project-name {
    white-space: nowrap;
    width: 100%;
    padding: 12px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-float-section {
    z-index: 99;
    position: fixed;
    bottom: 24px;
    right: 57px;
}
.btn-create-project {
    position: relative;
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    background: #348ee8;
    outline: none;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 6px 12px #00000038;
}
.tooltip {
    opacity: 0;
    left: -153px;
    top: 0px;
    bottom: 0;
    margin: auto;
    font-size: 18px;
    position: absolute;
    width: 120px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: white;
    background-color: #348ee8;
    border: 1px solid #306fad4d;
    border-radius: 3px;
    padding: 0px 9px;
    transition: all 0.3s linear;
}
.tooltip::after {
    content: "";
    display: block;
    border-left: 9px solid #348ee8;
    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    top: 0px;
    right: -18px;
    margin: auto;
}
.btn-create-project:hover ~ .tooltip {
    opacity: 1;
}
