@import "assets/site/global.scss";
@import "assets/fonts/FontAwesome/scss/fontawesome.scss";
@import "assets/fonts/FontAwesome/scss/solid.scss";
@import "assets/fonts/FontAwesome/scss/brands.scss";

a {
    text-decoration: none;
}
a:visited {
    color: #009688;
}
body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-size: 18px;
    color: $primary-color;
    background: rgba(109, 179, 222, 1);
    background: -moz-linear-gradient(
        -45deg,
        rgba(109, 179, 222, 1) 0%,
        rgba(9, 105, 165, 1) 47%,
        rgba(139, 27, 161, 1) 100%
    );
    background: -webkit-gradient(
        left top,
        right bottom,
        color-stop(0%, rgba(109, 179, 222, 1)),
        color-stop(47%, rgba(9, 105, 165, 1)),
        color-stop(100%, rgba(139, 27, 161, 1))
    );
    background: -webkit-linear-gradient(
        -45deg,
        rgba(109, 179, 222, 1) 0%,
        rgba(9, 105, 165, 1) 47%,
        rgba(139, 27, 161, 1) 100%
    );
    background: -o-linear-gradient(
        -45deg,
        rgba(109, 179, 222, 1) 0%,
        rgba(9, 105, 165, 1) 47%,
        rgba(139, 27, 161, 1) 100%
    );
    background: -ms-linear-gradient(
        -45deg,
        rgba(109, 179, 222, 1) 0%,
        rgba(9, 105, 165, 1) 47%,
        rgba(139, 27, 161, 1) 100%
    );
    background: linear-gradient(
        135deg,
        rgba(109, 179, 222, 1) 0%,
        rgba(9, 105, 165, 1) 47%,
        rgba(139, 27, 161, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3de', endColorstr='#8b1ba1', GradientType=1 );
}
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h1 {
    display: block;
    font-size: 3em;
    font-weight: bold;
}
input,
select {
    border: 0.9px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-family: "Rokkitt", serif;
    font-size: 18px;
    width: calc(100% - (12px + (0.9px * 2)));
    height: 30px;
    line-height: 30px;
    padding: 0px 6px;
}
input[type="checkbox"] {
    width: auto;
}
input:focus,
select {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 33px $white inset;
    -webkit-text-fill-color: $primary-color;
}
select {
    width: 100%;
    height: calc(30px + (0.9px * 2));
    appearance: none;
    display: inline-block;
    cursor: pointer;
}
textarea {
    border: 0.9px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    width: calc(100% - (12px + (0.9px * 2)));
    height: 109px;
    font-family: "Rokkitt", serif;
    font-size: 18px;
    padding: 0px 6px;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 6px;
    }
}
textarea:focus {
    outline: none;
}
br {
    height: 6px;
    display: block;
    content: "";
}
.form-group {
    width: 100%;
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}
.form-group.check {
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-group label {
    float: left;
    margin-right: 6px;
}
.form-message {
    color: #f44336;
}
.btn {
    width: 99.999%;
    height: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: $primary-font;
    font-size: 21px;
    cursor: pointer;
    border-radius: 3px;
}
.btn-primary {
    position: relative;
    overflow: hidden;
    background: $secondary-color;
    color: $white;
    border: 0.9px solid rgba($black, 0.3);
    transition: all 0.3s linear;
    outline: none;
    font-family: $secondary-font;
}
.btn-primary:hover {
    background: #348ee8;
    color: $white;
    box-shadow: 0px 0px 8px #00bcd4a1;
    border: 0.9px solid rgba(0, 0, 0, 0.47);
    text-shadow: 0px 0px 3px #0000007d;
}
.btn-primary::after {
    content: "";
    background: rgba(190, 255, 182, 0.3);
    display: block;
    position: absolute;
    margin: auto;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.6s;
}
.btn-primary:active::after {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: 0s;
}
