.edit-project-container {
    position: relative;
    float: left;
    width: calc(100% - 66px);
    padding: 33px;
}

h2,
p {
    padding: 0px 15px;
}
.return {
    position: absolute;
    cursor: pointer;
    right: 33px;
    top: 36px;
    margin-right: 15px;
    color: #0969a5;
    border-bottom: 1px solid;
    outline: none;
}
.pdf-name {
    float: left;
    max-width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pdf-viewer-return {
    padding: 15px;
    width: calc(100% - 30px);
    height: 30px;
    line-height: 30px;
    position: relative;
}
.return-form {
    float: right;
    cursor: pointer;
    margin-right: 24px;
    color: #0969a5;
    border-bottom: 1px solid;
}
