<div class="edit-project-container" #projectContainer *ngIf="!pdfUrl">
    <div class="return" *ngIf="project" [routerLink]="['/project-dashboard']" [queryParams]="{id: project._id}"><i class="fas fa-chevron-left"></i> Tablero del proyecto</div>
    <h2>Editar proyecto</h2>
    <p>Edita los datos de tu proyecto en esta sección. Recuerda notificar a tus inversionistas los cambios realizados sobre el proyecto.</p>
    <app-project-form [project]="project" (pdfUrl)="showPdf($event)"></app-project-form>
</div>