<div class="convertations-container">
    <div class="header">
        <h2 class="title">Lista de conversaciones</h2>
    </div>
    <div class="convertations-list">
        <div [ngClass]="changeUserSelected && changeUserSelected._id==convertation._id?'convertation selected':'convertation'" *ngFor="let convertation of convertationsListFull" (click)="showMessages(convertation)">
            <div class="user-image">
                <img [src]="convertation.photoUrl" (getImageDimension)="setStyleImage($event,image)" #image />
            </div>
            <div class="user-description">
                <div class="user-name">
                    {{convertation.first_name}} {{convertation.last_name}}
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading-screen [loading]="loading"></app-loading-screen>