@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/fonts.scss";

.convertations-container {
    width: 88%;
    margin: 0px 15px;
    float: left;
}
.header {
    background: $secondary-color;
    color: white;
    padding: 6px 0px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
h2.title {
    text-align: center;
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 300;
}
.convertations-list {
    float: left;
    width: calc(99.999999% - 2.4px);
    padding: 12px 0px;
    border-left: 1.2px solid #d9d9d9;
    border-right: 1.2px solid #d9d9d9;
    border-bottom: 1.2px solid #d9d9d9;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.convertation {
    width: calc(90% - 2px);
    height: 45px;
    margin: 6px 5%;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    transition: all 0.15s linear;
}
.convertation:hover {
    border: 1px solid #2196f385;
}
.user-image {
    position: relative;
    width: 39px;
    height: 39px;
    border-radius: 3px;
    overflow: hidden;
    margin: 3px;
    float: left;
}
.user-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
img.horizontal-format {
    height: 100%;
    width: auto;
}
img.vertical-format {
    width: 100%;
    height: auto;
}
.user-description {
    width: calc(100% - 51px);
    height: 39px;
    margin: 3px;
    float: left;
}
.user-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.date {
    font-size: 15px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: gray;
    padding-right: 3px;
}
.convertation.selected {
    background: #e8e8e8;
}
