<div class="project-form" *ngIf="projectForm">
    <div class="first-section">
        <form name="form" [formGroup]="projectForm" (ngSubmit)="save()" novalidate>
            <div class="row">
                <div class="col xs12 sm12 md4 lg4 xl4">
                    <div class="form-group">
                        <input type="file" class="form-control file-upload" name="project_image" #file (change)="onFileChange($event)" />

                        <div [ngClass]="projectImageUrl ? 'file-upload-preview':'file-upload-preview white'">
                            <ng-container *ngIf="projectImageUrl">
                                <img [src]="projectImageUrl" (getImageDimension)="setStyleImage($event)" [ngClass]="imageStyle">
                            </ng-container>
                            <div [ngClass]="projectImageUrl ? 'file-upload-info hide':'file-upload-info'">
                                <div (click)="file.click()" class="btn-primary btn-upload">Imagen</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col xs12 sm12 md8 lg8 xl8">
                    <div class="form-group">
                        <label for="title">Titulo de tu idea</label>
                        <span *ngIf="projectForm.get('title').invalid && projectForm.get('title').errors.required" class="form-message"> (Campo requerido)</span>
                        <span *ngIf="projectForm.get('title').invalid && projectForm.get('title').errors.maxlength" class="form-message"> (Máx. 96 caracteres)</span>
                        <input type="text" class="form-control" name="title" formControlName="title" required />
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <span *ngIf="projectForm.get('description').invalid && projectForm.get('description').errors.required" class="form-message"> (Campo requerido)</span>
                        <span *ngIf="projectForm.get('description').invalid && projectForm.get('description').errors.maxlength" class="form-message"> (Máx. 999 caracteres)</span>
                        <textarea class="form-control description" name="description" formControlName="description" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="needs">Necesidades. ¿Qué crees que necesita tu negocio?</label>
                        <span *ngIf="projectForm.get('needs').invalid && projectForm.get('needs').errors.required" class="form-message"> (Campo requerido)</span>
                        <span *ngIf="projectForm.get('needs').invalid && projectForm.get('needs').errors.maxlength" class="form-message"> (Máx. 450 caracteres)</span>
                        <textarea class="form-control description" name="needs" formControlName="needs" required></textarea>
                    </div>

                    <div class="form-group">
                        <app-locations [projectForm]="projectForm" [project]="project" (saveLocation)="receiveChanges($event)"></app-locations>
                    </div>
                </div>
            </div>
            <div class="submit-form">
                <div class="form-invalid-message" *ngIf="formInvalidMessage">
                    ¡Por favor complete todos los campos!
                </div>
                <button type="submit" class="btn btn-primary">{{project._id==null?'Crear proyecto':'Guardar cambios'}}</button>
                <button type="button" class="btn btn-secondary" [routerLink]="!project || project._id==null?['/projects']:['/project-dashboard']" [queryParams]="project && project._id!=null?{id: project._id}:{}">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="second-section">
        <h3>¿Cómo está tu empresa?</h3>
        <p>Nos gustaría conocer un poco sobre las debilidades y fortalezas que posee tu empresa y como se encuentra en relación con el ambiente que la rodea en cuanto a oportunidades y amenazas.</p>
        <app-wost-matrix [projectForm]="projectForm" [project]="project" [formData]="formData" (saveWost)="save($event)"></app-wost-matrix>
    </div>

    <div class="third-section">
        <h3>Modelo de negocio</h3>
        <p>¿Ya conoces tu modelo de negocio? Si es así, te ayudaremos a refinarlo y validarlo.</p>
        <app-business-model-canvas [projectForm]="projectForm" [project]="project" (saveBMC)="save($event)"></app-business-model-canvas>
    </div>
</div>
<app-loading-screen [loading]="loading"></app-loading-screen>