@import "../../../../../assets/site/global.scss";
@import "../../../../../assets/site/grid.scss";

.btn {
    width: auto;
    font-size: 15px;
    padding: 3px 12px;
    text-align: center;
    float: left;
    margin-right: 6px;
}
.form-group label {
    width: auto;
    margin-right: 6px;
}
.create {
    width: 100%;
}
.file-upload {
    display: none;
}
.btn-primary.btn-upload {
    cursor: pointer;
    width: 150px;
    height: 33px;
    line-height: 33px;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.file-upload-preview {
    margin-top: 1px;
    width: 90%;
    height: 261px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s linear;
}
.file-upload-preview.white {
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.image-preview {
    margin: auto;
    width: 150%;
    height: auto;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
}
img.image-preview.horizontal-format {
    height: 100%;
    width: auto;
}
img.image-preview.vertical-format {
    height: auto;
    width: 100%;
}
.file-upload-preview.white:hover {
    background-color: white;
}
.file-upload-preview:hover {
    background-color: black;
}
.file-upload-preview:hover .image-preview {
    opacity: 0.3;
}
.file-upload-preview:hover .file-upload-info.hide {
    top: 0;
}
.file-upload-info.hide {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
}
.first-section,
.second-section,
.third-section,
.fourth-section {
    position: relative;
    padding: 33px 0px;
    margin: 0px 15px;
    width: calc(100% - 30px);
    float: left;
    border-bottom: 3px solid #ececec;
}
.first-section::after,
.second-section::after,
.third-section::after {
    content: "";
    display: block;
    border-left: 21px solid transparent;
    border-top: 21px solid #ececec;
    border-right: 21px solid transparent;
    border-bottom: 21px solid transparent;
    width: 0;
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
    margin: auto;
}
textarea.form-control.description {
    height: 93px;
}
h3 {
    margin-bottom: 12px;
}
.btn-secondary {
    border: 0.9px solid rgba(0, 0, 0, 0.3);
    transition: all 0.6s linear;
    outline: none;
    font-family: "Raleway", sans-serif;
    background: #989898;
    color: #fff;
}
.submit-form {
    float: left;
    width: 100%;
    margin: 18px 0px;
}
.form-invalid-message {
    margin: 12px 0px;
    color: #f44336;
}
