<div class="row">
    <div class="col xs12 sm6 md6 lg4 xl3 clearfix" *ngFor="let the_card of cards">
        <div class="card clearfix">
            <app-card [data]="the_card" [config]="config.configCard" (deleteRecord)="sendEventDelete($event)" (showContent)="show($event)"></app-card>
        </div>
    </div>
    <div class="pagination" *ngIf="pages && pages.length > 1">
        <div class="previous" (click)="previous()" *ngIf="bottomLimit!=1"> </div>
        <div *ngFor="let page_num of pages" (click)="selectPage(page_num);" [ngClass]="page==page_num?'page selected':'page'">
            {{page_num}}
        </div>
        <div class="next" (click)="next()" *ngIf="pagesNumber>9"> </div>
    </div>
</div>