@import "../../../../../assets/site/grid.scss";
@import "../../../../../assets/site/global.scss";

.card {
  padding: 15px;
}
.pagination {
  width: 100%;
  overflow: hidden;
  height: 33px;
  margin: 12px 0px;
  padding: 12px 0px;
  float: left;
  font-size: 27px;
  @media only screen and (max-width: $xs) {
    margin-bottom: 90px;
  }
  @media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
    margin-bottom: 90px;
  }
}
.page {
  color: #676767;
  float: left;
  font-size: 21px;
  padding: 0px 3px;
  cursor: pointer;
  margin: 0px 3px;
  min-width: 15px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  border: 1px solid white;
}
.page:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.page.selected {
  background: #2196f3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  transition: all 0.3s linear;
}
.next,
.previous {
  float: left;
  font-size: 21px;
  height: 27px;
  line-height: 27px;
  padding: 0px 6px;
  cursor: pointer;
  @extend %fa-icon;
  @extend .fas;
}

.previous {
  &:after {
    content: fa-content($fa-var-chevron-left);
  }
}

.next {
  &:after {
    content: fa-content($fa-var-chevron-right);
  }
}
